   <div class="bor-4">
    <!--  <a href="http://shop106256388.taobao.com"><img src="/assets/img/advt1.jpg" class="width-bar"></a> -->
   </div>
    <center><div class="between-the-ads">
   </div></center>
   <div class="bor-5">
       <a href="/home/%E8%B0%83%E6%9F%A5%E9%97%AE%E5%8D%B7"><img src="/assets/img/advt2.jpg" class="width-bar"></a>
   </div>
  	
	<div class="contactus-weibobor-1-1">   	
	<div class="zone3" >
         <div class="member-text4" >
         联系我们
         </div>
      </div>
	  
	  	
	  <div style="color:#999999;width:200px;margin-left:17px;border-bottom-style: dashed;border-bottom-width: 1px;border-bottom-color:#666666;font-size:12px;">
	  		<div>
	  			<div >
	  				<div style="float:left">
	  					<div style="font-weight: bold">官方微博
       <img src="/assets/img/MicBlog-gray.png" width="22" height="20"></div>
	  				<div style="width: 116px;font-size:12px;margin-top:15px;">http://e.weibo.com/</div><div style="width: 116px;font-size:12px">gelnicjapan</div>
	  			</div></div>
	  			<div><img src="/assets/img/dialoge-2.png" width="82" height="82"></div>
	  		</div>
	  		<div style="padding-bottom: 5px;font-size: 12px;font-weight: bold;">关注简妮官方微博，开启美丽新纪元</div>
	  	
	  	
	 </div>
	 <div  style="width:200px;margin-left:12px;height:94px;margin-top:8px;">
   		 <div class="last-text-tail" style="color:#999999">
     在线客服
   		 </div>
   		  <img src="/assets/img/person.png" class="person-1">
  		   <div class="cesstte">
   			  <a  target="_blank" href="http://amos.alicdn.com/getcid.aw?v=2&uid=gelnic%E7%AE%80%E5%A6%AE&site=cntaobao&s=1&groupid=0&charset=utf-8"><img style="margin-top:5px;" border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=gelnic%E7%AE%80%E5%A6%AE&site=cntaobao&s=1&charset=utf-8" alt="点击这里给我发消息" /></a>
  				  <ul>
   						 <li style="width:200px;">
   					  10:00-22:00周一至周日，除国定节假日外
   		 				 </li>
   		 				 
   			</ul>
    	    
    	    </div>
 	</div>
 </div> 
