<!doctype html>
<html>
<head>
<style type="text/css">
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
</style>
<link href="/assets/layout.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/about-gelnic.css" rel="stylesheet" type="text/css" media="screen" />
<meta charset="utf-8">
<title>member-left-</title>
</head>

<body>

<div id="member-left" style="float:left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       关于简妮
       </div>
    </div>
  </div>
  
  <center>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="9.5px"  > 简妮理念
      </div>
    </div>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="9.5px"  > 品牌故事
      </div>
    </div>
   <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="9.5px"  > 使命及愿景</div>
    </div>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="9.5px"  > 简妮大事记
      </div>
    </div>

    <div class="basket2-missJu-tech-aboutJN-lastone" >
      <div class="basket2-missJu" >
      <div class="member-text2-tips-tech">
       <img src="/assets/img/right-angle-green-big-one.png" height="17px" > 安心•安全
      </div>
    </div>
    </div>
  </center>

   
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
    <center><div class="between-the-ads">
   </div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
      <div class="contactus-weibobor-1">
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="/assets/img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="/assets/img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
    </div>
        
</div>

<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/%E5%85%B3%E4%BA%8E%E7%AE%80%E5%A6%AE">关于简妮</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="#">安心·安全</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;安心·安全</p>
           </div>
           <div class="safety_middle_1">
              <div class="history_middle_1_top">
                    <img class="history_middle_1_pic" src="/assets/img/logo_05.jpg" width="221" height="104">
                    <span class="history_middle_1_txt01">Feel the Nature, Feel the Power of Skin——感·本源之力</span>
              </div>
              <div>
                    <span class="history_middle_1_txt02">gelnic始终追求"最完美的品质"，从原料的甄选、生产到品质检测的整个环节都严格控制，并使用先进完善的</span>
                    <span class="history_middle_1_txt03">设备，确保最高的品质。</span>
              </div>
           </div>
           <div>
                    <img class="safety_middle_2_pic" src="/assets/img/about-JN-safety.png" width="662" height="430">
           </div>
     </div>
</div>

</body>
</html>
