<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>about-concept</title>
<link href="Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="about-gelnic.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1">首页</li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1">关于简妮</li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1">简妮理念</li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;简妮理念</p>
           </div>
           <div class="concept_middle_1">
                <img class="concept_middle_1_pic" src="img/aboutconcept-background.png" width="720" height="362">
           </div>
           <div class="concept_middle_2">
                 <div class="concept_midle_2_left">
                         <div class="concept_middle_2_left_top">
                               <p class="concept_middle_2_txt01">Feel the nature,Feel the power of skin--感·本源之力</p>
                         </div>
                         <div class="concept_middle_2_left_middle">
                               <p class="concept_middle_2_txt02">【Feel the Nature】--源自天然，信赖自然，引导肌肤由内而外焕发活力</p>
                               <p class="concept_middle_2_txt02">【Feel the Power of Skin】--绝不添加肌肤不需要的成分，激发肌肤本源之力</p>
                         </div>
                         <div class="concept_middle_2_left_bottem">
                               <p class="concept_middle_2_txt02">没有任何多余成分，减轻肌肤负担，引导肌肤自我修复。从婴儿到老人，甚至肌肤</p>
                               <p class="concept_middle_2_txt02">敏感人群都可使用。简妮gelnic怀着“让任何人都能够安心使用”的美好愿望，将</p>
                               <p class="concept_middle_2_txt02">呵护肌肤的商品送到每一位顾客手中。</p>
                         </div>
                 </div>
                 <div class="concept_midle_2_right">
                         <div class="concept_middle_2_right01">
                               <div class="concept_middle_2_right02">
                                    <p class="concept_middle_2_txt03">造成肌肤问题的几大原因是？</p>    
                               </div>
                               <div>
                                    <p class="concept_middle_2_txt04">睡眠不足</p>
                                    <p class="concept_middle_2_txt04">生理周期</p>
                                    <p class="concept_middle_2_txt04">工作忙碌</p>
                                    <p class="concept_middle_2_txt04">卸妆不干净</p>
                                    <p class="concept_middle_2_txt04">恶劣环境、干燥环境</p>
                                    <p class="concept_middle_2_txt04">化妆品在脸上时间过长(加班的时候)</p>
                               </div>
                         </div>
                         <div class="concept_middle_2_right03">
                               <img  src="img/everysection-percent.png" height="137" width="76">
                         </div>
                 </div>                
           </div>
           <div >
                 <p class="concept_middle_3_txt01">简妮gelnic认为“不必要的东西”是？</p>
                 <p class="concept_middle_3_txt02">以下这些成分在简妮gelnic的所有产品中绝对不会出现。</p>
                 <img class="concept_middle_3_pic" src="img/4circle-1st.png" width="80" height="80">
                 <img class="concept_middle_3_pic" src="img/4circle-2nd.png" width="80" height="80">
                 <img class="concept_middle_3_pic" src="img/4circle-3rd.png" width="80" height="80">
                 <img class="concept_middle_3_pic" src="img/4circle-4th.png" width="80" height="80">
                 <img class="concept_middle_3_pic" src="img/4circle-5th.png" width="80" height="80">                 
                 <div class="concept_middle_3_bottom">
                       <p>这种成分会分解皮肤</p>
                       <p>的保护膜——皮脂膜，</p>
                       <p>令肌肤变得敏感脆弱，</p>
                       <p>无法进行自我保护和</p>
                       <p>自行修复。</p>
                 </div>
                 <div class="concept_middle_3_bottom">
                       <p>由于黏着度过高，会堵</p>
                       <p>塞我们的毛孔；另外，</p>
                       <p>由于紫外线可以轻易穿</p>
                       <p>透矿物油，肌肤也会受</p>
                       <p>到紫外线辐射的影响。</p>
                 </div>
                 <div class="concept_middle_3_bottom">
                       <p>挥发性高，会带走肌肤</p>
                       <p>的水分，导致肌肤干燥</p>
                       <p>紧绷，另外，酒精成分也</p>
                       <p>会造成敏感肌肤的不适。</p>
                 </div>
                 <div class="concept_middle_3_bottom">
                       <p>对肌肤没有任何好处</p>
                       <p>的合成香料只会平添</p>
                       <p>负担，长期积累会导致</p>
                       <p>肌肤粗糙。</p>
                 </div>
                 <div class="concept_middle_3_bottom">
                      <p>如果焦油色素的含量</p>
                      <p>过多，长期使用会造成</p>
                      <p>色素沉淀，令脸色灰暗</p>
                      <p>枯黄。</p>
                 </div>
           </div>
     </div>
</div>
</body>
</html>
