<!doctype html>
<html>
<body>

<div id="member-left" style="float:left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       关于简妮
       </div>
    </div>
  </div>
  
  <center>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > <a href="/%E5%85%B3%E4%BA%8E%E7%AE%80%E5%A6%AE/%E7%AE%80%E5%A6%AE%E7%90%86%E5%BF%B5">简妮理念</a>
      </div>
    </div>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > <a href="/%E5%85%B3%E4%BA%8E%E7%AE%80%E5%A6%AE/%E5%93%81%E7%89%8C%E6%95%85%E4%BA%8B">品牌故事</a>
      </div>
    </div>
  
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > <a href="/%E5%85%B3%E4%BA%8E%E7%AE%80%E5%A6%AE/%E7%AE%80%E5%A6%AE%E5%A4%A7%E4%BA%8B%E8%AE%B0">简妮大事记</a>
      </div>
    </div>

    <div class="basket2-missJu-tech-aboutJN-lastone" >
      <div class="basket2-missJu" >
      <div class="member-text2-tips-tech">
       <img src="/assets/img/right-angle-green-big-one.png" height="12px" > 安心•安全
      </div>
    </div>
    </div>
  </center>

   
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
    <center><div class="between-the-ads">
   </div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
      <div class="contactus-weibobor-1">
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="/assets/img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="/assets/img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
    </div>
        
</div>

<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/%E5%85%B3%E4%BA%8E%E7%AE%80%E5%A6%AE">关于简妮</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="#">安心·安全</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;安心·安全</p>
           </div>
           <%=raw @page.content_for(:safety) %>
     </div>
</div>

</body>
</html>
