<!doctype html>
<html>
<head>
<style type="text/css">
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
</style>
<link href="layout.css" rel="stylesheet" type="text/css" media="screen" />

<title>个人信息</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="Member-information-firstlogin.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>

<div class="middle-xp">


<div id="member-left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
      		 会员专区
       </div>
    </div>
  </div>
  
  <center>
    
    <div class="basket2" >
      <div class="member-text2">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 
       <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E5%88%B6%E5%BA%A6">会员制度</a>
      </div>
    </div>
    
    <div class="basket2" >
      <div class="member-text2">
      <img src="/assets/img/down-angle-green.jpg" height="7px" > 
      会员中心
      </div>
    </div>
 
  </center>
 <div class="for-one-line-left">
  <ul>
   <center>
 
     <li class="zone2"><img src="/assets/img/right-angle-empty.png"  class="img-margin">
    <span class="member-text3"> 个人信息</span>
    </li>
  </center>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%88%91%E7%9A%84%E7%A7%AF%E5%88%86">我的积分</a></li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E5%85%91%E6%8D%A2%E7%A7%AF%E5%88%86">兑换积分</a></li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png"  class="img-margin2">
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%9F%A5%E7%9C%8B%E5%85%91%E6%8D%A2%E5%8E%86%E5%8F%B2">查看兑换历史</a></li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2">
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%88%91%E7%9A%84%E8%AE%A2%E5%8D%95">我的订单</a></li>
 
  
  </ul>
   </div>
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
    <center><div class="between-the-ads-tech"></div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  <div class="for-one-line-left">
      
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="/assets/img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="/assets/img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
http://weibo.com/</a> 
       </li>
       
  </ul>
    
    </div>  
</div>

<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
			<li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
			<li class="resetpw_head_txt1"><a href="/会员专区">会员专区</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
			<li class="resetpw_head_txt1"><a href="/会员专区/会员中心">会员中心</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
			<li class="resetpw_head_txt1"><a href="/会员专区/会员中心/个人信息">个人信息</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;会员基本信息&nbsp;&nbsp;*为必填内容</p>
           </div>
           
           <div class="firsrlogin_middle">
               
               <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td   class="firstlogin_middle_2">*</td>
                              <td   class="firstlogin_middle_3">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</td>
                              <td   class="firstlogin_middle_4" ><label id="name"></label> </td>
                     </tr>
               </table>
               <table class="firstlogin_middle_1"  border="0" cellpadding="0" cellspacing="0" >
                      <tr>
                              <td   class="firstlogin_middle_2">*</td>
                              <td   class="firstlogin_middle_3">生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日：</td>  
                              <td   class="firstlogin_middle_7_1" > <label id="birthday"></label></td>
                      </tr>
               </table>
               <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td   class="firstlogin_middle_2">*</td>
                              <td   class="firstlogin_middle_3">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</td>
                              <td   class="firstlogin_middle_9" >
                              <label id="sex"></label> </td>
                     </tr>
              </table>
              <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td    class="firstlogin_middle_2">*</td>
                              <td    class="firstlogin_middle_3">手机号码:</td>
                              <td    class="firstlogin_middle_4" ><label id="mobile"></label></td>
                     </tr>
               </table>
               <table   class="firstlogin_middle_1" border="0" cellpadding="0" cellspacing="0" >
                      <tr>
                              <td   class="firstlogin_middle_2">*</td>
                              <td   class="firstlogin_middle_3">电子杂志:</td>
                              <td   class="firstlogin_middle_9" >
                              <input  id="subscribe" name="magazine" type="radio" value="0" checked>
                              <label id="subscribe" class="firstlogin_middle_8">订阅</label></td>
                              <td   class="firstlogin_middle_9" >
                              <input  id="notsubscribe" type="radio" value="1" name="magazine" >
                              <label id="notsubscribe" name="magazine" class="firstlogin_middle_8">不订阅</label></td>
                     </tr>
               </table>
                <table   class="firstlogin_middle_1" border="0" cellpadding="0" cellspacing="0" >
                      <tr>
                              <td   class="firstlogin_middle_2">*</td>
                              <td   class="firstlogin_middle_3">省&nbsp;市&nbsp;区：</td>
                              <td   class="firstlogin_middle_10" >
                              <label id="province"></label>
                              <select id="province" name="province" class="firstlogin_middle_dropdown3"><option>不限</option></select></td>
                              <td   class="firstlogin_middle_8">省</td>
                              <td   class="firstlogin_middle_10" >
                              <label id="city"></label>
                              <select id="city"name="city" class="firstlogin_middle_dropdown3"><option>不限</option></select></td>
                              <td   class="firstlogin_middle_8">市</td>
                              <td  class="firstlogin_middle_10" >
                              <label id="district"></label>
                              <select id="district" name="district" class="firstlogin_middle_dropdown3"><option >不限</option></select></td>
                              <td   class="firstlogin_middle_8">区</td>
                      </tr>
               </table>
               <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td    class="firstlogin_middle_2">*</td>
                              <td    class="firstlogin_middle_3">详细地址:</td>
                              <td    class="firstlogin_middle_4" >
                              <label id="address"> </label>
                              <input id="address" type="text" class="firstlogin_middle_5"></td>
                              <td    class="firstlogin_middle_6" >为保证您能尽快体验到简尼商品，请确保您填写的地址真实有效</td>
                     </tr>
               </table>
               <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td    class="firstlogin_middle_2">*</td>
                              <td    class="firstlogin_middle_3">邮政编码:</td>
                              <td    class="firstlogin_middle_4" >
                              <label id="postalcode"> </label>
                              <input id="postalcode" type="text" class="firstlogin_middle_5"></td>
                     </tr>
               </table>
               <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td   class="firstlogin_middle_2"></td>
                              <td   class="firstlogin_middle_3">固定电话:</td>
                              <td   class="firstlogin_middle_11_1" >
                              <label id="areacode"> </label>
                              <input id="areacode" type="text" class="firstlogin_middle_11_2"></td>
                              <td   class="firstlogin_middle_11_7" >区号</td>
                              <td   class="firstlogin_middle_11_3" >
                              <label id="telephone"> </label>
                              <input id="telephone " type="text" class="firstlogin_middle_11_5"></td>
                              <td   class="firstlogin_middle_11_4" >电话号码</td>
                              <td   class="firstlogin_middle_11_1" >
                              <label id="extensionnumber"> </label>
                              <input id="extensionnumber " type="text" class="firstlogin_middle_11_2"></td>
                              <td   class="firstlogin_middle_11_6" >分机号</td>
                     </tr>     
               </table>
                <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td   class="firstlogin_middle_2"></td>
                              <td   class="firstlogin_middle_3">Weibo账号:</td>
                              <td   class="firstlogin_middle_4" >
                              <label id="weibo"> </label>
                              <input id="weibo" type="text" class="firstlogin_middle_5"></td>
                              <td   class="firstlogin_middle_6" >关注gelnic官方微博，获取最新商品及优惠信息，还能参加商品免费活动哦</td>
                     </tr>
               </table>
               <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td   class="firstlogin_middle_2"></td>
                              <td   class="firstlogin_middle_3">微信账号:</td>
                              <td   class="firstlogin_middle_4" >
                              <label id="weixin"> </label>
                              <input id="weixin" type="text" class="firstlogin_middle_5"> </td>
                              <td    class="firstlogin_middle_6" >关注gelnic公众账号，获取最新商品及优惠信息，还能参加商品免费活动哦</td>
                     </tr>
               </table>
               
           </div>
           
           <div class="resetpw_bottom">               
                <div class="resetpw_bottom_save">
                     <input id="saveinformation"   type="submit" value="完成并保存"  >
                </div>
                <div class="resetpw_bottom_cancel">
                     <input id="resetinformation" type="reset" value="重新填写"  >
                </div>  
                <div class="firstlogin_bottom_picture"> 
                        <img src="/assets/img/picture-1.jpg" width="717" height="84">
                </div>                             
          </div>
     </div>
</div>
</body>
</html>
