<!doctype html>
<html>
<head>
<style type="text/css">
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
</style>
<link href="/assets/layout.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/about-gelnic.css" rel="stylesheet" type="text/css" media="screen" />
<meta charset="utf-8">
<title>member-left-</title>
</head>

<body>

<div id="member-left" style="float:left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       关于简妮
       </div>
    </div>
  </div>
  
  <center>
    <div class="basket2-missJu" >
      <div class="member-text2-tips-tech">
      <img src="/assets/img/right-angle-green-big-one.png" height="12px" > 简妮理念
      </div>
    </div>
 <center><div class="between-the-ads-tech">
   </div></center>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 品牌故事
      </div>
    </div>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 使命及愿景</div>
    </div>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 简妮大事记
      </div>
    </div>
    <div class="basket2-missJu-tech-aboutJN-lastone" >
      <div class="member-text2-aboutJN-lastone">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 安心•安全
      </div>
    </div>
  </center>

   
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
    <center><div class="between-the-ads">
   </div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
      <div class="contactus-weibobor-1">
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="/assets/img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="/assets/img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
    </div>
        
</div>

<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/%E5%85%B3%E4%BA%8E%E7%AE%80%E5%A6%AE">关于简妮</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="#">简妮理念</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;简妮理念</p>
           </div>
           <div class="concept_middle_1">
                <img class="concept_middle_1_pic" src="/assets/img/aboutconcept-background.png" width="720" height="362">
           </div>
           <div class="concept_middle_2">
                 <div class="concept_midle_2_left">
                         <div class="concept_middle_2_left_top">
                               <span class="concept_middle_2_txt01">Feel the nature,Feel the power of skin--感·本源之力</span>
                         </div>
                         <div class="concept_middle_2_left_middle">
                               <span class="concept_middle_2_txt02">【Feel the Nature】--源自天然，信赖自然，引导肌肤由内而外焕发活力</span>
                               <span class="concept_middle_2_txt02">【Feel the Power of Skin】--绝不添加肌肤不需要的成分，激发肌肤本源之力</span>
                         </div>
                         <div class="concept_middle_2_left_bottem">
                               <span class="concept_middle_2_txt02">没有任何多余成分，减轻肌肤负担，引导肌肤自我修复。从婴儿到老人，甚至肌肤</span>
                               <span class="concept_middle_2_txt02">敏感人群都可使用。简妮gelnic怀着“让任何人都能够安心使用”的美好愿望，将</span>
                               <span class="concept_middle_2_txt02">呵护肌肤的商品送到每一位顾客手中。</span>
                         </div>
                 </div>
                 <div class="concept_midle_2_right">
                         <div class="concept_middle_2_right01">
                               <div class="concept_middle_2_right02">
                                    <span class="concept_middle_2_txt03">造成肌肤问题的几大原因是？</span>    
                               </div>
                               <div>
                                    <span class="concept_middle_2_txt04">睡眠不足</span>
                                    <span class="concept_middle_2_txt04">生理周期</span>
                                    <span class="concept_middle_2_txt04">工作忙碌</span>
                                    <span class="concept_middle_2_txt04">卸妆不干净</span>
                                    <span class="concept_middle_2_txt04">恶劣环境、干燥环境</span>
                                    <span class="concept_middle_2_txt04">化妆品在脸上时间过长(加班的时候)</span>
                               </div>
                         </div>
                         <div class="concept_middle_2_right03">
                               <img  src="/assets/img/everysection-percent.png" height="137" width="76">
                         </div>
                 </div>                
           </div>
           <div >
                 <span class="concept_middle_3_txt01">简妮gelnic认为“不必要的东西”是？</span>
                 <span class="concept_middle_3_txt02">以下这些成分在简妮gelnic的所有产品中绝对不会出现。</span>
                 <img class="concept_middle_3_pic" src="/assets/img/4circle-1st.png" width="80" height="80">
                 <img class="concept_middle_3_pic" src="/assets/img/4circle-2nd.png" width="80" height="80">
                 <img class="concept_middle_3_pic" src="/assets/img/4circle-3rd.png" width="80" height="80">
                 <img class="concept_middle_3_pic" src="/assets/img/4circle-4th.png" width="80" height="80">
                 <img class="concept_middle_3_pic" src="/assets/img/4circle-5th.png" width="80" height="80">                 
                 <div class="concept_middle_3_bottom">
                       <span>这种成分会分解皮肤</span>
                       <span>的保护膜——皮脂膜，</span>
                       <span>令肌肤变得敏感脆弱，</span>
                       <span>无法进行自我保护和</span>
                       <span>自行修复。</span>
                 </div>
                 <div class="concept_middle_3_bottom">
                       <span>由于黏着度过高，会堵</span>
                       <span>塞我们的毛孔；另外，</span>
                       <span>由于紫外线可以轻易穿</span>
                       <span>透矿物油，肌肤也会受</span>
                       <span>到紫外线辐射的影响。</span>
                 </div>
                 <div class="concept_middle_3_bottom">
                       <span>挥发性高，会带走肌肤</span>
                       <span>的水分，导致肌肤干燥</span>
                       <span>紧绷，另外，酒精成分也</span>
                       <span>会造成敏感肌肤的不适。</span>
                 </div>
                 <div class="concept_middle_3_bottom">
                       <span>对肌肤没有任何好处</span>
                       <span>的合成香料只会平添</span>
                       <span>负担，长期积累会导致</span>
                       <span>肌肤粗糙。</span>
                 </div>
                 <div class="concept_middle_3_bottom">
                      <span>如果焦油色素的含量</span>
                      <span>过多，长期使用会造成</span>
                      <span>色素沉淀，令脸色灰暗</span>
                      <span>枯黄。</span>
                 </div>
           </div>
     </div>
</div>

</body>
</html>
