<!doctype html>
<html>
<head>
<style type="text/css">
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
</style>
<link href="/assets/layout.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/about-gelnic.css" rel="stylesheet" type="text/css" media="screen" />
<meta charset="utf-8">
<title>member-left-</title>
</head>

<body>

<div id="member-left" style="float:left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       关于简妮
       </div>
    </div>
  </div>
  
  <center>
    <div class="basket2-missJu" >
      <div class="member-text2-tips-tech">
      <img src="/assets/img/right-angle-green-big-one.png" height="12px" > 简妮理念
      </div>
    </div>
 <center><div class="between-the-ads-tech">
   </div></center>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > <a href="/%E5%85%B3%E4%BA%8E%E7%AE%80%E5%A6%AE/%E5%93%81%E7%89%8C%E6%95%85%E4%BA%8B">品牌故事</a>
      </div>
    </div>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 使命及愿景</div>
    </div>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > <a href="/%E5%85%B3%E4%BA%8E%E7%AE%80%E5%A6%AE/%E7%AE%80%E5%A6%AE%E4%BA%8B%E8%AE%B0">简妮大事记</a>
      </div>
    </div>
    <div class="basket2-missJu-tech-aboutJN-lastone" >
      <div class="member-text2-aboutJN-lastone">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > <a href="/%E5%85%B3%E4%BA%8E%E7%AE%80%E5%A6%AE/%E5%AE%89%E5%BF%83%E5%AE%89%E5%85%A8">安心•安全</a>
      </div>
    </div>
  </center>

   
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
    <center><div class="between-the-ads">
   </div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
      <div class="contactus-weibobor-1">
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="/assets/img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="/assets/img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
    </div>
        
</div>

<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/%E5%85%B3%E4%BA%8E%E7%AE%80%E5%A6%AE">关于简妮</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="#">简妮理念</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;简妮理念</p>
           </div>
           <div class="concept_middle_1">
                <img class="concept_middle_1_pic" src="/assets/img/aboutconcept-background.png" width="720" height="362">
           </div>
           <div class="concept_middle_2">
                 <div class="concept_midle_2_left">
                         <div class="concept_middle_2_left_top">
                               Feel the nature,Feel the power of skin--感·本源之力
                         </div>
                         <div class="concept_middle_2_left_middle">
                               <p>【Feel the Nature】--源自天然，信赖自然，引导肌肤由内而外焕发活力</p>
                               <p>【Feel the Power of Skin】--绝不添加肌肤不需要的成分，激发肌肤本源之力</p>
                         </div>
                         <div class="concept_middle_2_left_bottem">
                               没有任何多余成分，减轻肌肤负担，引导肌肤自我修复。从婴儿到老人，甚至肌肤敏感人群都可使用。简妮gelnic怀着“让任何人都能够安心使用”的美好愿望，将呵护肌肤的商品送到每一位顾客手中。
                         </div>
                 </div>
                 <div class="concept_midle_2_right">
                         <div class="concept_middle_2_right01">
                               <div class="concept_middle_2_right02">
							        <div class="concept_middle_2_txt03">
                                          <p>造成肌肤问题的几大原因是？</p> 
									</div>   
                               </div>
                               <div class="concept_middle_2_txt04">
                                    <p>睡眠不足</p>
                                    <p>生理周期</p>
                                    <p>工作忙碌</p>
                                    <p>卸妆不干净</p>
                                    <p>恶劣环境、干燥环境</p>
                                    <p>化妆品在脸上时间过长(加班的时候)</p>
                               </div>
                         </div>
                         <div class="concept_middle_2_right03">
                               <img  src="/assets/img/everysection-percent.png" height="137" width="76">
                         </div>
                 </div>                
           </div>
           <div >
                 <div class="concept_middle_3_txt01">简妮gelnic认为“不必要的东西”是？</div>
                 <div class="concept_middle_3_txt02">
				      <p>以下这些成分在简妮gelnic的所有产品中绝对不会出现。</p>
			     </div>
                 <img class="concept_middle_3_pic" src="/assets/img/4circle-1st.png" width="80" height="80">
                 <img class="concept_middle_3_pic" src="/assets/img/4circle-2nd.png" width="80" height="80">
                 <img class="concept_middle_3_pic" src="/assets/img/4circle-3rd.png" width="80" height="80">
                 <img class="concept_middle_3_pic" src="/assets/img/4circle-4th.png" width="80" height="80">
                 <img class="concept_middle_3_pic" src="/assets/img/4circle-5th.png" width="80" height="80">                 
                 <div class="concept_middle_3_bottom">
				       <div class="concept_middle_3_txt03>
                           这种成分会分解皮肤的保护膜——皮脂膜，令肌肤变得敏感脆弱，无法进行自我保护和自行修复。
					   </div>
                 </div>
                 <div class="concept_middle_3_bottom">
				       <div class="concept_middle_3_txt03>
                           由于黏着度过高，会堵塞我们的毛孔；另外，由于紫外线可以轻易穿透矿物油，肌肤也会受到紫外线辐射的影响。
					   </div>
                 </div>
                 <div class="concept_middle_3_bottom">
				       <div class="concept_middle_3_txt03>
                           挥发性高，会带走肌肤的水分，导致肌肤干燥紧绷，另外，酒精成分也会造成敏感肌肤的不适。
					   </div>
                 </div>
                 <div class="concept_middle_3_bottom">
				       <div class="concept_middle_3_txt03>
                           对肌肤没有任何好处的合成香料只会平添负担，长期积累会导致肌肤粗糙。
					   </div>
                 </div>
                 <div class="concept_middle_3_bottom">
				      <div class="concept_middle_3_txt03>
                           如果焦油色素的含量过多，长期使用会造成色素沉淀，令脸色灰暗枯黄。
					  </div>
                 </div>
           </div>
     </div>
</div>

</body>
</html>
