<!doctype html>
<html>

<body>

<div id="member-left" style="float:left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       联系我们
      </div>
    </div>
  </div>
  
  <center>
  </center>
 

   
   
      <%= render :partial => "/refinery/pages/left_contactus.html.erb" %> 
      
</div>

<div id="content_right">
<div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="#">联系我们</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
           
                <p class="resetpw_top_txt-contactus">联系我们</p>
           </div>
           
           <%=raw @page.content_for(:contactus) %>
      
</div>


</div>

</body>
</html>
