<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>客户心声</title>
</head>
<% content_for :stylesheets do %>
<style>
p{
	font-size:12px;
	color:#666666;
    line-height:24px;
	width:586px;
	margin:0px;
}

h3{
	font-size:12px;
    line-height:24px;
	letter-spacing:1px;	
	margin:0px;
}

</style>
<% end %>
<body>

<div id="member-left" style="float:left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       美容小贴士
       </div>
    </div>
  </div>
  
  <center>
   <div class="basket2-missJu" >
      <div class="member-text2">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 
       <a href="/%E7%BE%8E%E5%AE%B9%E5%B0%8F%E8%B4%B4%E5%A3%AB/%E7%BE%8E%E5%AE%B9%E6%8A%80%E5%B7%A7">美容技巧</a>
      </div>
    </div>

    <div class="basket2-missJu-tech-1" > 
    
      <div class="member-text2-tips-tech" style="padding-left: 28px;">
      <img src="/assets/img/right-angle-green-big-one.png" height="12px" > 
      客户心声
      </div>
    </div>
    
  </center>

   
   
     <%= render :partial => "/refinery/pages/left_contactus.html.erb" %> 
    
        
</div>

<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/美容小贴士">美容小贴士</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="#">客户心声</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;客户心声</p>
           </div>
           <%=raw @page.content_for(:voice) %>          
     </div>
</div>

</body>
</html>
