<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>客户心声</title>
</head>
<% content_for :stylesheets do %>
<style>
p{
	font-size:12px;
	color:#666666;
    line-height:24px;
	width:586px;
	margin:0px;
}

h3{
	font-size:12px;
    line-height:24px;
	letter-spacing:1px;	
	margin:0px;
}

</style>
<% end %>
<body>

<div id="member-left" style="float:left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       美容小贴士
       </div>
    </div>
  </div>
  
  <center>
   <div class="basket2-missJu" >
      <div class="member-text2">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 
       美容技巧
      </div>
    </div>

    <div class="basket2-missJu-tech-1" > 
    
      <div class="member-text2-tips-tech">
      <img src="/assets/img/right-angle-green-big-one.png" height="12px" > 
      客户心声
      </div>
    </div>
    
  </center>

   
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
    <center><div class="between-the-ads">
   </div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
      <div class="contactus-weibobor-1">
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="/assets/img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="/assets/img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
    </div>
        
</div>

<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/美容小贴士">美容小贴士</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="#">客户心声</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;客户心声</p>
           </div>
           <div class="tips1_top">
                <div class="tips1_middle_pic01">
                       <img src="/assets/img/customer-banner.png" width="720" height="181">
                 </div>              
           </div> 
           <div class="customer_top">
                 <div class="customer_top_left">
                       <img src="/assets/img/customer-letter.png" width="190" height="190">
                 </div>
                 <div>
                       <div class="customer_top_right01">
                            <div class="customer_top_txt01">因为是直接在皮肤上使用的东西，所以怀着"制作能让顾客持久爱用的产品"的理念，用心制作，迎来上市销售后的第22个年头。对广大顾客表示衷心感谢。</div>
                       </div>
                       <div class="customer_top_right02">
                             <div class="customer_top_txt01">许多顾客非常喜欢使用我们的产品,分享了很多快乐的声音给我们。虽然不多，下面就来分享一下这些客户发自内心的想法。</div>
                             <div class="customer_top_txt01">※ 以下为顾客实际撰写的内容。</div>
                       </div>
                       <div class="customer_top_right03">
                              <div class="customer_top_txt01">(各位真的写得很认真呢。太感谢大家了！！)</div>
                             <div class="customer_top_txt01">今后也请大家多多关照，继续使用我们的产品。</div>
                       </div>
                       <div class="customer_top_right04">
                              <div class="customer_top_txt02">等候各位发表您的声音！请大家多多投稿吧！！</div>
                       </div>
                 </div>
           </div> 
           <div class="tabbed_area">
                 <div class="tabs">
                       <ul>
                               <li><a  id="tab_1" class="active">保湿润泽乳霜</a></li>
                               <li><a  id="tab_2" >清爽洁面啫喱</a></li>
                               <li><a  id="tab_3" >去角质亮肤啫喱</a></li>
                       </ul>
                 </div>
                 <div class="customer_middle">
                       <div id="content_1">  
                              <div class="content_1_1">
                                    <div class="content_1_1_left">
                                          <img src="/assets/img/common-face.png" width="106" height="175">
                                    </div> 
                                    <div class="content_1_1_right">
                                          <h3>東京都　T・A 女士</h3>
                                          <h3>[ 能遇见这么好的商品，真是太好了 ]</h3>
                                          <p>到冬天的话脸特别是嘴巴周围特别干燥，像是涂了层粉一般，特别苦恼，我的义母给我推荐了Home Cream。实际试着使用之后，之前的干燥一下子就神奇地消失了，之前那么干燥的肌肤，整年都能保持滋润。这么好的商品，就把它推荐给了母亲和祖母，他们也非常喜欢，放弃了使用了几十年的化妆水和乳液，而改为使用此款Home Cream了。能遇见这么好的商品，真是太好了。 </p>
                                     </div>   
                                     <div style="clear:both"></div>                                 
                              </div>
                              <div class="content_1_2">
                                     <div class="content_1_1_left">
                                          <img class="content_1_pic01" src="/assets/img/Mrs-KU.png" width="80" height="108">
                                     </div>
                                     <div class="content_1_1_right">
                                           <h3>山口县　K・Ｕ 女士  </h3>
                                           <h3>[ 朋友夸我皮肤好呢！ ]</h3>
                                           <p>朋友夸我「肌肤紧致，小皱纹很少」。</p>
                                           <p>我每次都涂抹很多Home Cream。</p>
                                           <p>替换装的话性价比很高，很喜欢。</p>
                                     </div>
                                     <div style="clear:both"></div>
                              </div> 
                                <div class="content_1_1">
                                    <div class="content_1_1_left">
                                          <img class="content_1_pic01" src="/assets/img/Mrs-NN.png" width="80" height="108">
                                    </div> 
                                     <div class="content_1_1_right">
                                          <h3>埼玉县　Ｎ・Ｎ女士</h3>
                                          <h3>[ 最适合怕麻烦的我啦！ ]</h3>
                                          <p>洗完澡、洗完脸后，只需这一瓶就够了，最适合怕麻烦的我啦（笑）。抱着小宝宝的时候，使用按压装的话只要用一只手轻轻一按就能涂抹了…我的肌肤很干燥，一到冬天或者季节更替的时候，总是要去皮肤科看医生，皮肤和脖子周围也会有干燥的时候，用了2年之后，再也不用去皮肤科了，冬天的肌肤也不干燥了。尽情使用的话价格也很令人满意！</p>
                                     </div>  
                                     <div style="clear:both"></div>                                  
                              </div> 
                                <div class="content_1_2">
                                     <div class="content_1_1_left">
                                          <img class="content_1_pic02" src="/assets/img/common-face-yellow.png" width="90" height="108">
                                     </div>
                                     <div class="content_1_1_right">
                                           <h3>奈良县　Ｍ・Ｍ 女士  </h3>
                                           <h3>[ 家里人都很喜欢用它来护理肌肤！ ]</h3>
                                           <p>老公肌肤很干燥，为此很是烦恼，很多年来一直在寻找能温柔滋润肌肤的乳液，直到遇见了温和的简妮产品！有一次碰见老家的老妈正好在用，她强烈推荐我一定要试试看，所以就开始使用了。使用之后，老公和宝宝都会在洗完澡后涂抹，一家人用的不亦可乎。现在已经成了家人微笑护肤的必备品，我每天的化妆也更加令人期待呢。老公的肌肤比起之前虽然谈不上完美改善，但是干燥粗糙的情况已经大有改善呢。</p>
                                           <p>今后也会继续使用的。</p>
                                     </div>
                                     <div style="clear:both"></div>
                              </div>
                               <div class="content_1_1">
                                    <div class="content_1_1_left">
                                          <img class="content_1_pic03" src="/assets/img/Mrs-face-KT.png" width="90" height="108">
                                    </div> 
                                    <div class="content_1_1_right">
                                          <h3>北海道　Ｋ・Ｔ 女士</h3>
                                          <h3>[ 今后又多了一个喜爱简妮的理由呢！ ]</h3>
                                          <p>只需一个产品就能完成护肤，方便简单，我已经持续用了10年了。现在只要不涂抹的话，我和肌肤都会觉得有些缺少些什么呢。涂抹后的润泽感，直到第二天也能保持滋润，一点也不干燥紧绷。老公和小孩每天早晚也会使用，一家人整个冬天都没有肌肤干燥的感觉呢。</p>
                                          <p>今后也会一直使用下去的！！</p>
                                     </div>          
                                     <div style="clear:both"></div>                                
                              </div> 
                             <div class="content_1_2">
                                     <div class="content_1_1_left">
                                          <img class="content_1_pic02" src="/assets/img/common-face-yellow.png" width="90" height="108">
                                     </div>
                                    <div class="content_1_1_right">
                                           <h3>千叶县　Ｔ・Ｓ 小姐</h3>
                                           <h3>[ 我最必不可少的必需品！ ]</h3>
                                           <p>肌肤干燥让我很是苦恼，尝试了很多种产品都不能让我满意。一个朋友向我推荐了这款产品，第一次用的瞬间便感觉"太神奇了！！"。之前的肌肤问题一扫而空。这款Home Cream已经是我生存下去的必需品了呢。</p>
                                           <p>作为礼物送给73岁的母亲的时候,"第一次有这种感觉！！真不错！！"，她也很开心。化完妆的时候，在需要留意的地方稍微涂抹后，不容易掉妆，持续滋润。</p>
                                     </div>
                                     <div style="clear:both"></div>
                             </div> 
                             <div class="content_1_1">
                                    <div class="content_1_1_left">
                                          <img class="content_1_pic03" src="/assets/img/Mrs-face-NO.png" width="90" height="108">
                                    </div> 
                                     <div class="content_1_1_right">
                                          <h3>愛知县　Ｎ・Ｏ 女士</h3>
                                          <h3>[ 持续用了２０多年！ ]</h3>
                                          <p>进入公司的20多年前开始就一直有在用。</p>
                                          <p>使用简单，护肤效果也很好，向周围4个朋友都介绍了，都很喜欢。</p>
                                          <p>今后也会继续使用的。</p>
                                    </div>        
                                    <div style="clear:both"></div>                             
                            </div>
                             <div class="content_1_2">
                                     <div class="content_1_1_left">
                                          <img class="content_1_pic03" src="/assets/img/Mrs-face-RF.png" width="90" height="108">
                                     </div>
                                      <div class="content_1_1_right">
                                           <h3>宮城县　Ｒ・Ｆ女士</h3>
                                           <h3>[ 家里人都很喜欢用 ]</h3>
                                           <p>家里人都很喜欢用。</p>
                                           <p>儿子出生的时候，朋友把这款产品作为礼物送给我，于是今后就一直用到现在。</p>
                                           <p>听说宝宝也能用，于是马上就给宝宝试着涂抹了，现在到了中学，也会每天涂抹。</p>
                                           <p>多亏了这个产品，连青春痘都没有发过，周围的妈妈们都来打听肌肤护理的诀窍呢。</p>
                                           <p>我自己也在生完小孩后，身体变得非常干燥，涂抹在全身之后效果非常好，于是就再也放不下了。</p>
                                           <p>最近也开始在干燥的头发上使用，比起润发素更加舒适，非常喜欢。</p>
                                           <p>也给长期卧床需要照料的父亲洗完澡、洗完脸后使用，正式这个原因，护工和护士们都夸赞我父亲的皮肤好，也没有发生褥疮的症状。</p>
                                           <p>母亲也在做淋巴按摩的时候使用，使用质地舒适，也没有令人厌烦的香味（母亲对香味过敏）</p>
                                           <p>肌肤性质差的母亲有持续使用，一点问题也没有。</p>
                                           <p>当然，老公在剃须的时候或是洗脸、洗澡后使用，连出差的时候都带着。</p>
                                           <p>能遇到Home Cream这款产品是在太好了。</p>
                                     </div>
                                     <div style="clear:both"></div>
                              </div>                      
                       </div>
                 </div>
           
          </div> 
     </div>
</div>

</body>
</html>
