<!doctype html>
<html>
<head>
<style type="text/css">
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
</style>
<link href="/assets/layout.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/Member-information-findpassword-1.css" rel="stylesheet" type="text/css" media="screen" />

<meta charset="utf-8">
<title>member-left-contactus</title>
</head>

<body>

<div id="member-left" style="float:left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       免责声明&隐私权限
      </div>
    </div>
  </div>
  
  <center>
  </center>
 

   
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
   <center><div class="between-the-ads">
   </div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
  <div class="contactus-weibobor-1">      
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
      
  <ul>
       <li class="member-text5" >
       <div class="alter-the-weibopositon">官方微信</div> <div>
       <img src="/assets/img/wechat-gray.png" class="wechatweibo1"  ></div>
       </li>
       <li class="member-text5">
       <div class="alter-the-weibopositon">官方微博</div>
       <div>
       <img src="/assets/img/MicBlog-gray.png" height="40" class="wechatweibo" >
       </div>
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
   </div>
</div>
<div id="content_right-for-service-policy">
<div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="#">免责声明&隐私权限</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
           
                <p class="resetpw_top_txt-contactus">免  责 声 明 & 隐 私 保 护</p>
           </div>
           
            <div class="black-basket-service">
            
           <ul>
            
            <li class="black-words-service-for-disclaimer">
               &nbsp;&nbsp;&nbsp;&nbsp;Gelnic简妮非常重视对您隐私的保护，在您使用Gelnic简妮官方网站提供的服务前，请您仔细阅读以下声明。为了给您提供准确而个性化的服务，Gelnic简妮可能会以如下方式，使用您提交的个人信息，但Gelnic简妮会严格保管这些个人信息，防止外泄。
            </li>
           
            </ul>
            </div>
            <div class="black-basket-service">
            <div class="contact-green-text">
           保有您提供的信息
           </div>
           <ul>
            
            <li class="black-words-service">
            <span class="just-for-black-service-words">Gelnic简妮官方网站会在您自愿选择服务或提供信息的情况下收集您的个人信息，并将这些信息进行整合，以便向您提供更好的用
户服务。请您在注册时提供您详细、准确的个人资料，并持续更新注册资料。如果因您注册信息不真实而导致的任何问题，相应后
果由您自行承担。请您不要将您的帐号、密码转让或借给他人使用。如您发现您的帐号遭他人非法使用，请立即通知Gelnic简妮。
因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用等情况，Gelnic简妮不承担责任。 </span>
            </li>
           
            </ul>
            </div>
            
            
             <div class="black-basket-service">
            <div class="contact-green-text">
          cookies等技术的使用
           </div>
           <ul>
            
            <li class="black-words-service">
            <span class="just-for-black-service-words">Gelnic简妮官方网站使用cookies，以便您能登录我们的服务，并允许设定您特定的服务选项。运用cookies技术，Gelnic简妮官方
网站能够为您提供更加周到的个性化服务。您可以选择接受或拒绝cookies。您可以通过修改浏览器设置的方式拒绝cookies。如果
您选择拒绝cookies，则您可能无法登录或使用依赖于cookies的Gelnic简妮官方网站服务或功能。 </span>
            </li>
            
            </ul>
            </div>
            
            
             <div class="black-basket-service">
            <div class="contact-green-text">
           保有您的使用记录
           </div>
           <ul>
            
            <li class="black-words-service">
            <span class="just-for-black-service-words">当您使用Gelnic简妮官方网站提供的服务时，服务器会自动记录一些信息，包括URL、IP地址、浏览器的类型和使用的语言以及访
问日期和时间等。</span>
            </li>
            
            </ul>
            </div>
            
            <div class="black-basket-service">
            <div class="contact-green-text">
           保有您的使用记录
           </div>
           <ul>
            
            <li class="black-words-service">
            <span class="just-for-black-service-words">保护用户的隐私是Gelnic简妮的一项基本政策，在未征得您许可的情况下，Gelnic简妮不会对外披露您的个人信息。
但下列情况除外：</span></li>
            <li class="black-words-service-none-point"><span class="just-for-black-service-words">（1）事先获得您的授权；
             </span></li>
            <li class="black-words-service-none-point"><span class="just-for-black-service-words">（2）只有透露您的个人资料，才能提供您所要求的产品和服务；
             </span></li>
            <li class="black-words-service-none-point"><span class="just-for-black-service-words">（3）根据有关的法律法规要求；
             </span></li>
            <li class="black-words-service-none-point"><span class="just-for-black-service-words">（4）政府相关部门的要求；
             </span></li>
            <li class="black-words-service-none-point"><span class="just-for-black-service-words">（5）您同意让第三方共享资料；
             </span></li>
            <li class="black-words-service-none-point"><span class="just-for-black-service-words">（6）为维护Gelnic简妮以及Gelnic简妮官方网站的合法权益；
             </span></li>
            <li class="black-words-service-none-point"><span class="just-for-black-service-words">（7）根据本声明的其他规定及Gelnic简妮认为其他必要情形； </span>
            </li>
           
            </ul>
            </div>
            
            
            <div class="black-basket-service">
           
           <ul>
            
            <li class="black-words-service-none-point">
            <span class="just-for-black-service-words">Gelnic简妮可能会同第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与Gelnic简妮同等的责任
以保护用户隐私，则Gelnic简妮可将用户的注册资料等提供给该第三方。</span>
            </li>
            
           
            </ul>
            </div>
            
      
      <div class="black-basket-service-for-the-last-one-for-disclaimer">
            
           <ul>
             <li class="black-words-service-none-point">
            <span class="just-for-black-service-words">在不透露单独用户隐私资料的前提下，Gelnic简妮有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。在
充分保护您隐私的前提下，Gelnic简妮会始终致力于为您提供更优质的体验和服务。</span>
            </li>
            
            </ul>
            </div>
            
      
</div>


</div>

</body>
</html>
