<!doctype html>
<html>
<head>
<style type="text/css">
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
</style>
<link href="/assets/layout.css" rel="stylesheet" type="text/css" media="screen" />

<meta charset="utf-8">
<title>兑换积分-xp</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/assets/Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/Member-information-firstlogin.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>

<div class="middle-xp">
<div id="member-left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       会员专区
       </div>
    </div>
  </div>
  
  <center>
    
    <div class="basket2" >
      <div class="member-text2">
       <img src="/assets/img/right-angle-green.jpg" width="9.5px"  > 
       会员制度
      </div>
    </div>
    
    <div class="basket2" >
      <div class="member-text2">
      <img src="/assets/img/down-angle-green.jpg" height="9.5px" > 
      会员中心
      </div>
    </div>
 
  </center>
 
 <ul>
   <center>
 
     <li class="zone2"><img src="/assets/img/right-angle-empty.png"  class="img-margin">
    <span class="member-text3"> 个人信息</span>
    </li>
  </center>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  兑换积分</li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png"  class="img-margin2">
  查看兑换历史</li>
  
  <li class="member-text3" >
  <img src="/assets/images/img/right-angle-empty.png" class="img-margin2">
  我的订单</li>
 
  
  </ul>
   
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
   
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
      
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="/assets/img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="/assets/img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
    
    <div class="bor-6"></div>     
</div>
<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
			<li class="resetpw_head_txt1"><a herf="#">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
			<li class="resetpw_head_txt1"><a herf="#">会员专区</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
			<li class="resetpw_head_txt1"><a herf="#">会员中心</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
			<li class="resetpw_head_txt1"><a herf="#">个人信息</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;会员基本信息&nbsp;&nbsp;*为必填内容</p>
           </div>
           
           <div class="firsrlogin_middle">
           <ul>
             <li class="text-all-color-green">
                 本次兑换所需积分：
             </li>
             <li class="text-all-color-yellow">
                 300
             </li> 
          </ul>
             <table   class="firstlogin_middle_1" border="0" cellpadding="0" cellspacing="0" >
                   <tr>
                             
                              <td   class="firstlogin_middle_3-1">兑换商品类型：</td>
                              <td   class="firstlogin_middle_10" >
                              <select id="province" class="firstlogin_middle_dropdown3-1"><option>全部商品</option></select></td>
                              <td   class="firstlogin_middle_8-1">所需积分：&nbsp;&nbsp;</td>
                              <td   class="firstlogin_middle_10" >
                              <select id="city" name="city" class="firstlogin_middle_dropdown3-1"><option>无限制</option></select></td>
                              <td   class="firstlogin_middle_8-1">排序方式：&nbsp;</td>
                               <td  class="firstlogin_middle_10" >
                              <select id="district" name="district" class="firstlogin_middle_dropdown3"><option >升序</option></select></td>
                              
               </tr>
             </table> 
             <ul class="background-color-white-green">
                     <li class="list-text1">
                     兑换商品
               </li>
                     <li class="list-text2">
                     所需积分
                     </li>
                     <li class="list-text3">
                     库存数量
                     </li>
                     <li class="list-text4">
                     是否兑换
                     </li>
             </ul> 
           
     <table class="table4">
  <tr>
    <td width="130" class="table4-line1"><img src="/assets/img/product1.png" class="table4-line1-img"></td>
       <td class="table4-line2">
       <ul>
       <li class="text-all-color-black-table4">
       简妮清爽洁面啫喱
       </li>
      <li class="text-all-color-black-table4">
       10G
       </li>
       </ul>
       </td>
    <td class="table4-line3">50</td>
    <td class="table4-line4">100</td>
    <td class="table4-line5">
                 
                <div class="resetpw_bottom_table4">
                     <input id="saveinformation"   type="submit" value="点击兑换"  >
                </div>
              

    
    </td>
  </tr>
</table>
         </div>
      
           
     </div>
  <p>&nbsp;</p>
</div>
</body>
</html>
