<!doctype html>
<html>
<% content_for :javascripts do %>
	<script>
		<% if session[:login] %>
			<% if session[:login] == 1%>
					location.href = "/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E5%88%9D%E6%AC%A1%E7%99%BB%E5%BD%95";
			<% end %>
			$(document).ready ();
		<% else %>
			$(document).ready (login);
		<% end %>
		
$(document).ready (getmeminfo);
$(document).ready (geturl);
$(document).ready (getproductcart);



function geturl(){		
		var sku = window.location.search.split('=');
		
		if ($('input[id="SKU"]').length);
		$('input[id="SKU"]').val (sku[1]);
		
	//	alert($('input[id="SKU"]').val ());
		
}

$("#cancelintegraltochange").click (function () {
	location.href = "/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E5%85%91%E6%8D%A2%E7%A7%AF%E5%88%86";
})

$("#integraltochange").click (function () {
	location.href = "/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E5%85%91%E6%8D%A2%E7%A7%AF%E5%88%86";
})

function setorder() {
	if ($('#captcha').val().length == 0) {
		alert ("请输入验证码");
		return;
	} 
	$.ajax ({
		url:		"/order/setorder.json",
		type:		"POST",
		dataType:	"json",
		data:		{
			id:				$('#productid').val(),
			captcha:		$('#captcha').val(),
			captcha_key:	$('#captcha_key').val()
		}
	}).done (function (resp) {
		if (parseInt (resp.status) == -2) {
			$(".authenticationtd").load ('/home/login-page .simple_captcha');
			alert("提交失败");
		}			
		else if (parseInt (resp.status) == 2) {
			$(".authenticationtd").load ('/home/login-page .simple_captcha');
			alert("验证码错误");

		} else if (parseInt (resp.status) == -1) {
			$(".authenticationtd").load ('/home/login-page .simple_captcha');
			alert("提交失败");
	//		$('#loginerr').html ("验证码错误");
		}else if (parseInt (resp.status) == 0) {
			$(".authenticationtd").load ('/home/login-page .simple_captcha');
			alert("积分不够");
	//		$('#loginerr').html ("验证码错误");
		}else{
			alert("兑换成功");
			location.href = "/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E5%85%91%E6%8D%A2%E7%A7%AF%E5%88%86";
		}
	}).fail (function() {
	//	$('#loginerr').html ("请求发送失败，请稍候再试");
	});
}

</script>
<% end %>

<body>

<div class="middle-xp">


<div id="member-left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       会员专区
       </div>
    </div>
  </div>
  
  <center>
    
    <div class="basket2" >
      <div class="member-text2">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 
       <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E5%88%B6%E5%BA%A6">会员制度</a>
      </div>
    </div>
    
    <div class="basket2" >
      <div class="member-text2">
      <img src="/assets/img/down-angle-green.jpg" height="7px" > 
      会员中心
      </div>
    </div>
 
  </center>
 <div class="for-one-line-left">
 <ul>
    <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E4%B8%AA%E4%BA%BA%E4%BF%A1%E6%81%AF">个人信息</a></li>
   <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%88%91%E7%9A%84%E7%A7%AF%E5%88%86">我的积分</a></li>
 <li class="zone2"><img src="/assets/img/right-angle-empty.png"  class="img-margin">
    <span class="member-text3">兑换积分 </span>
    </li>
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png"  class="img-margin2">
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%9F%A5%E7%9C%8B%E5%85%91%E6%8D%A2%E5%8E%86%E5%8F%B2">查看兑换历史</a></li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2">
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%88%91%E7%9A%84%E8%AE%A2%E5%8D%95">我的订单</a></li> 
  
  </ul>
  </div> 
   
      <%= render :partial => "/refinery/pages/left_contactus.html.erb" %> 
   
    
</div>

<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
			<li class="resetpw_head_txt1"><a href"/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href"/会员专区">会员专区</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href"/会员专区/会员中心">会员中心</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href"/会员专区/会员中心/兑换积分">兑换积分</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;兑换积分-兑换信息确认</p>
           </div>
           <div class="confirmation_middle">
                 <div class="confirmation_middle_point">
                        <ul>
                              <li class="middle_point_txt1">本次兑换所需积分：</li>
                              <li class="middle_point_txt2"><label id="needpoint"></label></li>
                        </ul>
                </div>
                <div class="middle_product_top">兑换产品：</div>
                <div class="confirmation_middle_product">
                        <div class="middle_product_pic">
                              <label id="product_pic" ><img id="productpic"  width="60" height="95"></label>
                        </div>
                        <div class="middle_product_info">
                              <ul>
                              		  <input type="hidden" id="SKU" />
                              		  <input type="hidden" id="productid" />
                                      <li class="product_info_txt"><label id="productname"></label></li>
                                      <li class="product_info_txt"><label id="productsize">10G</label></li>
                                      <li class="middle_product_top">数量：<label id="product_num">1</label></li>
                              </ul>
                        </div>
                </div>
                <div class="middle_product_bottom">会员ID:<label id="memberid"></label> </div>
                <div class="confirmation_middle_info">
                        <table class="complete_middle_1"  border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                     <td   class="complete_middle_3">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名:</td>
                                     <td   class="complete_middle_4" ><label id="name"></label> </td>
                                     <td   class="complete_middle_3">邮政编码:</td>
                                     <td   class="complete_middle_4" ><label id="postalcode"></label> </td>
                              </tr>
                        </table>
                        <table class="complete_middle_1"  border="0" cellspacing="0" cellpadding="0">
                             <tr>
                                     <td   class="complete_middle_3">省&nbsp;市&nbsp;区:</td>
                                     <td   class="complete_middle_4" ><label id="area"></label> </td>
                                     <td   class="complete_middle_3">详细地址:</td>
                                     <td   class="complete_middle_4" ><label id="address"></label> </td>
                            </tr>
                       </table>
                       <table class="complete_middle_1"  border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                    <td   class="complete_middle_3">手机号码:</td>
                                    <td   class="complete_middle_4" ><label id="mobile"></label> </td>
                            </tr>
                       </table>
                </div>
           </div>
     </div>
     <table class="content_1_table"  border="0" cellspacing="0" cellpadding="0">
                	  <tr>
                	  		<td class="authenticationtd"><%= show_simple_captcha(:label => "human authentication", :placeholder => "input the characters") %></td>
                	  </tr>
     </table>
     <div class="confirmation_bottom">               
           <div class="resetpw_bottom_save">
                 <input type="button" value="确认兑换信息"  onclick="setorder()">
           </div>
           <div class="resetpw_bottom_cancel">
                 <input type="button" value="取消兑换" id="cancelintegraltochange" >
           </div>                               
    </div>
</div>
</body>
</html>


