<!doctype html>
<html>
<head>
<style type="text/css">
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
</style>
<link href="/assets/layout-ld.css" rel="stylesheet" type="text/css" media="screen" />

<meta charset="utf-8">
<title>兑换确认-xp</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/assets/Member-information-resetpassword-ld.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/Member-information-findpassword-2-ld.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>

<div class="middle-xp">
<div id="member-left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       会员专区
       </div>
    </div>
  </div>
  
  <center>
    
    <div class="basket2" >
      <div class="member-text2">
       <img src="img/right-angle-green.jpg" width="9.5px"  > 
       会员制度
      </div>
    </div>
    
    <div class="basket2" >
      <div class="member-text2">
      <img src="img/down-angle-green.jpg" height="9.5px" > 
      会员中心
      </div>
    </div>
 
  </center>
 
 <ul>
   <center>
 
     <li class="zone2"><img src="img/right-angle-empty.png"  class="img-margin">
    <span class="member-text3"> 个人信息</span>
    </li>
  </center>
  
  <li class="member-text3" >
  <img src="img/right-angle-empty.png" class="img-margin2" >
  兑换积分</li>
  
  <li class="member-text3" >
  <img src="img/right-angle-empty.png"  class="img-margin2">
  查看兑换历史</li>
  
  <li class="member-text3" >
  <img src="img/right-angle-empty.png" class="img-margin2">
  我的订单</li>
 
  
  </ul>
   
   <div class="bor-4">
      <img src="img/ad1.jpg" class="width-bar">
   </div>
   
   <div class="bor-5">
       <img src="img/ad2.jpg" class="width-bar">
   </div>
  
  
      
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
    
    <div class="bor-6"></div>     
</div>

<div id="content_right">
  <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1">首页</li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1">会员专区</li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1">会员中心</li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1">兑换积分</li>
                </ul>
           </div>
    <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;兑换积分-兑换信息确认</p>
    </div>
           <ul>
             <li class="text-all-color-green">
                 本次兑换所需积分：
               </li>
             <li class="text-all-color-yellow">
                 50
               </li> 
          </ul>
          <div class="text-all-color-green-1">
           兑换产品:
          </div> 
          
         
    <img src="img/product1.png" class="img-1">
    <ul>
      <li class="text-all-color-black">
       简妮清爽洁面啫喱
       </li>
      <li class="text-all-color-black">
       10G
       </li>
      <li class="text-all-color-green-2">
       数量：1
      </li>
       </ul>
       <ul>
   
       <li class="text-all-color-green-3">会员ID：201307110001 </li>
       
       <li class="none">
       <table class="table">
  <tr>
    <td class="table-text-black1" >姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名 :</td>
    <td  class="table-text-black2-1"> X 女 士</td>
    <td class="table-text-black1"> 邮政编码:</td>
    <td class="table-text-black2">200000</td>
  </tr>
</table>
<table width="673" class="table">
  <tr>
    <td class="table-text-black1" >省 市 区 :</td>
    <td class="table-text-black2-1"> 上海市 浦东新区</td>
    <td class="table-text-black1"> 详细地址:</td>
    <td class="table-text-black2">峨山路91弄浦东陆家嘴软件园120号4-5楼</td>
  </tr>
</table>
  <table width="673" class="table">
  <tr>
    <td class="table-text-black1" >手 机 号 :</td>
    <td class="table-text-black2-1">13700000000</td>
    <td class="table-text-black1"></td>
    <td class="table-text-black2"></td>
  </tr>
</table>     
       
       
       
       </li>
       
       </ul>
          
           <div class="resetpw_bottom">               
                <div class="findpw_bottom_confirm">
                      <input type="submit" value="完成并保存" name="savepassword" >
             </div>                              
    </div>
      <div class="resetpw_bottom">               
                <div class="findpw_bottom_confirm-gray">
                      <input type="submit" value="重新填写" name="savepassword" >
             </div>                              
    </div>
     </div>
</div>
</body>
</html>
