<!doctype html>
<html>
<head>
<style type="text/css">
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
</style>
<link href="/assets/layout.css" rel="stylesheet" type="text/css" media="screen" />

<title>兑换信息确认-xp</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="/assets/Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/Member-information-complete.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/Member-integraltochange-confirmation.css" rel="stylesheet" type="text/css" media="screen" />

</head>

<body>

<div class="middle-xp">


<div id="member-left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       会员专区
       </div>
    </div>
  </div>
  
  <center>
    
    <div class="basket2" >
      <div class="member-text2">
       <img src="/assets/img/right-angle-green.jpg" width="9.5px"  > 
       会员制度
      </div>
    </div>
    
    <div class="basket2" >
      <div class="member-text2">
      <img src="/assets/img/down-angle-green.jpg" height="9.5px" > 
      会员中心
      </div>
    </div>
 
  </center>
 
 <ul>
   <center>
 
     <li class="zone2"><img src="/assets/img/right-angle-empty.png"  class="img-margin">
    <span class="member-text3"> 个人信息</span>
    </li>
  </center>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  兑换积分</li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png"  class="img-margin2">
  查看兑换历史</li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2">
  我的订单</li>
 
  
  </ul>
   
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
   
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
      
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="/assets/img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="/assets/img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
    
    <div class="bor-6"></div>     
</div>

<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1">首页</li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1">会员专区</li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1">会员中心</li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1">兑换积分</li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;兑换积分-兑换信息确认</p>
           </div>
           <div class="confirmation_middle">
                 <div class="confirmation_middle_point">
                        <ul>
                              <li class="middle_point_txt1">本次兑换所需积分：</li>
                              <li class="middle_point_txt2"><label id="point">50</label></li>
                        </ul>
                </div>
                <div class="middle_product_top">兑换产品：</div>
                <div class="confirmation_middle_product">
                        <div class="middle_product_pic">
                              <label id="product_pic" ><img src="/assets/img/product-01.jpg" width="60" height="95"></label>
                        </div>
                        <div class="middle_product_info">
                              <ul>
                                      <li class="product_info_txt"><label id="product_name1">简妮清爽洁面啫喱</label></li>
                                      <li class="product_info_txt"><label id="product_name2">10G</label></li>
                                      <li class="middle_product_top">数量：<label id="product_num">1</label></li>
                              </ul>
                        </div>
                </div>
                <div class="middle_product_bottom">会员ID:<label id="memberid"></label> </div>
                <div class="confirmation_middle_info">
                        <table class="complete_middle_1"  border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                     <td   class="complete_middle_3">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名:</td>
                                     <td   class="complete_middle_4" ><label id="name"></label> </td>
                                     <td   class="complete_middle_3">邮政编码:</td>
                                     <td   class="complete_middle_4" ><label id="postalcode"></label> </td>
                              </tr>
                        </table>
                        <table class="complete_middle_1"  border="0" cellspacing="0" cellpadding="0">
                             <tr>
                                     <td   class="complete_middle_3">省&nbsp;市&nbsp;区:</td>
                                     <td   class="complete_middle_4" ><label id="area"></label> </td>
                                     <td   class="complete_middle_3">详细地址:</td>
                                     <td   class="complete_middle_4" ><label id="address"></label> </td>
                            </tr>
                       </table>
                       <table class="complete_middle_1"  border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                    <td   class="complete_middle_3">手机号码:</td>
                                    <td   class="complete_middle_4" ><label id="mobile"></label> </td>
                            </tr>
                       </table>
                </div>
           </div>
     </div>
     <div class="confirmation_bottom">               
           <div class="resetpw_bottom_save">
                 <input type="submit" value="确认兑换信息" id="integraltochange" >
           </div>
           <div class="resetpw_bottom_cancel">
                 <input type="button" value="取消兑换" id="cancelintegraltochange" >
           </div>                               
    </div>
</div>
</body>
</html>


