<!doctype html>
<html>
<head>
<style type="text/css">
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
</style>
<link href="/assets/layout.css" rel="stylesheet" type="text/css" media="screen" />
<meta charset="utf-8">
<title>兑换积分</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/assets/Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/Member-information-firstlogin.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>

<div class="middle-xp">
<div id="member-left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       会员专区
       </div>
    </div>
  </div>
  
  <center>
    
    <div class="basket2" >
      <div class="member-text2">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 
       <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E5%88%B6%E5%BA%A6">会员制度</a>
      </div>
    </div>
    
    <div class="basket2" >
      <div class="member-text2">
      <img src="/assets/img/down-angle-green.jpg" height="7px" > 
      会员中心
      </div>
    </div>
 
  </center>
 <div class="put-on-left-block-1">
 <ul>
   <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E4%B8%AA%E4%BA%BA%E4%BF%A1%E6%81%AF">个人信息</a></li>
   <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%88%91%E7%9A%84%E7%A7%AF%E5%88%86">我的积分</a></li>
  
  <center> 
     <li class="zone2"><img src="/assets/img/right-angle-empty.png"  class="img-margin">
    <span class="member-text3">兑换积分 </span>
    </li>
  </center>
  
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png"  class="img-margin2">
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%9F%A5%E7%9C%8B%E5%85%91%E6%8D%A2%E5%8E%86%E5%8F%B2">查看兑换历史</a></li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2">
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%88%91%E7%9A%84%E8%AE%A2%E5%8D%95">我的订单</a></li> 
  </ul>
   </div>
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
   <center><div class="between-the-ads-tech"></div></center>
  <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
   <div class="contactus-weibobor-1-1">   
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="/assets/img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="/assets/img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
      </div> 
</div>
<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
			<li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
			<li class="resetpw_head_txt1"><a href="/会员专区">会员专区</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
			<li class="resetpw_head_txt1"><a href="/会员专区/会员中心">会员中心</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
			<li class="resetpw_head_txt1"><a href="/会员专区/会员中心/兑换积分">兑换积分</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;兑换积分</p>
           </div>
           
           <div class="firsrlogin_middle-none-line">
           <ul>
             <li class="text-all-color-green">
                 本次兑换所需积分：
             </li>
             <li class="text-all-color-yellow-1">
                 300
             </li> 
          </ul>
             <table   class="firstlogin_middle_1" border="0" cellpadding="0" cellspacing="0" >
                   <tr>
                             
                              <td   class="firstlogin_middle_3-1">兑换商品类型：</td>
                              <td   class="firstlogin_middle_10" >
                              <select id="province" class="firstlogin_middle_dropdown3-1"><option>全部商品</option></select></td>
                              <td   class="firstlogin_middle_8-1">所需积分：&nbsp;&nbsp;</td>
                              <td   class="firstlogin_middle_10" >
                              <select id="city" name="city" class="firstlogin_middle_dropdown3-1"><option>无限制</option></select></td>
                              <td   class="firstlogin_middle_8-1">排序方式：&nbsp;</td>
                               <td  class="firstlogin_middle_10" >
                              <select id="district" name="district" class="firstlogin_middle_dropdown3"><option >升序</option></select></td>
                              
               </tr>
             </table> 
             <div class="background-color-white-green-1-1">
               <table >
  <tr>
    <td width="114" class="point-exchange-about-I-do-not-want-to-say-green-word-top">兑换商品</td>
    <td width="114" >&nbsp;</td>
    <td width="134" class="point-exchange-about-I-do-not-want-to-say-green-word-top">所需积分</td>
    <td width="200" class="point-exchange-about-I-do-not-want-to-say-green-word-top">库存数量</td>
    <td width="134" class="point-exchange-about-I-do-not-want-to-say-green-word-top">是否兑换</td>
  </tr>
</table>
  
             </div> 
           
     <table >
  <tr>
    <td width="114" class="point-exchange-about-I-do-not-want-to-say"><img src="/assets/img/product1.png" class="table4-line1-img"></td>
       <td width="114">
       <ul>
       <li class="text-all-color-black-table4">
       简妮清爽洁面啫喱
       </li>
      <li class="text-all-color-black-table4">
       10G
       </li>
       </ul>
       </td>
    <td width="132" class="point-exchange-about-I-do-not-want-to-say-green-word">50</td>
    <td width="203" class="point-exchange-about-I-do-not-want-to-say-green-word">100</td>
    <td width="133">
                 
                <div class="resetpw_bottom_table4-1">
                     <input id="saveinformation"   type="submit" value="点击兑换"  >
                </div>
              

    
    </td>
  </tr>
</table>
         </div>
      
           
     </div>
</div>
</body>
</html>
