<!doctype html>
<html>
<head>
<style type="text/css">
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
</style>
<link href="/assets/layout.css" rel="stylesheet" type="text/css" media="screen" />

<title>初次登陆</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/assets/Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/Member-information-firstlogin.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>

<div class="middle-xp">


<div id="member-left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       会员专区
       </div>
    </div>
  </div>
  
  <center>
    
    <div class="basket2" >
      <div class="member-text2">
       <img src="/assets/img/right-angle-green.jpg" width="9.5px"  > 
       会员制度
      </div>
    </div>
    
    <div class="basket2" >
      <div class="member-text2">
      <img src="/assets/img/down-angle-green.jpg" height="9.5px" > 
      会员中心
      </div>
    </div>
 
  </center>
 <div class="for-one-line-left">
 <ul>
   <center>
 
     <li class="zone2"><img src="/assets/img/right-angle-empty.png"  class="img-margin">
    <span class="member-text3"> 个人信息</span>
    </li>
  </center>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  我的积分</li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  兑换积分</li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png"  class="img-margin2">
  查看兑换历史</li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2">
  我的订单</li>
 
  
  </ul>
   </div>
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
   <center><div class="between-the-ads-tech"></div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
     <div class="for-one-line-left"> 
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="/assets/img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="/assets/img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
       </div>
</div>

<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
			<li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区">会员专区</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区/会员中心">会员中心</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区/会员中心/个人信息">个人信息</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;会员基本信息&nbsp;&nbsp;*为必填内容</p>
           </div>
           
           <div class="firsrlogin_middle">
                <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td   class="firstlogin_middle_2">*</td>
                              <td   class="firstlogin_middle_3">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：</td>
                              <td   class="firstlogin_middle_4" ><input id="email" type="text" class="firstlogin_middle_5"></td>
                              <td   class="firstlogin_middle_6" >邮箱可作为登陆账号，并别收重要通知及最新优惠信息等。</td>
                     </tr>
               </table>
               <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td   class="firstlogin_middle_2">*</td>
                              <td   class="firstlogin_middle_3">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</td>
                              <td   class="firstlogin_middle_4" ><input id="password" type="text" class="firstlogin_middle_5"></td>
                              <td   class="firstlogin_middle_6" >6-20位字符，可由大小写字母，数字或符号组成。</td>
                     </tr>
               </table>
               <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td   class="firstlogin_middle_2">*</td>
                              <td   class="firstlogin_middle_3">密码确认:</td>
                              <td   class="firstlogin_middle_4" ><input id="identification" type="text" class="firstlogin_middle_5"></td>
                     </tr>
               </table>
               <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td   class="firstlogin_middle_2">*</td>
                              <td   class="firstlogin_middle_3">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</td>
                              <td   class="firstlogin_middle_4" ><input id="name" type="text" class="firstlogin_middle_5"></td>
                     </tr>
               </table>
               <table class="firstlogin_middle_1"  border="0" cellpadding="0" cellspacing="0" >
                      <tr>
                              <td   class="firstlogin_middle_2">*</td>
                              <td   class="firstlogin_middle_3">生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日：</td>  
                              <td   class="firstlogin_middle_7_1" >
                              <select id="year" name="year" class="firstlogin_middle_dropdown1" >
                              <option >1950</option><option >1951</option><option >1952</option>
                              <option >1953</option><option >1954</option><option >1955</option>
                              <option >1956</option><option >1957</option><option >1958</option>
                              <option >1959</option><option >1960</option><option >1961</option>
                              <option >1962</option><option >1963</option><option >1964</option>
                              <option >1965</option><option >1966</option><option >1967</option>
                              <option >1968</option><option >1969</option><option >1970</option>
                              <option >1971</option><option >1972</option><option >1973</option>
                              <option >1974</option><option >1975</option><option >1976</option>
                              <option >1977</option><option >1978</option><option >1979</option>
                              <option >1980</option><option >1981</option><option >1982</option>
                              <option >1983</option><option >1984</option><option >1985</option>
                              <option >1986</option><option >1987</option><option >1988</option>
                              <option >1989</option><option >1990</option><option >1991</option>
                              <option >1992</option><option >1993</option><option >1994</option>
                              <option >1995</option><option >1986</option><option >1997</option>
                              <option >1998</option><option >1999</option><option >2000</option>
                              <option >2001</option><option >2002</option><option >2003</option>
                              <option >2004</option><option >2005</option><option >2006</option>
                              <option >2007</option><option >2008</option><option >2009</option>
                              <option >2010</option><option >2011</option><option >2012</option>
                              <option >2013</option>
                              </select></td>
                              <td  class="firstlogin_middle_8">年</td>                             
                              <td  class="firstlogin_middle_7_2" >
                              <select id="month" name="month" class="firstlogin_middle_dropdown2" >
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                              <option value="12">12</option></select>
                              </td>
                              <td  class="firstlogin_middle_8">月</td> 
                              <td   class="firstlogin_middle_7_2" >
                              <select id="day" name="day" class="firstlogin_middle_dropdown2" >
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                              <option value="12">12</option>
                              <option value="13">13</option>
                              <option value="14">14</option>
                              <option value="15">15</option>
                              <option value="16">16</option>
                              <option value="17">17</option>
                              <option value="18">18</option>
                              <option value="19">19</option>
                              <option value="20">20</option>
                              <option value="21">21</option>
                              <option value="22">22</option>
                              <option value="23">23</option>
                              <option value="24">24</option>
                              <option value="25">25</option>
                              <option value="26">26</option>
                              <option value="27">27</option>
                              <option value="28">28</option>
                              <option value="29">29</option>
                              <option value="30">30</option>
                              <option value="31">31</option></select>
                              </td>
                              <td  class="firstlogin_middle_8">日</td>
                      </tr>
               </table>
               <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td   class="firstlogin_middle_2">*</td>
                              <td   class="firstlogin_middle_3">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</td>
                              <td   class="firstlogin_middle_9" >
                              <input name="sex" id="female"  type="radio" value="0" checked  class="firstlogin_middle_radio">
                              <label for="female" class="firstlogin_middle_8">女</label></td>
                              <td   class="firstlogin_middle_9" >
                              <input name="sex" id="male"  type="radio" value="1" >
                              <label for="male" class="firstlogin_middle_8">男</label></td>
                     </tr>
              </table>
              <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td    class="firstlogin_middle_2">*</td>
                              <td    class="firstlogin_middle_3">手机号码:</td>
                              <td    class="firstlogin_middle_4" ><input id="mobile" type="text" class="firstlogin_middle_5"></td>
                     </tr>
               </table>
               <table   class="firstlogin_middle_1" border="0" cellpadding="0" cellspacing="0" >
                      <tr>
                              <td   class="firstlogin_middle_2">*</td>
                              <td   class="firstlogin_middle_3">电子杂志:</td>
                              <td   class="firstlogin_middle_9" >
                              <input  id="subscribe" name="magazine" type="radio" value="0" checked>
                              <label for="subscribe" class="firstlogin_middle_8">订阅</label></td>
                              <td   class="firstlogin_middle_9" >
                              <input  id="notsubscribe" type="radio" value="1"  name="magazine"  >
                              <label for="notsubscribe" name="magazine" class="firstlogin_middle_8">不订阅</label></td>
                     </tr>
               </table>
                <table   class="firstlogin_middle_1" border="0" cellpadding="0" cellspacing="0" >
                      <tr>
                              <td   class="firstlogin_middle_2">*</td>
                              <td   class="firstlogin_middle_3">省&nbsp;市&nbsp;区：</td>
                              <td   class="firstlogin_middle_10" >
                              <select id="province" class="firstlogin_middle_dropdown3"><option>不限</option></select></td>
                              <td   class="firstlogin_middle_8">省</td>
                              <td   class="firstlogin_middle_10" >
                              <select id="city" name="city" class="firstlogin_middle_dropdown3"><option>不限</option></select></td>
                              <td   class="firstlogin_middle_8">市</td>
                               <td  class="firstlogin_middle_10" >
                              <select id="district" name="district" class="firstlogin_middle_dropdown3"><option >不限</option></select></td>
                              <td   class="firstlogin_middle_8">区</td>
                      </tr>
               </table>
               <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td    class="firstlogin_middle_2">*</td>
                              <td    class="firstlogin_middle_3">详细地址:</td>
                              <td    class="firstlogin_middle_4" ><input id="address" type="text" class="firstlogin_middle_5"></td>
                              <td    class="firstlogin_middle_6" >为保证您能尽快体验到简尼商品，请确保您填写的地址真实有效</td>
                     </tr>
               </table>
               <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td    class="firstlogin_middle_2">*</td>
                              <td    class="firstlogin_middle_3">邮政编码:</td>
                              <td    class="firstlogin_middle_4" ><input id="postalcode" type="text" class="firstlogin_middle_5"></td>
                     </tr>
               </table>
               <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td   class="firstlogin_middle_2"></td>
                              <td   class="firstlogin_middle_3">固定电话:</td>
                              <td   class="firstlogin_middle_11_1" ><input id="areacode" type="text" class="firstlogin_middle_11_2"></td>
                              <td   class="firstlogin_middle_11_7" >区号</td>
                              <td   class="firstlogin_middle_11_3" ><input id="telephone " type="text" class="firstlogin_middle_11_5"></td>
                              <td   class="firstlogin_middle_11_4" >电话号码</td>
                              <td   class="firstlogin_middle_11_1" ><input id="extensionnumber " type="text" class="firstlogin_middle_11_2"></td>
                              <td   class="firstlogin_middle_11_6" >分机号</td>
                     </tr>     
               </table>
                <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td   class="firstlogin_middle_2"></td>
                              <td   class="firstlogin_middle_3">Weibo账号:</td>
                              <td   class="firstlogin_middle_4" ><input id="weibo" type="text" class="firstlogin_middle_5"></td>
                              <td   class="firstlogin_middle_6" >关注gelnic官方微博，获取最新商品及优惠信息，还能参加商品免费活动哦</td>
                     </tr>
               </table>
               <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td   class="firstlogin_middle_2"></td>
                              <td   class="firstlogin_middle_3">微信账号:</td>
                              <td   class="firstlogin_middle_4" ><input id="weixin" type="text" class="firstlogin_middle_5"></td>
                              <td    class="firstlogin_middle_6" >关注gelnic公众账号，获取最新商品及优惠信息，还能参加商品免费活动哦</td>
                     </tr>
               </table>
               
           </div>
           
           <div class="resetpw_bottom">               
                <div class="resetpw_bottom_save">
                     <input id="saveinformation"   type="submit" value="完成并保存"  >
                </div>
                <div class="resetpw_bottom_cancel">
                     <input id="resetinformation" type="reset" value="重新填写"  >
                </div>  
                <div class="firstlogin_bottom_picture"> 
                        <img src="/assets/img/picture-1.jpg" width="717" height="84">
                </div>                             
          </div>
     </div>
</div>
</body>
</html>
