<!doctype html>
<html>
<head>
<style type="text/css">
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
</style>
<link href="../layout.css" rel="stylesheet" type="text/css" media="screen" />
<link href="../Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="../about-gelnic.css" rel="stylesheet" type="text/css" media="screen" />
<meta charset="utf-8">
<title>member-left-</title>
</head>

<body>

<div id="member-left" style="float:left">
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       关于简妮
       </div>
    </div>
  </div>
  
  <center><div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="file:///D|/Dropbox/share with lida and jiaxin/member-left by lida/member-left/web/img/right-angle-green.jpg" width="9.5px"  > 简妮理想
      </div>
    </div>

    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="file:///D|/Dropbox/share with lida and jiaxin/member-left by lida/member-left/web/img/right-angle-green.jpg" width="9.5px"  > 品牌故事
      </div>
    </div>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="file:///D|/Dropbox/share with lida and jiaxin/member-left by lida/member-left/web/img/right-angle-green.jpg" width="9.5px"  > 使命及愿景</div>
    </div>
    <div class="basket2-missJu" >
      <div class="member-text2-tips-tech">
      <img src="../images/img/right-angle-green-big-one.png" height="17px" > 简妮大事记
      </div>
    </div>
     <center><div class="between-the-ads-tech">
   </div></center>
    <div class="basket2-missJu-tech-aboutJN-lastone" >
      <div class="member-text2-aboutJN-lastone">
       <img src="file:///D|/Dropbox/share with lida and jiaxin/member-left by lida/member-left/web/img/right-angle-green.jpg" width="9.5px"  > 安心•安全
      </div>
    </div>
  </center>

   
   <div class="bor-4">
      <img src="file:///D|/Dropbox/share with lida and jiaxin/member-left by lida/member-left/web/img/ad1.jpg" class="width-bar">
   </div>
    <center><div class="between-the-ads">
   </div></center>
   <div class="bor-5">
       <img src="file:///D|/Dropbox/share with lida and jiaxin/member-left by lida/member-left/web/img/ad2.jpg" class="width-bar">
   </div>
  
  
      <div class="contactus-weibobor-1">
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="file:///D|/Dropbox/share with lida and jiaxin/member-left by lida/member-left/web/img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="file:///D|/Dropbox/share with lida and jiaxin/member-left by lida/member-left/web/img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
    </div>
        
</div>

<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1">首页</li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1">关于简妮</li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1">简妮大事记</li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;简妮大事记</p>
           </div>
           <div class="history_middle_1">
              <div class="history_middle_1_top">
                    <img class="history_middle_1_pic" src="img/logo_05.jpg" width="221" height="104">
                    <span class="history_middle_1_txt01">Feel the Nature, Feel the Power of Skin——感·本源之力</span>
              </div>
              <div>
                    <span class="history_middle_1_txt02">简妮（gelnic）是创立于1986年的日本高级美容护肤品牌，自面世以来一直深受日本女士的喜爱。简妮gelnic以"</span>
                    <span class="history_middle_1_txt03">重视客户体验，口碑至上"的市场观念，通过美容沙龙、各种试用活动等方式，获取了一大批忠实客户。2013年，简妮</span>
                    <span class="history_middle_1_txt03">gelnic已经进入中国内地，成为崇尚自然美肌的女性消费者的首选品牌。</span>
              </div>
           </div>
           <div>
                    <span class="history_middle_2_txt01">大事记</span>
                    <span class="history_middle_2_txt02">『1986年6月』･･･ 株式会社Nayuta成立（简妮gelnic品牌前身）</span>
                    <span class="history_middle_2_txt02">『1988年7月』･･･ 明星产品Nature Gel Home Cream上市 </span>
                    <span class="history_middle_2_txt02">『1995年6月』･･･ 因业务扩大，新建自主工厂，为肌肤定制的美肌产品均由设备齐全的自主工厂生产，所有工序均经过严格管理检验， </span>
                     <span class="history_middle_2_txt03">从根本上把控了产品品质 </span>
                     <span class="history_middle_2_txt02">『1996年4月』･･･ 株式会社简妮gelnic成立 </span>
                     <span class="history_middle_2_txt02">『2013年』･･･････ 秉承对"敏感肌肤的研究"，走过27年历史 </span>
           </div>
     </div>
</div>

</body>
</html>
