<!doctype html>
<html>

<% content_for :javascripts do %>
<script>
   $(window).load(function() {
    $('.flexslider').flexslider();
  });
	
</script>
<script>
$(document).ready(function(){
	$("#news-text1").show();
	$("#news-text2").hide();	
  $("#index-text1").mouseover(function(){
    ;
	$("#news-text1").show();
	$("#news-text2").hide();
	$("#index-text2").addClass("text-color");
	$("#index-text1").addClass("text-white");
	$("#index-text1").addClass("bacground-green position");
 $("#index-text2").removeClass("bacground-green");
 $("#index-text2").addClass("bacground-white-green");


  });
    $("#index-text2").mouseover(function(){
    ;
	$("#news-text2").show();
	$("#news-text1").hide();
	$("#index-text2").addClass("bacground-green position");
 $("#index-text2").removeClass("bacground-white-green");
	$("#index-text2").removeClass("text-color");
	$("#index-text1").addClass("text-color");
	$("#index-text1").removeClass("bacground-green");
		$("#index-text1").removeClass("text-white");
  });

});
</script>
<style>
p{
	margin:0px;
}
</style>
<% end %>



<body>
<div id="page_container1">
  <div class="kv">
 	 	<div class="flexslider">
 	 		<ul class="slides">
 				 <%=raw @page.content_for(:kv) %>
 			</ul>
  		</div>
  </div>
    <div class="media-movie" style="background-color:#0F0;">
       <%=raw @page.content_for(:video) %>    
    </div>
    
  <div class="basket-ad1" >
        
    <div class="basket-ad2">
<%=raw @page.content_for(:advt1) %>  
</div>
        
    <div class="basket-ad3"><%=raw @page.content_for(:advt2) %></div>
    
  </div>
    
  <div class="news-blank">
    <div class="new-head">
       <div class="index-text1"  id="index-text1">
            品牌动态
      </div>     
      <div class="index-text2" id="index-text2">
      网站公告
      
      </div>      
    </div>
    
    
    <div class="news-text1" id="news-text1">
      <img src="/assets/img/info.png" class="notice">
      <ul>
      <li class="mar1">2013/07/03</li>
      <li class="mar2">新闻标题</li>
      </ul>
    </div>
	<div class="news-text2" id="news-text2">
      <img src="/assets/img/notice.png" class="notice">
      
     <ul>
	<li class="mar1">2013/07/03</li>
    	<li class="mar2">新闻标题</li>
</ul>
    </div>
    

  
   
  </div>

  <div class="last-blank" >
       <div class="last-text-head">
       从这里可以联系我们
       </div>
     </div>
     <div class="bottom-basket-border-gray">
  <div class="last-weibo">
      <div class="last-text-tail">官方微博
      </div>
      <img src="/assets/img/MicBlog-gray.png" class="wobo-1">
   <ul class="position-ul-next">
      <li class="http-li">
      <a href="http://e.weibo.com/gelnicjapan" class="http-li">http://e.weibo.com/gelnicjapan</a>
      </li>
      <li class="little-words-under-weibo">关注简妮官方微博，开启美丽新纪元！</li>
  </ul>
  </div>
  
  <div class="last-tell">
    <div class="last-text-tail">
     客服电话
     </div>
     
     <img src="/assets/img/phone.png" class="wobo-2">
     
     <div class="cesstte">
     <img src="/assets/img/cesstte.png" class="wobo">
     400-998-9870
     <ul>
         <li>10:00-18:00 周一至周五，除国定节假日外
         </li>  
      </ul>
      
      </div>
  </div>  
  
  <div class="last-online">
    <div class="last-text-tail">
     在线客服
    </div>
     <img src="/assets/img/person.png" class="person-1">
     <div class="cesstte">
   	  <a  target="_blank" href="http://amos.alicdn.com/getcid.aw?v=2&uid=gelnic%E7%AE%80%E5%A6%AE&site=cntaobao&s=1&groupid=0&charset=utf-8"><img style="margin-top:5px;" border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=gelnic%E7%AE%80%E5%A6%AE&site=cntaobao&s=1&charset=utf-8" alt="点击这里给我发消息" /></a>
   		  <ul>
   				 <li>
   			  10:00-22:00周一至周日，除国定节假日外
   		 		 </li>
   		  </ul>
     </div>
  </div> 
  </div>
</div>
</body>
</html>
