<!doctype html>
<html>
<head>
<title>会员制度</title>
</head>
<body>

<div class="middle-xp">
<div id="member-left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       会员专区
       </div>
    </div>
  </div>
  
  <center>
    
    <div class="basket2-missJu" >
      <div class="member-text2-tips-tech">
      <img src="/assets/img/right-angle-green-big-one.png" height="12px" > 会员制度
      </div>
    </div>
    
    <div class="basket2" >
      <div class="member-text2">
      <img src="/assets/img/down-angle-green.jpg" height="7px" > 
      会员中心
      </div>
    </div>
 
  </center>
  <div class="for-one-line-left">
 <ul>
   
   <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E4%B8%AA%E4%BA%BA%E4%BF%A1%E6%81%AF">个人信息</a></li>
   <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%88%91%E7%9A%84%E7%A7%AF%E5%88%86">我的积分及订单历史</a></li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E5%85%91%E6%8D%A2%E7%A7%AF%E5%88%86">兑换积分</a></li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png"  class="img-margin2">
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%9F%A5%E7%9C%8B%E5%85%91%E6%8D%A2%E5%8E%86%E5%8F%B2">查看兑换历史</a></li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2">
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%94%B6%E8%B4%A7%E5%9C%B0%E5%9D%80%E7%AE%A1%E7%90%86">收货地址管理</a></li>
 
  
  </ul>
   </div>
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
   <center><div class="between-the-ads-tech"></div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  <div class="for-one-line-left">
      
      <%= render :partial => "/refinery/pages/left_contactus.html.erb" %> 
    </div>
   
</div>
<div id="content_right">
	<div class="resetpw">
	<div class="resetpw_head">
                <ul>
			<li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区">会员专区</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区/会员制度">会员制度</a></li>
                </ul>
	</div>
	<div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;会员制度</p>
    </div>
	<%=raw @page.content_for(:memsys) %>
	</div>
</div>

</body>
</html>


