<!doctype html>
<html>
<head>
<style type="text/css">
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
</style>
<link href="layout.css" rel="stylesheet" type="text/css" media="screen" />

<meta charset="utf-8">
<title>member-left-contactus</title>
</head>

<body>

<div id="member-left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       联系我们
      </div>
    </div>
  </div>
  
  <center>
  </center>
 

   
   <div class="bor-4">
      <img src="file:///D|/Dropbox/share with lida and jiaxin/member-left by lida/member-left/web/img/ad1.jpg" class="width-bar">
   </div>
   <center><div class="between-the-ads">
   </div></center>
   <div class="bor-5">
       <img src="file:///D|/Dropbox/share with lida and jiaxin/member-left by lida/member-left/web/img/ad2.jpg" class="width-bar">
   </div>
  
  
  <div class="contactus-weibobor-1">      
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
      
  <ul>
       <li class="member-text5" >
       <div class="alter-the-weibopositon">官方微信</div> <div>
       <img src="file:///D|/Dropbox/share with lida and jiaxin/member-left by lida/member-left/web/img/wechat-gray.png" class="wechatweibo1"  ></div>
       </li>
       <li class="member-text5">
       <div class="alter-the-weibopositon">官方微博</div>
       <div>
       <img src="file:///D|/Dropbox/share with lida and jiaxin/member-left by lida/member-left/web/img/MicBlog-gray.png" height="40" class="wechatweibo" >
       </div>
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
   </div>
</div>



</body>
</html>
