<!doctype html>
<html>
<body>

<div class="middle-xp">


<div id="member-left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       会员专区
       </div>
    </div>
  </div>
  
  <center>
    
    <div class="basket2" >
      <div class="member-text2">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 
       <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E5%88%B6%E5%BA%A6">会员制度</a>
      </div>
    </div>
    
    <div class="basket2" >
      <div class="member-text2">
      <img src="/assets/img/down-angle-green.jpg" height="7px" > 
      会员中心
      </div>
    </div>
 
  </center>
 <div class="for-one-line-left">
 <ul>
   
   <center>
 
     <li class="zone2"><img src="/assets/img/right-angle-empty.png"  class="img-margin">
    <span class="member-text3"> 个人信息</span>
    </li>
  </center>

   <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%88%91%E7%9A%84%E7%A7%AF%E5%88%86">我的积分及订单历史</a></li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E5%85%91%E6%8D%A2%E7%A7%AF%E5%88%86">兑换积分</a></li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png"  class="img-margin2">
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%9F%A5%E7%9C%8B%E5%85%91%E6%8D%A2%E5%8E%86%E5%8F%B2">查看兑换历史</a></li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2">
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%88%91%E7%9A%84%E8%AE%A2%E5%8D%95">收货地址管理</a></li>
 
  
  </ul>
   </div>
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
  <center> <div class="between-the-ads-tech">
   </div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
      
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="/assets/img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="/assets/img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
    
    <div class="bor-6"></div>     
</div>

	
<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
			<li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区">会员专区</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区/会员中心">会员中心</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区/会员中心/个人信息">个人信息</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;会员基本信息</p>
           </div>
           <div class="complete_middle_top">
                <div class="middle_top_left">会员ID:<label id="memberid"></label>
                </div>
                <div class="middle_top_right">
                     <div class="right_editinfo"><input id="editinfo" type="button" value="编辑个人信息" ></div>
                     <div class="right_modify"> <input id="modifypw" type="button" value="修改密码"></div> 
                </div>
           </div>
           <div class="complete_middle">              
               <table class="complete_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td   class="complete_middle_2">*</td>
                              <td   class="complete_middle_3">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱:</td>
                              <td   class="complete_middle_4" ><label id="email"></label> </td>
                              <td   class="complete_middle_2">*</td>
                              <td   class="complete_middle_3">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名:</td>
                              <td   class="complete_middle_4" ><label id="name"></label> </td>
                     </tr>
               </table>
               <table class="complete_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td   class="complete_middle_2">*</td>
                              <td   class="complete_middle_3">生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日:</td>
                              <td   class="complete_middle_4" ><label id="birthday"></label> </td>
                              <td   class="complete_middle_2">*</td>
                              <td   class="complete_middle_3">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别:</td>
                              <td   class="complete_middle_4" ><label id="sex"></label> </td>
                     </tr>
               </table>
               <table class="complete_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td   class="complete_middle_2">*</td>
                              <td   class="complete_middle_3">电子杂志：</td>
                              <td   class="complete_middle_4" ><label id="magazine"></label> </td>
                              <td   class="complete_middle_2">*</td>
                              <td   class="complete_middle_3">邮政编码：</td>
                              <td   class="complete_middle_4" ><label id="postalcode"></label> </td>
                     </tr>
               </table>
                <table class="complete_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td   class="complete_middle_2">*</td>
                              <td   class="complete_middle_3">省&nbsp;市&nbsp;区：</td>
                              <td   class="complete_middle_4" ><label id="area"></label> </td>
                              <td   class="complete_middle_2">*</td>
                              <td   class="complete_middle_3">详细地址:</td>
                              <td   class="complete_middle_4" ><label id="address"></label> </td>
                     </tr>
               </table>
               <table class="complete_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td   class="complete_middle_2">*</td>
                              <td   class="complete_middle_3">手机号码:</td>
                              <td   class="complete_middle_4" ><label id="mobile"></label> </td>
                              <td   class="complete_middle_2"></td>
                              <td   class="complete_middle_3">固定电话:</td>
                              <td   class="complete_middle_4" ><label id="tel"></label> </td>
                     </tr>
               </table>
                <table class="complete_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td   class="complete_middle_2"></td>
                              <td   class="complete_middle_3">淘宝账号:</td>
                              <td   class="complete_middle_4" ><label id="taobao"></label> </td>
                              <td   class="complete_middle_2"></td>
                              <td   class="complete_middle_3">1号商城账号:</td>
                              <td   class="complete_middle_4" ><label id="yihao"></label> </td>
                     </tr>
               </table>
               <table class="complete_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td   class="complete_middle_2"></td>
                              <td   class="complete_middle_3">Weibo账号:</td>
                              <td   class="complete_middle_4" ><label id="weibo"></label> </td>
                              <td   class="complete_middle_2"></td>
                              <td   class="complete_middle_3">微信账号:</td>
                              <td   class="complete_middle_4" ><label id="weixin"></label> </td>
                     </tr>
               </table>
           </div>           
           <div class="resetpw_bottom">               
                <div class="complete_bottom_picture" style="font-size: 13px;color:#666666;"> 
                        如您发现所绑定淘宝或者1号商城帐号和您的希望有出入，请联系客服
                </div>                             
          </div>
     </div>
</div>


</body>
</html>
