<!doctype html>
<html>
<head>
<style type="text/css">
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
</style>
<link href="layout.css" rel="stylesheet" type="text/css" media="screen" />

<meta charset="utf-8">
<title>member-left-</title>
</head>

<body>

<div id="member-left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       产品咨询
       </div>
    </div>
  </div>
  
  <center>
    <div class="basket2-missJu" >
      <div class="member-text2-tips-tech">
      <img src="images/img/right-angle-green-big-one.png" height="17px" > 简妮保湿润泽乳霜
      </div>
    </div>
 <center><div class="between-the-ads-tech">
   </div></center>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="file:///D|/Dropbox/share with lida and jiaxin/member-left by lida/member-left/web/img/right-angle-green.jpg" width="9.5px"  > 简妮清爽洁面啫喱
      </div>
    </div>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="file:///D|/Dropbox/share with lida and jiaxin/member-left by lida/member-left/web/img/right-angle-green.jpg" width="9.5px"> 简妮去角质亮肤啫喱
       </div>
    </div>
    <div class="basket2-missJu-tech-aboutJN-lastone" >
      <div class="member-text2-aboutJN-lastone">
       <img src="file:///D|/Dropbox/share with lida and jiaxin/member-left by lida/member-left/web/img/right-angle-green.jpg" width="9.5px"  > 推荐组合
      </div>
    </div>
  </center>

   
   <div class="bor-4">
      <img src="file:///D|/Dropbox/share with lida and jiaxin/member-left by lida/member-left/web/img/ad1.jpg" class="width-bar">
   </div>
    <center><div class="between-the-ads">
   </div></center>
   <div class="bor-5">
       <img src="file:///D|/Dropbox/share with lida and jiaxin/member-left by lida/member-left/web/img/ad2.jpg" class="width-bar">
   </div>
  
  
      <div class="contactus-weibobor-1">
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="file:///D|/Dropbox/share with lida and jiaxin/member-left by lida/member-left/web/img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="file:///D|/Dropbox/share with lida and jiaxin/member-left by lida/member-left/web/img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
    </div>
        
</div>



</body>
</html>
