<!doctype html>
<html>
<head>
<style type="text/css">
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
</style>
<link href="/assets/layout.css" rel="stylesheet" type="text/css" media="screen" />

<title>会员制度</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="/assets/Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/Member-institution.css" rel="stylesheet" type="text/css" media="screen" />

</head>

<body>

<div class="middle-xp">


<div id="member-left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       会员专区
       </div>
    </div>
  </div>
  
  <center>
    
    <div class="basket2-missJu" >
      <div class="member-text2-tips-tech">
      <img src="/assets/img/right-angle-green-big-one.png" height="9.5px" > 会员制度
      </div>
    </div>
    
    <div class="basket2" >
      <div class="member-text2">
      <img src="/assets/img/down-angle-green.jpg" height="9.5px" > 
      会员中心
      </div>
    </div>
 
  </center>
  <div class="for-one-line-left">
 <ul>
   <center>
 
     <li class="zone2"><img src="/assets/img/right-angle-empty.png"  class="img-margin">
    <span class="member-text3"> 个人信息</span>
    </li>
  </center>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  兑换积分</li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png"  class="img-margin2">
  查看兑换历史</li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2">
  我的订单</li>
 
  
  </ul>
   </div>
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
   <center><div class="between-the-ads-tech"></div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  <div class="for-one-line-left">
      
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="/assets/img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="/assets/img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
    </div>
   
</div>

<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
			<li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区">会员专区</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区/会员制度">会员制度</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;会员制度</p>
           </div>
           <div class="institution_middle_1">
                <div class="institution_middle_title">
                 会员权益
                </div>
                <div class="middle_1_content">
                     <ul>
                              <li>
                                    <span class="middle_content_txt">
                                    注册送积分：注册即送100积分，并有机会获得Gelnic【洁面+去角质+多效滋润凝露】惊喜感受套装
                                    </span>
                              </li>
                              <li>
                                    <span class="middle_content_txt">
                                    积分换礼：每年2次换礼申请，臻选心动好礼
                                    </span>
                              </li>
                              <li>
                                   <span class="middle_content_txt">
                                   最新促销信息：提前得知最新促销活动等信息
                                   </span>
                              </li>
                              <li>
                                   <span class="middle_content_txt">
                                   会员专享优惠：享受会员专属促销优惠
                                   </span>
                              </li>
                              <li>
                                   <span class="middle_content_txt">
                                   新品体验：优先获得新品或限定品体验机会
                                   </span>
                              </li>
                              <li>
                                   <span class="middle_content_txt">
                                   美研沙龙：有机会受邀参加美研沙龙或讲座
                                   </span>
                              </li>
                              <li>
                                   <span class="middle_content_txt">
                                   健康贴士及资讯：定期获取温馨健康贴士及专业资讯
                                   </span>
                              </li>
                              <li>
                                   <span class="middle_content_txt"> 
                                   电子会刊：定期会员电子专刊
                                   </span>
                              </li>
                     </ul>
                </div>
           </div>
           <div class="institution_middle_2">
                <div class="institution_middle_title">
                会员积分规则
                </div>
                <div class="middle_2_top">
                     <ul>
                              <li class="middle_content_txt">
                              1元消费=1个积分
                              </li>
                              <li class="middle_content_txt">
                            绑定天猫账号、京东账号后，在天猫商城及京东商城上购买gelnic商品，享受1元消费=1个积分的积分累计奖励。（绑定账号后系统自
                              </li>
                              <li class="middle_content_txt">
                              动累计积分）积分可在积分商城兑换相应礼品。
                              </li>
                     </ul>
                </div>
                <div class="middle_2_content">
                     <ul>
                              <li>
                                     <span class="middle_content_txt"> 
                                     积分累计暂时只针对大陆地区会员开放。
                                     </span>
                              </li>
                              <li>
                                     <span class="middle_content_txt"> 
                                     会员积分有效期为2年。
                                     </span>
                              </li>
                              <li>
                                     <span class="middle_content_txt"> 
                                     发生退货时会相应地影响积分。
                                     </span>
                              </li>
                              <li>
                                     <span class="middle_content_txt"> 
                                     会员身份失效积分亦相应失效。
                                     </span>
                              </li>
                              <li>
                                     <span class="middle_content_txt"> 
                                     会员推荐好友至gelnic官网并注册成功，即或200积分奖励
                                     </span>
                              </li>
                              
                     </ul>
                </div>
                <div class="middle_2_bottom">
                     <ul>
                              <li class="middle_content_txt">
                              积分兑换及查询途径
                              </li>
                              <li class="middle_content_txt">
                              A.登陆官方网站查询：&nbsp;&nbsp;<a class="middle_href" href="www.gelnic.com.cn" >www.gelnic.com.cn</a>
                              </li>
                              <li class="middle_content_txt">
                              B.拨打客户热线查询：&nbsp;&nbsp;800-000-0000
                              </li>
                     </ul>
                </div>   
          </div>
     </div>
</div>
</body>
</html>


