<!doctype html>
<html>
<head>
<style type="text/css">
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
</style>
<link href="/assets/layout.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/classroom.css" rel="stylesheet" type="text/css" media="screen" />
<meta charset="utf-8">
<title>小菊老师课堂</title>
</head>

<body>

<div id="member-left" style="float:left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       小菊老师课堂
      </div>
    </div>
  </div>
  
  <center>
  </center>
 

   
   <div class="bor-4">
      <img src="/assets/img/ad1.jpg" class="width-bar">
   </div>
   <center><div class="between-the-ads">
   </div></center>
   <div class="bor-5">
       <img src="/assets/img/ad2.jpg" class="width-bar">
   </div>
  
  
  <div class="contactus-weibobor-1">      
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
      
  <ul>
       <li class="member-text5" >
       <div class="alter-the-weibopositon">官方微信</div> <div>
       <img src="/assets/img/wechat-gray.png" class="wechatweibo1"  ></div>
       </li>
       <li class="member-text5">
       <div class="alter-the-weibopositon">官方微博</div>
       <div>
       <img src="/assets/img/MicBlog-gray.png" height="40" class="wechatweibo" >
       </div>
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
   </div>
</div>


<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="#">小菊老师课堂</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;小菊老师课堂</p>
           </div>
           <div class="rightclass_middle">
                <div class="rightclass_middle_left">
                      <img class="rightclass_middle_pic01" src="/assets/img/MissJu-days-dress.png" width="170" height="182">
                </div>
                <div class="rightclass_middle_right">
                      <div class="rightclass_middle_right01">
                             <div class="rightclass_middle_right02">
                                   <span class="rightclass_middle_txt01">在这个季节，你的肌肤是否有问题？</span>
                             </div>
                             <div class="rightclass_middle_right03">
                                   <span class="rightclass_middle_txt02">new!</span><!--待修改-->
                             </div>
                      </div>
                      <div class="rightclass_middle_right04">
                             <span class="rightclass_middle_txt03">在有空调的室内肌肤很干燥，会像在沙漠中想立刻给肌肤补充水份的感觉。</span>
                             <span class="rightclass_middle_txt03">室外非常闷热，肌肤上因为汗水，油脂变得油光发亮了。</span>
                             <span class="rightclass_middle_txt03">强烈的阳光和紫外线让肌肤感到干燥，防晒霜对肌肤的不适应的原因也有。</span>
                             <span class="rightclass_middle_txt03">室内室外的温差使肌肤疲惫不堪，恶劣的环境让肌肤变得很粗糙。</span>
                      </div>
                      <div class="rightclass_middle_right05">
                             <img src="/assets/img/MissJu-days-comic.png" width="468" height="90">
                      </div>
                      <div class="rightclass_middle_right06">
                             <span class="rightclass_middle_txt03">使肌肤保持滋润水盈</span>
                             <span class="rightclass_middle_txt03">室外湿度高，黏糊糊的，所以在室内的空调环境下肌肤会变得干燥。</span>
                             <span class="rightclass_middle_txt03">这样的温差，湿度差的环境更会让肌肤疲惫不堪。</span>
                             <span class="rightclass_middle_txt03">使用nature home creamEX每天护肤，能调整肌肤的平衡，是肌肤滋润水盈。</span>
                      </div>
                      <div class="rightclass_middle_right07">
                             <span class="rightclass_middle_txt03">nature home cream EX</span>
                             <span class="rightclass_middle_txt03">注目成分--α-葡聚糖寡</span>
                             <span class="rightclass_middle_txt03">健康肌肤中的常在菌和病菌的存在比例是很平衡的，维持着肌肤的健康。但是，一些外在的</span>
                             <span class="rightclass_middle_txt03">刺激引起病菌的增加造成各种肌肤问题。α-葡聚糖寡是促进常在菌活跃的成份，保持肌肤</span>
                             <span class="rightclass_middle_txt03">清洁。能将紊乱的肌肤环境调整成健康状态的一种令人注目的成份。</span>
                      </div>
                      <div>
                             <img src="/assets/img/MissJu-days-last-pic.png" width="350" height="505">
                      </div>
                </div>
           </div>
     </div>
</div>
</body>
</html>
