<!doctype html>
<html>
<head>
<style type="text/css">
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
</style>
<link href="/assets/layout.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/classroom.css" rel="stylesheet" type="text/css" media="screen" />
<meta charset="utf-8">
<title>member-left-contactus</title>
</head>

<body>

<div id="member-left" style="float:left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       小菊老师课堂
      </div>
    </div>
  </div>
  
  <center>
  </center>
 

   
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
   <center><div class="between-the-ads">
   </div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
  <div class="contactus-weibobor-1">      
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
      
  <ul>
       <li class="member-text5" >
       <div class="alter-the-weibopositon">官方微信</div> <div>
       <img src="/assets/img/wechat-gray.png" class="wechatweibo1"  ></div>
       </li>
       <li class="member-text5">
       <div class="alter-the-weibopositon">官方微博</div>
       <div>
       <img src="/assets/img/MicBlog-gray.png" height="40" class="wechatweibo" >
       </div>
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
   </div>
</div>


<div id="content_right">
     <div class="resetpw-class">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="#">小菊老师课堂</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;小菊老师课堂</p>
           </div>
           
           <div class="classcontent_top">
                <img src="/assets/img/banner-Miss-course.png" width="720" height="324">
                <div class="classcontent_top01">
                      最新·护肤妙招
                </div>
                <div class="rightclass_middle_left">
                      <img class="rightclass_middle_pic01" src="/assets/img/MissJu-days-dress.png" width="170" height="182">
                </div>
                <div class="rightclass_middle_right">
                      <div class="rightclass_middle_right01">
                             <div class="rightclass_middle_right02">
                                   <span class="rightclass_middle_txt01">在这个季节，你的肌肤是否有问题？</span>
                             </div>
                             <div class="rightclass_middle_right03">
                                   <span class="rightclass_middle_txt02">new!</span>
                             </div>
                      </div>
                      <div class="rightclass_middle_right04">
                             <span class="rightclass_middle_txt03">在有空调的室内肌肤很干燥，会像在沙漠中想立刻给肌肤补充水份的感觉。</span>
                             <span class="rightclass_middle_txt03">室外非常闷热，肌肤上因为汗水，油脂变得油光发亮了。</span>
                             <span class="rightclass_middle_txt03">强烈的阳光和紫外线让肌肤感到干燥，防晒霜对肌肤的不适应的原因也有。</span>
                             <span class="rightclass_middle_txt03">室内室外的温差使肌肤疲惫不堪，恶劣的环境让肌肤变得很粗糙。</span>
                      </div>
                      <div class="rightclass_middle_right05">
                             <img src="/assets/img/MissJu-days-comic.png" width="468" height="90">
                      </div>
                      <div class="rightclass_middle_right06">
                             <span class="rightclass_middle_txt03">使肌肤保持滋润水盈</span>
                             <span class="rightclass_middle_txt03">室外湿度高，黏糊糊的，所以在室内的空调环境下肌肤会变得干燥。</span>
                             <span class="rightclass_middle_txt03">这样的温差，湿度差的环境更会让肌肤疲惫不堪。</span>
                             <span class="rightclass_middle_txt03">使用nature home creamEX每天护肤，能调整肌肤的平衡，是肌肤滋润水盈。</span>
                      </div>
                      <div class="classcontent_txt01">
                             <a href="/home/%E5%B0%8F%E8%8F%8A%E8%80%81%E5%B8%88%E7%9A%84%E8%AF%A6%E6%83%85">查看详情</a>
                      </div>
                      <div class="classcontent_pic01">
                             <img src="/assets/img/right-angle-green.jpg" width="5" height="10">
                      </div>
                </div>
           </div>
           <div class="classcontent_middle">
                <div class="classcontent_middle_left">
                      <img src="/assets/img/Miss-course-three-pic-3.png" width="176" height="170">
                </div>
                <div class="classcontent_middle_right">
                      <div class="classbox">
                          <span class="bot"></span>
                          <span class="top"></span>
                          <div class="classcontent_middle_right01">
                                 注重肌肤水分一样的矿物质平衡
                          </div>
                           <div class="classcontent_middle_right02">
                                 <div>我们平时进行肌肤护理的角质层，是位于肌肤表面的0.02毫米的薄层，它有着很多的</div>
                                 <div>作用。角质层像派一样一个个重叠，经过时间流逝逐渐像表层运动形成角质层，最后变</div>
                                 <div>成污垢脱落。</div>
                          </div>
                          <div class="classcontent_txt01">
                                 <a>查看详情</a>
                          </div>
                          <div class="classcontent_pic01">
                                 <img src="/assets/img/right-angle-green.jpg" width="5" height="10">
                          </div>
                      </div>
                </div>
           </div>
           <div class="classcontent_middle">
                <div class="classcontent_middle_left">
                      <img src="/assets/img/Miss-course-three-pic-2.png" width="176" height="170">
                </div>
                <div class="classcontent_middle_right">
                      <div class="classbox">
                          <span class="bot"></span>
                          <span class="top"></span>
                          <div class="classcontent_middle_right01">
                                造成不够滋润及肌肤问题的原因
                          </div>
                           <div class="classcontent_middle_right02">
                                 <div>外界刺激等导致的滋润不足是种种肌肤问题的根源！</div>
                                 <div>为了能让支援美肌的"3种功能"更加顺利地发挥作用，需要去除多余角质</div>
                                 <div>将肌肤需要的成分输送进角质层的各个角落，并好好保存，才能打造美肌。</div>
                          </div>
                          <div class="classcontent_txt01">
                                 <a>查看详情</a>
                          </div>
                          <div class="classcontent_pic01">
                                 <img src="/assets/img/right-angle-green.jpg" width="5" height="10">
                          </div>
                      </div>
                </div>
           </div>
           <div class="classcontent_middle">
                <div class="classcontent_middle_left">
                      <img src="/assets/img/Miss-course-three-pic-1.png" width="176" height="170">
                </div>
                <div class="classcontent_middle_right">
                      <div class="classbox">
                          <span class="bot"></span>
                          <span class="top"></span>
                          <div class="classcontent_middle_right01">
                                解决毛孔等问题，回复肌肤健康环境
                          </div>
                           <div class="classcontent_middle_right02">
                                 <div>每周1-2次清理角质，干净的清洁老角质和毛孔污垢。</div>
                                 <div>洗脸也无法去除的毛孔污垢和老化角质、多余皮脂等，用此款啫喱轻柔按摩后清除。</div>
                                 <div>在带来美肌成分的同时焕发肌肤活力，解决毛孔等问题，回复肌肤健康环境。</div>
                          </div>
                          <div class="classcontent_txt01">
                                 <a>查看详情</a>
                          </div>
                          <div class="classcontent_pic01">
                                 <img src="/assets/img/right-angle-green.jpg" width="5" height="10">
                          </div>
                      </div>
                </div>
           </div>
            <div class="classcontent_middle">
                <div class="classcontent_middle_left">
                      <img src="/assets/img/Miss-course-three-pic-3.png" width="176" height="170">
                </div>
                <div class="classcontent_middle_right">
                      <div class="classbox">
                          <span class="bot"></span>
                          <span class="top"></span>
                          <div class="classcontent_middle_right01">
                                注重肌肤水分一样的矿物质平衡
                          </div>
                           <div class="classcontent_middle_right02">
                                 <div>我们平时进行肌肤护理的角质层，是位于肌肤表面的0.02毫米的薄层，它有着很多的</div>
                                 <div>作用。角质层像派一样一个个重叠，经过时间流逝逐渐像表层运动形成角质层，最后变</div>
                                 <div>成污垢脱落。</div>
                          </div>
                          <div class="classcontent_txt01">
                                 <a>查看详情</a>
                          </div>
                          <div class="classcontent_pic01">
                                 <img src="/assets/img/right-angle-green.jpg" width="5" height="10">
                          </div>
                      </div>
                </div>
           </div>
           <div class="classcontent_middle">
                <div class="classcontent_middle_left">
                      <img src="/assets/img/Miss-course-three-pic-2.png" width="176" height="170">
                </div>
                <div class="classcontent_middle_right">
                      <div class="classbox">
                          <span class="bot"></span>
                          <span class="top"></span>
                          <div class="classcontent_middle_right01">
                                造成不够滋润及肌肤问题的原因
                          </div>
                           <div class="classcontent_middle_right02">
                                 <div>外界刺激等导致的滋润不足是种种肌肤问题的根源！</div>
                                 <div>为了能让支援美肌的"3种功能"更加顺利地发挥作用，需要去除多余角质。</div>
                                 <div>将肌肤需要的成分输送进角质层的各个角落，并好好保存，才能打造美肌。</div>
                          </div>
                          <div class="classcontent_txt01">
                                 <a>查看详情</a>
                          </div>
                          <div class="classcontent_pic01">
                                 <img src="/assets/img/right-angle-green.jpg" width="5" height="10">
                          </div>
                      </div>
                </div>
           </div>
           <div class="classcontent_middle">
                <div class="classcontent_middle_left">
                      <img src="/assets/img/Miss-course-three-pic-1.png" width="176" height="170">
                </div>
                <div class="classcontent_middle_right">
                      <div class="classbox">
                          <span class="bot"></span>
                          <span class="top"></span>
                          <div class="classcontent_middle_right01">
                                解决毛孔等问题，回复肌肤健康环境
                          </div>
                           <div class="classcontent_middle_right02">
                                 <div>每周1-2次清理角质，干净的清洁老角质和毛孔污垢。</div>
                                 <div>洗脸也无法去除的毛孔污垢和老化角质、多余皮脂等，用此款啫喱轻柔按摩后清除。</div>
                                 <div>在带来美肌成分的同时焕发肌肤活力，解决毛孔等问题，回复肌肤健康环境。</div>
                          </div>
                          <div class="classcontent_txt01">
                                 <a>查看详情</a>
                          </div>
                          <div class="classcontent_pic01">
                                 <img src="/assets/img/right-angle-green.jpg" width="5" height="10">
                          </div>
                      </div>
                </div>
           </div>
           <div class="classcontent_middle">
                <div class="classcontent_middle_left">
                      <img src="/assets/img/Miss-course-three-pic-2.png" width="176" height="170">
                </div>
                <div class="classcontent_middle_right">
                      <div class="classbox">
                          <span class="bot"></span>
                          <span class="top"></span>
                          <div class="classcontent_middle_right01">
                                造成不够滋润及肌肤问题的原因
                          </div>
                           <div class="classcontent_middle_right02">
                                 <div>外界刺激等导致的滋润不足是种种肌肤问题的根源！</div>
                                 <div>为了能让支援美肌的"3种功能"更加顺利地发挥作用，需要去除多余角质。</div>
                                 <div>将肌肤需要的成分输送进角质层的各个角落，并好好保存，才能打造美肌。</div>
                          </div>
                          <div class="classcontent_txt01">
                                 <a>查看详情</a>
                          </div>
                          <div class="classcontent_pic01">
                                 <img src="/assets/img/right-angle-green.jpg" width="5" height="10">
                          </div>
                      </div>
                </div>
           </div>
           <div class="classcontent_middle">
                <div class="classcontent_middle_left">
                      <img src="/assets/img/Miss-course-three-pic-1.png" width="176" height="170">
                </div>
                <div class="classcontent_middle_right">
                      <div class="classbox">
                          <span class="bot"></span>
                          <span class="top"></span>
                          <div class="classcontent_middle_right01">
                                解决毛孔等问题，回复肌肤健康环境
                          </div>
                           <div class="classcontent_middle_right02">
                                 <div>每周1-2次清理角质，干净的清洁老角质和毛孔污垢。</div>
                                 <div>洗脸也无法去除的毛孔污垢和老化角质、多余皮脂等，用此款啫喱轻柔按摩后清除。</div>
                                 <div>在带来美肌成分的同时焕发肌肤活力，解决毛孔等问题，回复肌肤健康环境。</div>
                          </div>
                          <div class="classcontent_txt01">
                                 <a>查看详情</a>
                          </div>
                          <div class="classcontent_pic01">
                                 <img src="/assets/img/right-angle-green.jpg" width="5" height="10">
                          </div>
                      </div>
                </div>
           </div>
     </div>
</div>

</body>
</html>
