<!doctype html>
<html>
<head>
<style type="text/css">
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
</style>
<link href="layout.css" rel="stylesheet" type="text/css" media="screen" />

<meta charset="utf-8">
<title>我的订单</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="Member-information-findpassword-1.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>

<div class="middle-xp">
<div id="member-left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       会员专区
       </div>
    </div>
  </div>
  
  <center>
    
    <div class="basket2" >
      <div class="member-text2">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 
       会员制度
      </div>
    </div>
    
    <div class="basket2" >
      <div class="member-text2">
      <img src="/assets/img/down-angle-green.jpg" height="7px" > 
      会员中心
      </div>
    </div>
 
  </center>
 <div class="for-one-line-left">
 <ul>
  
    <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2">
  个人信息</li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  我的积分</li>
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  兑换积分</li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png"  class="img-margin2">
  查看兑换历史</li>
  

  <center>
 
     <li class="zone2"><img src="/assets/img/right-angle-empty.png"  class="img-margin">
    <span class="member-text3"> 我的订单</span>
    </li>
  </center>
  
  </ul>
   </div>
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
   <center><div class="between-the-ads-tech"></div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  <div class="for-one-line-left"> 
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="/assets/img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="/assets/img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
     </div>
</div>
<div id="content_right">
<div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区">会员专区</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区/会员中心">会员中心</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区/会员中心/我的订单">我的订单</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
           
                <p class="resetpw_top_txt">&nbsp;我&nbsp;的&nbsp;订&nbsp;单</p>
           </div>
           
          
           
       <div class="findpw_1_middle">
                <table   class="firstlogin_middle_1" border="0" cellpadding="0" cellspacing="0" >
                      <tr>
                              
                              <td   class="firstlogin_middle_3">订单时间：</td>
                              <td   class="firstlogin_middle_10" >
                              <label id="province"></label>
                              <select id="province" name="province" class="firstlogin_middle_dropdown3"><option>全部商品</option><option>一个月内</option><option>六个月内</option><option>一年以内</option><option>一个以前</option></select></td>
                              
                              
                      </tr>
               </table>
               
               <div class="resetpw_top1-intable"><table width="720" border="0">
         <tr>
           <td width="266" class="myorder-in-table-text">商品</td>
           <td width="85" class="myorder-in-table-text-middle">单价</td>
           <td width="75" class="myorder-in-table-text-middle">数量</td>
           <td width="90" class="myorder-in-table-text-middle">实付款</td>
           <td width="105" class="myorder-in-table-text-middle">所得积分</td>
           <td width="101" class="myorder-in-table-text-middle">购买途径</td>
         </tr>
  </table></div>
      
      <div class="just-for-border">        
        <div class="resetpw_top1-mystore-myorder">
      	  <table width="375" border="0">
 			 <tr>
  				  <td width="75" class="for-order-number-word">订单编号:</td>
   				  <td width="135" class="for-order-number-word">000000</td>
  				  <td width="110" class="for-order-number-word">订单成交时间:</td>
 			      <td width="80" class="for-order-number-word">2013/7/11</td>
 			 </tr>
		  </table>

  		</div>

  
 		  <table width="722" >
  			<tr>
    			  <td width="132"   ><img src="/assets/img/product2.png" class="mystore-for-order"></td>
    			  <td width="140" >
    					<ul>
    						<li class="mystore-text-for-order">简妮保湿润泽乳霜</li>
   						    <li class="mystore-text-for-order-1">100G</li>
  					    </ul>
   				  </td>
  				  <td width="79" class="for-order-middle-number">200</td>
   			      <td width="67" class="for-order-middle-number">1</td>
   				  <td width="83" class="for-order-middle-number">200</td>
    			  <td width="98" class="for-order-middle-number">200</td>
  				  <td width="91" class="for-order-middle-number">天猫商城</td>
 			 </tr>
		  </table>
	 </div>
	</div>
</div>
</div>
</body>
</html>
