<!doctype html>
<html>
<body>
<% content_for :javascripts do %>
	<script>
		<% if session[:login] %>
			$(document).ready ();
		<% else %>
			$(document).ready (login);
		<% end %>
	</script>
	<script>
		$(document).ready(getadd);
	</script>
	<script>
	
	
$(".add_tab2 .add_td1 .add_del #delete").click (function () {
//	var productid = $(this).parent().parent().find ('#productid').val();		
	$(this).parent().parent().parent().remove();
//	headerdel (productid);
	alert($(this).parent().parent().parent().find ('#addressid').val())
	
	$.ajax({
		url:        "/membership/deladdr.json",
		type:       "POST",
		dataType:   "json",
		data:       {
			id:					$(this).parent().parent().parent().find ('#addressid').val()
			
		}
	}).done (function (resp){
		if(parseInt (resp.status) == 1) {
			alert ("删除地址成功");    
			   
		}else {
			    if (resp.description != null)
				     alert (resp.description);
			    else
				     alert ("请求失败，请再检查一遍您的输入并稍候再试");
		}
		
		
	}).fail (function() {
		alert ("请求发送失败，请稍候再试");
	});	
});

	</script>	
<% end %>


<div class="middle-xp">
<div id="member-left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       会员专区
       </div>
    </div>
  </div>
  
  <center>
    
    <div class="basket2" >
      <div class="member-text2">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 
       <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E5%88%B6%E5%BA%A6">会员制度</a>
      </div>
    </div>
    
    <div class="basket2" >
      <div class="member-text2">
      <img src="/assets/img/down-angle-green.jpg" height="7px" > 
      会员中心
      </div>
    </div>
 
  </center>
 <div class="for-one-line-left">
 <ul>
  
    <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E4%B8%AA%E4%BA%BA%E4%BF%A1%E6%81%AF">个人信息</a></li>
   <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%88%91%E7%9A%84%E7%A7%AF%E5%88%86">我的积分及订单历史</a></li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E5%85%91%E6%8D%A2%E7%A7%AF%E5%88%86">兑换积分</a></li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png"  class="img-margin2">
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%9F%A5%E7%9C%8B%E5%85%91%E6%8D%A2%E5%8E%86%E5%8F%B2">查看兑换历史</a></li>
  
  

 
 
     <li class="zone2"><img src="/assets/img/right-angle-empty.png"  class="img-margin">
    <span class="member-text3"> 收货地址管理</span>
    </li>
  
  
  </ul>
   </div>
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
   <center><div class="between-the-ads-tech"></div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  <div class="contactus-weibobor-1-1">   
      <%= render :partial => "/refinery/pages/left_contactus.html.erb" %> 
      </div> 
        
</div>
<div id="content_right">
<div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区">会员专区</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区/会员中心">会员中心</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区/会员中心/我的订单">收货地址管理</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
           
                <p class="resetpw_top_txt">&nbsp;收货地址管理</p>
           </div>
           <div class="add_middle">
               
                <div class="add_txt1">
                  新增收货地址
                </div>
                
               <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td   class="firstlogin_middle_2">*</td>
                              <td   class="firstlogin_middle_3">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</td>
                              <td   class="firstlogin_middle_4" ><input id="name" type="text" class="firstlogin_middle_5"></td>
                     </tr>
               </table>
               <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td    class="firstlogin_middle_2">*</td>
                              <td    class="firstlogin_middle_3">手机号码：</td>
                              <td    class="firstlogin_middle_4" ><input id="mobile" type="text" class="firstlogin_middle_5"></td>
                     </tr>
               </table>
               <table   class="firstlogin_middle_1" border="0" cellpadding="0" cellspacing="0" >
                      <tr>
                              <td   class="firstlogin_middle_2">*</td>
                              <td   class="firstlogin_middle_3">省&nbsp;市&nbsp;区：</td>
                              <td   class="firstlogin_middle_10" >
                              <select id="province" class="firstlogin_middle_dropdown3" onchange="changeProvince ($('option:selected', this).attr ('id').slice (5))"></select></td>
                              <td   class="firstlogin_middle_8">省</td>
                              <td   class="firstlogin_middle_10" >
                              <select id="city" name="city" class="firstlogin_middle_dropdown3" onchange="changeCity ($('option:selected', this).attr ('id').slice (5))"></select></td>
                              <td   class="firstlogin_middle_8">市</td>
                               <td  class="firstlogin_middle_10" >
                              <select id="district" name="district" class="firstlogin_middle_dropdown3"></select></td>
                              <td   class="firstlogin_middle_8">区</td>
                      </tr>
               </table>
                <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td    class="firstlogin_middle_2">*</td>
                              <td    class="firstlogin_middle_3">详细地址：</td>
                              <td    class="firstlogin_middle_4" ><input id="address" type="text" class="firstlogin_middle_5"></td>
                              <td    class="firstlogin_middle_6" >为保证您能尽快体验到简妮商品，请确保您填写的地址真实有效</td>
                     </tr>
               </table>
               <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td    class="firstlogin_middle_2">*</td>
                              <td    class="firstlogin_middle_3">邮政编码：</td>
                              <td    class="firstlogin_middle_4" ><input id="postalcode" type="text" class="firstlogin_middle_5"></td>
                     </tr>
               </table>
               <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td   class="firstlogin_middle_2"></td>
                              <td   class="firstlogin_middle_3">固定电话：</td>
                              <td   class="firstlogin_middle_11_1" ><input id="areacode" type="text" class="firstlogin_middle_11_2"></td>
                              <td   class="firstlogin_middle_11_7" >区号</td>
                              <td   class="firstlogin_middle_11_3" ><input id="telephone" type="text" class="firstlogin_middle_11_5"></td>
                              <td   class="firstlogin_middle_11_4" >电话号码</td>
                              <td   class="firstlogin_middle_11_1" ><input id="extensionnumber" type="text" class="firstlogin_middle_11_2"></td>
                              <td   class="firstlogin_middle_11_6" >分机号</td>
                     </tr>     
               </table>
               <div class="resetpw_bottom">               
                     <div class="resetpw_bottom_save">
                              <input id="saveadd"   type="submit" value="完成并保存"  onclick="addaddress()">
                     </div>                                                          
               </div>
               
     </div>
      <div class="add_txt1">
                已保存的有效地址
               </div>
               <table class="add_tab1"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td   class="add_td1">姓名</td>
                              <td   class="add_td2">省市区 </td>
                              <td   class="add_td3" >详细地址 </td>
                              <td   class="add_td2">手机号码</td>
                              <td   class="add_td2">邮政编码</td>
                              <td   class="add_td2">固定电话</td>
                              <td   class="add_td1">操作</td>
                     </tr>
               </table>
               <table class="add_tab2"  border="0" cellspacing="0" cellpadding="0">
               		
                      <tr>
                      		  <td><input type="hidden" id="addressid" /></td>
                              <td   class="add_td1"><label id="name2"></label></td>
                              <td   class="add_td2"><label id="province2"></label></td>
                              <td   class="add_td3"><label id="address2"> </label></td>
                              <td   class="add_td2"><label id="mobile2"></label></td>
                              <td   class="add_td2"><label id="zipcode2"></label></td>
                              <td   class="add_td2"><label id="fixtel2"></label></td>
                              <td   class="add_td1">
                                     <div class="add_mod">
                                           <input id="modify"   type="button" value="修改"  >
                                     </div>
                                     <div class="add_del">
                                           <input id="delete"   type="button" value="删除"  >
                                     </div>
                              </td>
                     </tr>
                   
               </table>
           
          
           
       
</div>
</div>

</html>
