<!doctype html>
<html>
<body>
<% content_for :javascripts do %>
	<script>
		<% if session[:login] %>
			<% if session[:login] == 1%>
					location.href = "/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E5%88%9D%E6%AC%A1%E7%99%BB%E5%BD%95";
			<% end %>
			$(document).ready ();
		<% else %>
			$(document).ready (login);
		<% end %>
		$(document).ready (getpoint);
		$(document).ready (getpointlist);
		$(document).ready (getpendingpoint);
	</script>
<% end %>
<div class="middle-xp">
<div id="member-left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       会员专区
       </div>
    </div>
  </div>
  
  <center>
    
    <div class="basket2" >
      <div class="member-text2">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 
       <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E5%88%B6%E5%BA%A6">会员制度</a>
      </div>
    </div>
    
    <div class="basket2" >
      <div class="member-text2">
      <img src="/assets/img/down-angle-green.jpg" height="7px" > 
      会员中心
      </div>
    </div>
 
  </center>
 <div class="for-one-line-left">
 <ul>
   
 	<li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E4%B8%AA%E4%BA%BA%E4%BF%A1%E6%81%AF">个人信息</a></li>
    <li class="zone2"><img src="/assets/img/right-angle-empty.png"  class="img-margin">
    <span class="member-text3"> 我的积分及订单历史</span>
    </li>
  
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E5%85%91%E6%8D%A2%E7%A7%AF%E5%88%86">兑换积分</a></li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png"  class="img-margin2">
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%9F%A5%E7%9C%8B%E5%85%91%E6%8D%A2%E5%8E%86%E5%8F%B2">查看兑换历史</a></li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2">
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%94%B6%E8%B4%A7%E5%9C%B0%E5%9D%80%E7%AE%A1%E7%90%86">收货地址管理</a></li>
 
  
  </ul>
   </div>
   
      <%= render :partial => "/refinery/pages/left_contactus.html.erb" %> 
     
        
    
</div>


<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区">会员专区</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区/会员中心">会员中心</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区/会员中心/个人信息">我的积分及订单历史</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">我的积分及订单历史</p>
           </div>
           
           <div class="firsrlogin_middle-no-line">
		           <ul>
		             <li class="text-all-color-green">
		                 可用积分总数：
		             </li>
		             <li class="text-all-color-yellow">
			     <label id="mypoint">0</label>
		             </li>
		             <li class="text-all-color-green" style="margin-left:50px">
		                 冻结积分总数：
		             </li>
		             <li class="text-all-color-gray">
			     <label id="mypendingpoint">0</label>
		             </li>  
		          </ul>
		<!--             <table   class="firstlogin_middle_1" border="0" cellpadding="0" cellspacing="0" >
		                   <tr>
		                             
		                              <td   class="firstlogin_middle_3-1-wodejifen">积分状态：</td>
		                              <td   class="firstlogin_middle_10" >
		                              <select id="pointstatus" class="firstlogin_middle_dropdown3-1"><option>全部积分</option><option>可兑换</option><option>已过期</option></select></td>
		                              <td   class="firstlogin_middle_8-1">积分类型：&nbsp;&nbsp;</td>
		                              <td   class="firstlogin_middle_10" >
		                              <select id="pointtype" name="city" class="firstlogin_middle_dropdown3-1"><option>全部类型</option><option>购买</option><option>奖励</option></select></td>
		                             
		                              
		               </tr>
		             </table>  -->
		             <ul class="background-color-white-green-wode">
		                     <li class="list-text1-wode">
		                	     积分获取时间
		               		 </li>
		                     <li class="list-text2-wode">
		                     积分过期时间
		                     </li>
		                     <li class="list-text3-wode">
		                     所得积分
		                     </li>
		                     <li class="list-text4-wode">
		                     积分状态
		                     </li>
		                     <li class="list-text5-wode">
		                     购买类型
		                     </li>
		             </ul>
		             <table class="table4-wode">
		           			     <tr>
		            			   <td class="table4-line1-wode"><label id="gain"></label></td>
		                           <td class="table4-line2-wode"><label id="expire"></label></td>
		                           <td class="table4-line3-wode"><label id="count"></label></td>
		                           <td class="table4-line4-wode"><label id="status"></label></td>
		                           <td class="table4-line5-wode"><label id="rule"></label></td>
		                         </tr>	                      
		             </table>
		             
		             <div >
				<!--	                <table   class="firstlogin_middle_1" border="0" cellpadding="0" cellspacing="0" >
					                      <tr>
					                              
					                              <td   class="firstlogin_middle_3">订单时间：</td>
					                              <td   class="firstlogin_middle_10" >
					                              <select class="firstlogin_middle_dropdown3"><option>全部商品</option><option>一个月内</option><option>六个月内</option><option>一年以内</option><option>一个以前</option></select></td>
					                              
					                              
					                      </tr>
					               </table> -->
					               <ul>
					               <div class="resetpw_top1">
					                   <li class="resetpw_top_txt1">
					                      商品
					                 </li>
					                <li class="resetpw_top_txt2-mystore">
					                      单价
					                    </li>
					                 <li class="resetpw_top_txt2-1-mystore">
					                      数量
					                    </li>
					               
					                <li class="resetpw_top_txt2-2-mystore">
					                      实付款
					                    </li>
					                 <li class="resetpw_top_txt2-2-mystore-1">
					                      所得积分
					                    </li>
					                 <li class="resetpw_top_txt3-mystore">
					                    购买途径
					                 </li>
					                 </div>
					         </ul>					              					                
					</div>   
		<table class="table3-mystore">
			  <tr>
			  		<td>
					  			<table id="prorder">
					  			<tr>			  				
					  				<td>
						  					<div class="resetpw_top1-mystore">
										        <ul>
											        <li class="resetpw_top_txt-mystore">订单编号： <label id="orderno"></label>
											        </li>
											         <li class="resetpw_top_txt-mystore-1">订单成交时间：<label id="ordertime"></label>
											        </li>
										        </ul>				        
							  	    		 </div> 
						  			 </td>
						  		</tr>			  			
								</table> 
								<table id="prodetail" width="750">		  		
								  			<tr> 
								  				<td  class="table-text-green3-store" ><label id="productpic"></label></td>
											    <td  class="table-text-black3-2">
												    <ul>
													    <li class="mystore-text">
													    <label id="productname"></label>
													    </li>
													    <li class="mystore-text">
													    <label id="productsize"></label>
													    </li>
												    </ul>
											    </td>
											    <td class="table-text-black3-2-store"><label id="price"></label></td>
											    <td class="table-text-green3-store"><label id="amount"></label></td>
											    <td class="table-text-green3-store"><label id="payment"></label></td>
											    <td class="table-text-green3-store"><label id="gainpoint"></label></td>
											    <td class="table-text-black3-1-store"><label id="market"></label></td>
								  			</tr>			  			
								</table>	
				</td>
			</tr>
			
		</table>
		</div>     
	</div>
</div>
  

</body>
</html>
