<!doctype html>
<html>
<head>
<style type="text/css">
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
</style>
<link href="/assets/layout.css" rel="stylesheet" type="text/css" media="screen" />

<meta charset="utf-8">
<title>我的积分-xp</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/assets/Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/Member-information-firstlogin.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>

<div class="middle-xp">
<div id="member-left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       会员专区
       </div>
    </div>
  </div>
  
  <center>
    
    <div class="basket2" >
      <div class="member-text2">
       <img src="/assets/img/right-angle-green.jpg" width="9.5px"  > 
       会员制度
      </div>
    </div>
    
    <div class="basket2" >
      <div class="member-text2">
      <img src="/assets/img/down-angle-green.jpg" height="9.5px" > 
      会员中心
      </div>
    </div>
 
  </center>
 
 <ul>
   <center>
 
     <li class="zone2"><img src="/assets/img/right-angle-empty.png"  class="img-margin">
    <span class="member-text3"> 个人信息</span>
    </li>
  </center>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  兑换积分</li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png"  class="img-margin2">
  查看兑换历史</li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2">
  我的订单</li>
 
  
  </ul>
   
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
   
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
      
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="/assets/img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="/assets/img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
    
    <div class="bor-6"></div>     
</div>


<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区">会员专区</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区/会员中心">会员中心</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区/会员中心/个人信息">个人信息</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;会员基本信息&nbsp;&nbsp;*为必填内容</p>
           </div>
           
           <div class="firsrlogin_middle-no-line">
           <ul>
             <li class="text-all-color-green">
                 本次兑换所需积分：
             </li>
             <li class="text-all-color-yellow">
                 300
             </li> 
          </ul>
             <table   class="firstlogin_middle_1" border="0" cellpadding="0" cellspacing="0" >
                   <tr>
                             
                              <td   class="firstlogin_middle_3-1-wodejifen">积分状态：</td>
                              <td   class="firstlogin_middle_10" >
                              <select id="province" class="firstlogin_middle_dropdown3-1"><option>全部积分</option><option>可兑换</option><option>已过期</option></select></td>
                              <td   class="firstlogin_middle_8-1">积分类型：&nbsp;&nbsp;</td>
                              <td   class="firstlogin_middle_10" >
                              <select id="city" name="city" class="firstlogin_middle_dropdown3-1"><option>全部类型</option><option>购买</option><option>奖励</option></select></td>
                             
                              
               </tr>
             </table> 
             <ul class="background-color-white-green-wode">
                     <li class="list-text1-wode">
                     积分获取时间
               </li>
                     <li class="list-text2-wode">
                     积分过期时间
                     </li>
                     <li class="list-text3-wode">
                     所得积分
                     </li>
                     <li class="list-text4-wode">
                     积分状态
                     </li>
                     <li class="list-text5-wode">
                     购买类型
                     </li>
             </ul>
             <table class="table4-wode">
             <tr>
             <td class="table4-line1-wode">2013/7/11</td>
                           <td class="table4-line2-wode">2015/7/11</td>
                           <td class="table4-line3-wode">100</td>
                           <td class="table4-line4-wode">有效</td>
                           <td class="table4-line5-wode">购买</td>
                         </tr>
                      
             </table>
		</div>     
	</div>
</div>
  

</body>
</html>
