<!DOCTYPE html>
<body>
<div id="member-left" style="float:left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       调查问卷
       </div>
    </div>
  </div>
  
  

   
   
      <%= render :partial => "/refinery/pages/left_contactus.html.erb" %> 
      
</div>
<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a>首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a>问卷调查</a></li>
                
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;肌肤状况小调查</p>
           </div>
           <div class="norep_middle">
                <div class="norep_txt">
                您已参加过此次"肌肤状况小调查"，无法重复参加！
                </div>
          
           </div>
           
     </div>
</div>
</body>
</html>
