<!doctype html>
<html>


<body>

<div id="member-left" style="float:left">
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       产品咨讯
       </div>
    </div>
  </div>
  
  <center>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"> <a href="/%E4%BA%A7%E5%93%81%E8%B5%84%E8%AE%AF/%E6%B6%A6%E6%B3%BD%E4%B9%B3%E9%9C%9C">简妮保湿润泽乳霜</a>
       </div>
    </div>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > <a href="/%E4%BA%A7%E5%93%81%E8%B5%84%E8%AE%AF/%E6%B4%81%E9%9D%A2%E5%95%AB%E5%96%B1">简妮清爽洁面啫喱</a>
      </div>
    </div>
    
    <div class="basket2-missJu" >
      <div class="member-text2-tips-tech">
      <img src="/assets/img/right-angle-green-big-one.png" height="12px" > 简妮去角质亮肤啫喱
      </div>
    </div>
 <center><div class="between-the-ads-tech">
   </div></center>
   <div class="basket2-missJu-tech-aboutJN-lastone" >
      <div class="member-text2-aboutJN-lastone">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > <a href="/%E4%BA%A7%E5%93%81%E8%B5%84%E8%AE%AF/%E6%8E%A8%E8%8D%90%E7%BB%84%E5%90%88">推荐组合</a>
      </div>
    </div>
  </center>

   
   
      <%= render :partial => "/refinery/pages/left_contactus.html.erb" %> 
     
        
</div>

<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a>首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a>产品资讯</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a>简妮去角质亮肤</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;简妮去角质亮肤</p>
           </div>
           <div class="clean_top">
                <img src="/assets/img/banner-product-0.png" width="720"  height="169">
           </div>
           
           
           
           <div>
                   <div class="clean_left">
                            <div class="clean_left01">Step.2</div>
                            <div class="peeling_left02">简妮去角质亮肤</div>
                            <div class="peeling_left03">深入滋养修复并提亮肤色</div>
                   </div>
                   
                   <table width="650"  >
  							<tr>
 								   <td><div style="padding:93px 0px 10px 25px;"><img src="/assets/img/peeling-1.png" width="112" height="125">
</div>
										<div class="clean_txt01">
                                 				   <div>简妮去角质亮肤啫喱</div>
                                 				   <div>10g</div>
                       			        </div>
										<div class="clean_right05">
				    <a href="/产品资讯/亮肤啫喱/简妮去角质亮肤10g"><input class="clean_detail"  type="button" value="更多详情" id="clean01_detail" ></a>
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                         			   </div>
                            		</td>
 								   <td><div style="padding:93px 0px 10px 25px;"><img src="/assets/img/peeling-2.png" width="112" height="125">
</div>
										<div class="clean_txt01">
                                 				   <div>简妮去角质亮肤啫喱</div>
                                 				   <div>75g</div>
                       			        </div>
										<div class="clean_right05">
				    <a href="/产品资讯/亮肤啫喱/简妮去角质亮肤-75g"><input class="clean_detail"  type="button" value="更多详情" id="clean01_detail" ></a>
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                         			   </div>
                         			   </td>
  								   <td><div style="padding:19px 0px 10px 25px;"><img src="/assets/img/peeling-4.png" width="93" height="196">
</div>
										<div class="clean_txt01">
                                 				   <div>简妮去角质亮肤啫喱</div>
                                 				   <div>300g</div>
                       			        </div>
										<div class="clean_right05">
				    <a href="/产品资讯/亮肤啫喱/简妮去角质亮肤啫喱-300g"><input class="clean_detail"  type="button" value="更多详情" id="clean01_detail" ></a>
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                         			   </div>
                         			   </td>
 							</tr>
				   </table>
                   
           <div style="clear:both"></div>       
           </div>
           
     </div>
</div>

</body>
</html>
