<!DOCTYPE html>

<body>
<div id="member-left" style="float:left;">
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       产品资讯
       </div>
    </div>
  </div>
  
  <center>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > <a href="/%E4%BA%A7%E5%93%81%E8%B5%84%E8%AE%AF/%E6%B6%A6%E6%B3%BD%E4%B9%B3%E9%9C%9C">简妮保湿润泽乳霜</a>
      </div>
    </div>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > <a href="/%E4%BA%A7%E5%93%81%E8%B5%84%E8%AE%AF/%E6%B4%81%E9%9D%A2%E5%95%AB%E5%96%B1">简妮清爽洁面啫喱</a>
      </div>
    </div>
   <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > <a href="/%E4%BA%A7%E5%93%81%E8%B5%84%E8%AE%AF/%E4%BA%AE%E8%82%A4%E5%95%AB%E5%96%B1">简妮去角质亮肤啫喱</a></div>
    </div>
    <div class="basket2-missJu-tech-aboutJN-lastone" >
      <div class="basket2-missJu" >
      <div class="member-text2-tips-tech">
       <img src="/assets/img/right-angle-green-big-one.png" height="12px" > 推荐组合
      </div>
    </div>
    </div>
  </center>

   
   
      <%= render :partial => "/refinery/pages/left_contactus.html.erb" %> 
      
        
</div>
<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a>首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a>产品资讯</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a>推荐组合</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;推荐组合</p>
           </div>
           <div class="clean_top">
                <img src="/assets/img/banner-product-1.png" width="720"  height="169">
           </div>
           <div>
                   <div class="clean_left">
                            <div class="clean_left01">Group</div>
                            <div class="peeling_left02" style="height:234px;padding-top: 115px">推荐组合</div>
                            <div class="peeling_left03" style="height: 262px;padding-top:86px;">多种组合套装满足您不同的需求</div>
                   </div>
                   <div class="clean_right">
                   		<ul>
	                   		<li>
	                   				
		                   				<input type="hidden" id="productid" />
				                   		<div class="clean_right01">	                   		  
				                   			    <img  id="small_pic">			                   			
										</div>
										<div class="clean_txt01">
											  <ul>
											  		<li><div><label id="pro_name"></label><label id="cap_detail"></label></div></li>											  		
											  </ul>
				                              				                              
				                       	</div>
										<div class="clean_right05">
								  			  <a class="clean_detail" href="#">更多详情</a>
				                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
				                        </div>
			                        
		                     </li>		                                      
		                 </ul>
                   </div>
                   
                   
                   
                   
                   
  <!--                 <table width="650"  >
  							<tr>
 								   <td><div style="padding:63px 0px 10px 25px;"><img src="/assets/img/double-pro-2.png" width="176" height="223">
</div>
										<div class="clean_txt01" style="margin-left: 40px;">
                                 				   <div>简妮清爽洁面啫喱 75G</div>
                                 				   <div>简妮去角质亮肤啫喱 75G</div>
                       			        </div>
										<div class="clean_right05" style="margin-left: 35px;">
				    <a href="/产品资讯/推荐组合/简妮清爽洁面啫喱75g简妮去角质亮肤啫喱75g" class="clean_detail">更多详情</a>
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                         			   </div>
                            		</td>
 								   <td width="215">
                         			   </td>
  								   <td width="215">
                         			   </td>
 							</tr>
 							
				   </table>         -->
                   
                   
                   
                    
           </div>
     </div>
</div>
</body>
</html>
