<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>products-group</title>
<link href="/assets/Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/products.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
<div id="member-left" style="float:left;">
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       关于简妮
       </div>
    </div>
  </div>
  
  <center>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 简妮保湿润泽乳霜
      </div>
    </div>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 简妮清爽洁面啫喱
      </div>
    </div>
   <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 简妮去角质亮肤啫喱</div>
    </div>
    <div class="basket2-missJu-tech-aboutJN-lastone" >
      <div class="basket2-missJu" >
      <div class="member-text2-tips-tech">
       <img src="/assets/img/right-angle-green-big-one.png" height="12px" > 推荐组合
      </div>
    </div>
    </div>
  </center>

   
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
    <center><div class="between-the-ads">
   </div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
      <div class="contactus-weibobor-1">
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="/assets/img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="/assets/img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
    </div>
        
</div>
<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a>首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a>产品资讯</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a>推荐组合</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;推荐组合</p>
           </div>
           <div class="clean_top">
                <img src="/assets/img/banner-product-1.png" width="720"  height="169">
           </div>
           <div>
                   <div class="group_left">
                            <div class="clean_left01">Group</div>
                            <div class="group_left02">推荐组合</div>
                            <div class="group_left03">多种组合套装满足您不同的需求</div>
                   </div>
                    <div>
                            <div class="group_right01">
                                    <img src="/assets/img/product-2-small-middle.png" width="176" height="223">
                            </div>
                            <div class="group_right02">
                                    <img src="/assets/img/product-2-pink-large.png" width="176" height="223">
                            </div>
                            <div class="group_right03">
                                    <img src="/assets/img/product-2-pink-middle.png" width="176" height="223">
                            </div>
                            
                            <div class="group_txt01">
                                    <div>简妮保湿润泽乳霜 100G</div>
                                    <div>简妮清爽洁面啫喱 75G</div>
                            </div>
                            <div class="group_txt01">
                                    <div>简妮保湿润泽乳霜 50G</div>
                                    <div>简妮清爽洁面啫喱 75G</div>
                            </div>
                            <div class="group_txt01">
                                    <div>简妮保湿润泽乳霜 50G</div>
                                    <div>简妮去角质亮肤啫喱 75G</div>
                            </div>
                          
                            <div class="group_right04">
                                     <input class="group_detail"  type="button" value="更多详情" id="group01_detail" >
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                            </div>
                            <div class="group_right04">
                                     <input class="group_detail"  type="button" value="更多详情" id="group02_detail" >
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                            </div>
                             <div class="group_right04">
                                     <input class="group_detail"  type="button" value="更多详情" id="group03_detail" >
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                            </div>
                            <div class="group_right01">
                                    <img src="/assets/img/product-2-small-middle-large.png" width="176" height="223">
                            </div>
                            <div class="group_right02">
                                    <img src="/assets/img/product-2-small-middle-large-1.png" width="176" height="223">
                            </div>
                            <div class="group_right03">
                                    <img src="/assets/img/product-2-small-middle-large-0.png" width="176" height="223">
                            </div>
                            
                            <div class="group_txt01">
                                    <div>简妮保湿润泽乳霜 100G</div>
                                    <div>简妮清爽洁面啫喱 200G</div>
                                    <div>简妮去角质亮肤啫喱 75G</div>
                            </div>
                            <div class="group_txt01">
                                    <div>简妮保湿润泽乳霜 100G</div>
                                    <div>简妮清爽洁面啫喱 75G</div>
                                    <div>简妮去角质亮肤啫喱 75G</div>
                            </div>
                            <div class="group_txt01">
                                    <div>简妮保湿润泽乳霜 30G</div>
                                    <div>简妮清爽洁面啫喱 20G</div>
                                    <div>简妮去角质亮肤啫喱 10G</div>
                            </div>
                          
                            <div class="group_right04">
                                     <input class="group_detail"  type="button" value="更多详情" id="group04_detail" >
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                            </div>
                            <div class="group_right04">
                                     <input class="group_detail"  type="button" value="更多详情" id="group05_detail" >
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                            </div>
                             <div class="group_right04">
                                     <input class="group_detail"  type="button" value="更多详情" id="group06_detail" >
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                            </div>
                   </div>
           </div>
     </div>
</div>
</body>
</html>
