<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>products-group</title>
<link href="Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="products.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a>首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a>产品资讯</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a>推荐组合</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;推荐组合</p>
           </div>
           <div class="clean_top">
                <img src="img/banner-product-1.png" width="720"  height="169">
           </div>
           <div>
                   <div class="group_left">
                            <div class="clean_left01">Group</div>
                            <div class="group_left02">推荐组合</div>
                            <div class="group_left03">多种组合套装满足您不同的需求</div>
                   </div>
                    <div>
                            <div class="group_right01">
                                    <img src="img/product-2-small-middle.png" width="176" height="223">
                            </div>
                            <div class="group_right02">
                                    <img src="img/product-2-pink-large.png" width="176" height="223">
                            </div>
                            <div class="group_right03">
                                    <img src="img/product-2-pink-middle.png" width="176" height="223">
                            </div>
                            
                            <div class="group_txt01">
                                    <div>简妮保湿润泽乳霜 100G</div>
                                    <div>简妮清爽洁面啫喱 75G</div>
                            </div>
                            <div class="group_txt01">
                                    <div>简妮保湿润泽乳霜 50G</div>
                                    <div>简妮清爽洁面啫喱 75G</div>
                            </div>
                            <div class="group_txt01">
                                    <div>简妮保湿润泽乳霜 50G</div>
                                    <div>简妮去角质亮肤啫喱 75G</div>
                            </div>
                          
                            <div class="group_right04">
                                     <input class="group_detail"  type="button" value="更多详情" id="group01_detail" >
                                     <img class="clean_pic" src="triangle-1.jpg" width="12" height="18" />
                            </div>
                            <div class="group_right04">
                                     <input class="group_detail"  type="button" value="更多详情" id="group02_detail" >
                                     <img class="clean_pic" src="triangle-1.jpg" width="12" height="18" />
                            </div>
                             <div class="group_right04">
                                     <input class="group_detail"  type="button" value="更多详情" id="group03_detail" >
                                     <img class="clean_pic" src="triangle-1.jpg" width="12" height="18" />
                            </div>
                            <div class="group_right01">
                                    <img src="img/product-2-small-middle-large.png" width="176" height="223">
                            </div>
                            <div class="group_right02">
                                    <img src="img/product-2-small-middle-large-1.png" width="176" height="223">
                            </div>
                            <div class="group_right03">
                                    <img src="img/product-2-small-middle-large-0.png" width="176" height="223">
                            </div>
                            
                            <div class="group_txt01">
                                    <div>简妮保湿润泽乳霜 100G</div>
                                    <div>简妮清爽洁面啫喱 200G</div>
                                    <div>简妮去角质亮肤啫喱 75G</div>
                            </div>
                            <div class="group_txt01">
                                    <div>简妮保湿润泽乳霜 100G</div>
                                    <div>简妮清爽洁面啫喱 75G</div>
                                    <div>简妮去角质亮肤啫喱 75G</div>
                            </div>
                            <div class="group_txt01">
                                    <div>简妮保湿润泽乳霜 30G</div>
                                    <div>简妮清爽洁面啫喱 20G</div>
                                    <div>简妮去角质亮肤啫喱 10G</div>
                            </div>
                          
                            <div class="group_right04">
                                     <input class="group_detail"  type="button" value="更多详情" id="group04_detail" >
                                     <img class="clean_pic" src="triangle-1.jpg" width="12" height="18" />
                            </div>
                            <div class="group_right04">
                                     <input class="group_detail"  type="button" value="更多详情" id="group05_detail" >
                                     <img class="clean_pic" src="triangle-1.jpg" width="12" height="18" />
                            </div>
                             <div class="group_right04">
                                     <input class="group_detail"  type="button" value="更多详情" id="group06_detail" >
                                     <img class="clean_pic" src="triangle-1.jpg" width="12" height="18" />
                            </div>
                   </div>
           </div>
     </div>
</div>
</body>
</html>
