<!doctype html>
<html>


<body>

<div id="member-left" style="float:left">
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       产品咨讯
       </div>
    </div>
  </div>
  
  <center>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"> 简妮保湿润泽乳霜
       </div>
    </div>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 简妮清爽洁面啫喱
      </div>
    </div>
    
    <div class="basket2-missJu" >
      <div class="member-text2-tips-tech">
      <img src="/assets/img/right-angle-green-big-one.png" height="12px" > 简妮去角质亮肤啫喱
      </div>
    </div>
 <center><div class="between-the-ads-tech">
   </div></center>
   <div class="basket2-missJu-tech-aboutJN-lastone" >
      <div class="member-text2-aboutJN-lastone">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 推荐组合
      </div>
    </div>
  </center>

   
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
    <center><div class="between-the-ads">
   </div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
      <div class="contactus-weibobor-1">
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="/assets/img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="/assets/img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
    </div>
        
</div>

<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a>首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a>产品资讯</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a>简妮去角质亮肤</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;简妮去角质亮肤</p>
           </div>
           <div class="clean_top">
                <img src="/assets/img/banner-product-0.png" width="720"  height="169">
           </div>
           <div>
                   <div class="clean_left">
                            <div class="clean_left01">Step.2</div>
                            <div class="peeling_left02">简妮去角质亮肤</div>
                            <div class="peeling_left03">深入滋养修复并提亮肤色</div>
                   </div>
                   <div>
                            <div class="peeling_right01">
                                    <img src="/assets/img/peeling-1.png" width="112" height="125">
                            </div>
                            <div class="peeling_right02">
                                    <img src="/assets/img/peeling-2.png" width="112" height="125">
                            </div>
                            <div class="peeling_right03">
                                    <img src="/assets/img/peeling-3.png" width="112" height="217">
                            </div>
                            <div class="peeling_right04">
                                    <img src="/assets/img/peeling-4.png" width="112" height="217">
                            </div>
                            <div class="clean_txt01">
                                    <div>简妮去角质亮肤啫喱</div>
                                    <div>10G</div>
                            </div>
                            <div class="clean_txt01">
                                    <div>简妮去角质亮肤啫喱</div>
                                    <div>10G</div>
                            </div>
                            <div class="clean_txt01">
                                    <div>简妮去角质亮肤啫喱</div>
                                    <div>75G</div>
                            </div>
                            <div class="clean_txt01">
                                    <div>简妮去角质亮肤啫喱</div>
                                    <div>200G</div>
                            </div>
                            <div class="clean_right05">
				    <a href="/产品资讯/亮肤啫喱/product1"><input class="clean_detail"  type="button" value="更多详情" id="peeling01_detail" ></a>
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                            </div>
                             <div class="clean_right05">
				     <a href="/产品资讯/亮肤啫喱/product2"><input class="clean_detail"  type="button" value="更多详情" id="peeling02_detail" ></a>
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                            </div>
                             <div class="clean_right05">
				     <a href="/产品资讯/亮肤啫喱/product3"> <input class="clean_detail"  type="button" value="更多详情" id="peeling03_detail" ></a>
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                            </div>
                             <div class="clean_right05">
				     <a href="/产品资讯/亮肤啫喱/product4"><input class="clean_detail"  type="button" value="更多详情" id="peeling04_detail" ></a>
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                            </div>
                   </div>
           </div>
           <div style="clear:both"></div>
     </div>
</div>

</body>
</html>
