<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>products-homecream</title>
<link href="Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="products.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a>首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a>产品资讯</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a>简妮保湿润泽乳霜</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;简妮保湿润泽乳霜</p>
           </div>
           <div class="clean_top">
                <img src="img/banner-product-0.png" width="720"  height="169">
           </div>
           <div>
                   <div class="cream_left">
                            <div class="clean_left01">Step.3</div>
                            <div class="leftcontent_left">
                                   <div class="cream_left01">保湿润泽乳霜</div>
                                   <div class="cream_left02">干性及中性肌肤</div>
                                   <div class="cream_left01">保湿润泽乳霜</div>
                                   <div class="cream_left02">油性肌肤</div>
                            </div>
                            <div class="cream_left03">由内而外自然调养令肌肤达到理想的润泽状态</div>
                   </div>
                   <div>
                            <div class="cream_right01">
                                    <img src="img/circle-10g.png" width="70" height="80">
                            </div>
                            <div class="cream_right02">
                                    <img src="img/circle-30g.png" width="95" height="100">
                            </div>
                            <div class="cream_right03">
                                    <img src="img/circle-50g.png" width="120" height="160">
                            </div>
                            <div class="cream_right04">
                                    <img src="img/circle-100g.png" width="120" height="112">
                            </div>
                            <div class="clean_txt01">
                                    <div>简妮保湿润泽乳霜</div>
                                    <div>10G</div>
                            </div>
                            <div class="clean_txt01">
                                    <div>简妮保湿润泽乳霜</div>
                                    <div>30G</div>
                            </div>
                            <div class="clean_txt01">
                                    <div>简妮保湿润泽乳霜</div>
                                    <div>50G</div>
                            </div>
                            <div class="clean_txt01">
                                    <div>简妮保湿润泽乳霜</div>
                                    <div>100G</div>
                            </div>
                            <div class="clean_right05">
                                     <input class="clean_detail"  type="button" value="更多详情" id="cream01_detail" >
                                     <img class="clean_pic" src="triangle-1.jpg" width="12" height="18" />
                            </div>
                             <div class="clean_right05">
                                     <input class="clean_detail"  type="button" value="更多详情" id="cream02_detail" >
                                     <img class="clean_pic" src="triangle-1.jpg" width="12" height="18" />
                            </div>
                             <div class="clean_right05">
                                     <input class="clean_detail"  type="button" value="更多详情" id="cream03_detail" >
                                     <img class="clean_pic" src="triangle-1.jpg" width="12" height="18" />
                            </div>
                             <div class="clean_right05">
                                     <input class="clean_detail"  type="button" value="更多详情" id="cream04_detail" >
                                     <img class="clean_pic" src="triangle-1.jpg" width="12" height="18" />
                            </div>
                            <div class="cream_right05">
                                    <img src="img/circle-10g-red.png" width="95" height="100">
                            </div>
                            <div class="cream_right06">
                                    <img src="img/circle-30g-red.png" width="95" height="100">
                            </div>
                            <div class="cream_right07">
                                    <img src="img/circle-50g-red.png" width="120" height="160">
                            </div>
                            <div class="cream_right08">
                                    <img src="img/circle-100g-red.png" width="120" height="112">
                            </div>
                            <div class="clean_txt01">
                                    <div>简妮保湿润泽乳霜</div>
                                    <div>10G</div>
                            </div>
                            <div class="clean_txt01">
                                    <div>简妮保湿润泽乳霜</div>
                                    <div>30G</div>
                            </div>
                            <div class="clean_txt01">
                                    <div>简妮保湿润泽乳霜</div>
                                    <div>50G</div>
                            </div>
                            <div class="clean_txt01">
                                    <div>简妮保湿润泽乳霜</div>
                                    <div>100G</div>
                            </div>
                            <div class="clean_right05">
                                     <input class="clean_detail"  type="button" value="更多详情" id="cream05_detail" >
                                     <img class="clean_pic" src="triangle-1.jpg" width="12" height="18" />
                            </div>
                             <div class="clean_right05">
                                     <input class="clean_detail"  type="button" value="更多详情" id="cream06_detail" >
                                     <img class="clean_pic" src="triangle-1.jpg" width="12" height="18" />
                            </div>
                             <div class="clean_right05">
                                     <input class="clean_detail"  type="button" value="更多详情" id="cream07_detail" >
                                     <img class="clean_pic" src="triangle-1.jpg" width="12" height="18" />
                            </div>
                             <div class="clean_right05">
                                     <input class="clean_detail"  type="button" value="更多详情" id="cream08_detail" >
                                     <img class="clean_pic" src="triangle-1.jpg" width="12" height="18" />
                            </div>
                   </div>
           </div>
     </div>
</div>
</body>
</html>
