<!doctype html>
<html>


<body>

<div id="member-left" style="float:left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       产品咨讯
       </div>
    </div>
  </div>
  
  <center>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > <a href="/%E4%BA%A7%E5%93%81%E8%B5%84%E8%AE%AF/%E6%B6%A6%E6%B3%BD%E4%B9%B3%E9%9C%9C">简妮保湿润泽乳霜</a>
      </div>
    </div>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > <a href="/%E4%BA%A7%E5%93%81%E8%B5%84%E8%AE%AF/%E6%B4%81%E9%9D%A2%E5%95%AB%E5%96%B1">简妮清爽洁面啫喱</a>
      </div>
    </div>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"> <a href="/%E4%BA%A7%E5%93%81%E8%B5%84%E8%AE%AF/%E4%BA%AE%E8%82%A4%E5%95%AB%E5%96%B1">简妮去角质亮肤啫喱</a>
       </div>
    </div>
    <div class="basket2-missJu-tech-aboutJN-lastone" >
      <div class="member-text2-aboutJN-lastone">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > <a href="/%E4%BA%A7%E5%93%81%E8%B5%84%E8%AE%AF/%E6%8E%A8%E8%8D%90%E7%BB%84%E5%90%88">推荐组合</a>
      </div>
    </div>
  </center>

   
   
      <%= render :partial => "/refinery/pages/left_contactus.html.erb" %> 
      
        
</div>

<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a>首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a>产品资讯</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;所有产品</p>
           </div>
           <div class="clean_top">
                <img src="/assets/img/banner-product-0.png" width="720"  height="169">
           </div>
           <div class="slogan_content">
                   <div class="slogan_left">
                            <div class="slogan_left01">Step.1</div>
                            <div class="slogan_left02">清爽洁面</div>
                   </div>
                   <div class="slogan_pic01">
                            <img src="/assets/img/slogan-1-200g.png" width="120" height="225">
                   </div>
                   <div class="slogan_right">
                            <div class="slogan_txt01">简妮清爽洁面啫喱</div>
                            <div class="slogan_txt02">
                                  集卸妆与洁面双效合一，清透啫喱质地给予肌肤温柔呵护。蕴含氨基酸成分和五种天然成分，绝佳的渗透力能够包裹住化妆品残留和污垢，顷刻瓦解无残留，清洗过后不紧绷不干燥，时刻保持脸部滋润清透，带来极致奢宠护肤体验。
                            </div>
                            <div class="slogan_txt02">规  格：200G / 75G / 20G / 10G</div>
                            <div class="slogan_right02">
                                  <div class="slogan_right01">
                                         <a class="slogan_detail" href="/%E4%BA%A7%E5%93%81%E8%B5%84%E8%AE%AF/%E6%B4%81%E9%9D%A2%E5%95%AB%E5%96%B1">更多详情</a>
                                         <img class="slogan_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                                  </div>
                                  <div class="slogan_right01">                                    
                                        <input class="slogan_detail"  type="button" value="点击购买" id="slogan01_buy" >
                                        <img class="slogan_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                                  </div>
                            </div>
                  </div>
           </div>
           <div class="slogan_content">
                   <div class="slogan_left">
                            <div class="slogan_left01">Step.2</div>
                            <div class="slogan_left02">去角质亮肤</div>
                   </div>
                   <div class="slogan_pic01">
                            <img src="/assets/img/slogan-2-300g.png" width="120" height="225">
                   </div>
                   <div class="slogan_right">
                            <div class="slogan_txt01">简妮去角质亮肤啫喱</div>
                            <div class="slogan_txt02">
                                 蕴含13种天然美肌成分及水果提取物；汲取果酸"AHA"的独特功用，即刻去除老化角质；清爽啫喱质地，温和无刺激，深入滋养修复并提亮肤色，令肌肤重现柔嫩光滑，回复白皙清透本真。
                            </div>
                            <div class="slogan_txt02">规  格：300G / 75G / 10G / 10G</div>
                            <div class="slogan_right02">
                                    <div class="slogan_right01">
                                           <a class="slogan_detail" href="/%E4%BA%A7%E5%93%81%E8%B5%84%E8%AE%AF/%E4%BA%AE%E8%82%A4%E5%95%AB%E5%96%B1">更多详情</a>
                                            <img class="slogan_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                                    </div>
                                    <div class="slogan_right01">                                    
                                            <input class="slogan_detail"  type="button" value="点击购买" id="slogan02_buy" >
                                            <img class="slogan_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                                    </div>
                           </div>
                   </div>
          </div>
          <div class="slogan_content">
                   <div class="slogan_left03">
                            <div class="slogan_left01">Step.3</div>
                            <div class="slogan_left02">保湿润泽</div>
                   </div>
                   <div class="slogan_pic02">
                            <img src="/assets/img/slogan-3-100g.png"  width="130" height="127" >
                   </div>
                   <div class="slogan_right">
                            <div class="slogan_txt01">简妮保湿润泽乳霜-干性肌肤/中性肌肤</div>
                            <div class="slogan_txt02">
                                 为干性/中性肌肤特别定制，集化妆水、乳液、精华液三效于一体，富含水分子及模拟肌肤表层结构的稀臻保湿成分，深度沁透肌肤，由内而外自然调养，令肌肤达到理想的润泽状态。
                            </div>
                            <div class="slogan_txt02">规  格：100G / 50G / 30G / 10G</div>
                            <div class="slogan_right02">
                                    <div class="slogan_right01">
                                              <a class="slogan_detail" href="/%E4%BA%A7%E5%93%81%E8%B5%84%E8%AE%AF/%E6%B6%A6%E6%B3%BD%E4%B9%B3%E9%9C%9C">更多详情</a>
                                              <img class="slogan_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                                    </div>
                                    <div class="slogan_right01">                                    
                                             <input class="slogan_detail_book"  type="button" value="预定2013年10月发售" id="slogan03_buy" >
                                            
                                    </div>
                            </div>
                   </div>
                    <div class="slogan_pic02">
                            <img src="/assets/img/slogan-4-100g-red.png" width="130" height="127" >
                   </div>
                   <div class="slogan_right">
                            <div class="slogan_txt01">简妮保湿润泽乳霜-油性肌肤</div>
                            <div class="slogan_txt02">
                                 专为油性肌肤定制，富含水分子及模拟肌肤表层结构的稀臻保湿成分，即刻深度沁透肌肤，清爽不油腻，由内而外自然调养，令肌肤达到理想的润泽状态。
                            </div>
                            <div class="slogan_txt02">规  格：100G / 50G / 30G / 10G</div>
                            <div class="slogan_right02">
                                    <div class="slogan_right01">
                                              <a class="slogan_detail" href="/%E4%BA%A7%E5%93%81%E8%B5%84%E8%AE%AF/%E6%B6%A6%E6%B3%BD%E4%B9%B3%E9%9C%9C">更多详情</a>
                                              <img class="slogan_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                                    </div>
                                    <div class="slogan_right01">                                    
                                             <input class="slogan_detail_book"  type="button" value="预定2013年10月发售" id="slogan04_buy" >
                                            
                                    </div>
                            </div>
                   </div>
          </div>
          <div style="clear:both"></div>
     </div>
</div>

</body>
</html>
