<!doctype html>
<html>
<body>

<div id="member-left" style="float:left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       产品咨讯
       </div>
    </div>
  </div>
  
  <center>
    <div class="basket2-missJu" >
      <div class="member-text2-tips-tech">
      <img src="/assets/img/right-angle-green-big-one.png" height="12px" > 简妮保湿润泽乳霜
      </div>
    </div>
 <center><div class="between-the-ads-tech">
   </div></center>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 简妮清爽洁面啫喱
      </div>
    </div>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"> 简妮去角质亮肤啫喱
       </div>
    </div>
    <div class="basket2-missJu-tech-aboutJN-lastone" >
      <div class="member-text2-aboutJN-lastone">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 推荐组合
      </div>
    </div>
  </center>

   
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
    <center><div class="between-the-ads">
   </div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
      <div class="contactus-weibobor-1">
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="/assets/img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="/assets/img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
    </div>
        
</div>


<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a>首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a>产品资讯</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a>简妮保湿润泽乳霜</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;简妮保湿润泽乳霜</p>
           </div>
           <div class="clean_top">
                <img src="/assets/img/banner-product-0.png" width="720"  height="169">
           </div>
           <div>
                   <div class="cream_left">
                            <div class="clean_left01">Step.3</div>
                            <div class="leftcontent_left">
                                   <div class="cream_left01">保湿润泽乳霜</div>
                                   <div class="cream_left02">干性及中性肌肤</div>
                                   <div class="cream_left01">保湿润泽乳霜</div>
                                   <div class="cream_left02">油性肌肤</div>
                            </div>
                            <div class="cream_left03">由内而外自然调养令肌肤达到理想的润泽状态</div>
                   </div>
                   <div>
                            <div class="cream_right01">
                                    <img src="/assets/img/circle-10g.png" width="70" height="80">
                            </div>
                            <div class="cream_right02">
                                    <img src="/assets/img/circle-30g.png" width="95" height="100">
                            </div>
                            <div class="cream_right03">
                                    <img src="/assets/img/circle-50g.png" width="120" height="160">
                            </div>
                            <div class="cream_right04">
                                    <img src="/assets/img/circle-100g.png" width="120" height="112">
                            </div>
                            <div class="clean_txt01">
                                    <div>简妮保湿润泽乳霜</div>
                                    <div>10G</div>
                            </div>
                            <div class="clean_txt01">
                                    <div>简妮保湿润泽乳霜</div>
                                    <div>30G</div>
                            </div>
                            <div class="clean_txt01">
                                    <div>简妮保湿润泽乳霜</div>
                                    <div>50G</div>
                            </div>
                            <div class="clean_txt01">
                                    <div>简妮保湿润泽乳霜</div>
                                    <div>100G</div>
                            </div>
                            <div class="clean_right05">
                                     <input class="clean_detail"  type="button" value="更多详情" id="cream01_detail" >
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                            </div>
                             <div class="clean_right05">
                                     <input class="clean_detail"  type="button" value="更多详情" id="cream02_detail" >
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                            </div>
                             <div class="clean_right05">
                                     <input class="clean_detail"  type="button" value="更多详情" id="cream03_detail" >
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                            </div>
                             <div class="clean_right05">
                                     <input class="clean_detail"  type="button" value="更多详情" id="cream04_detail" >
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                            </div>
                            <div class="cream_right05">
                                    <img src="/assets/img/circle-10g-red.png" width="95" height="100">
                            </div>
                            <div class="cream_right06">
                                    <img src="/assets/img/circle-30g-red.png" width="95" height="100">
                            </div>
                            <div class="cream_right07">
                                    <img src="/assets/img/circle-50g-red.png" width="120" height="160">
                            </div>
                            <div class="cream_right08">
                                    <img src="/assets/img/circle-100g-red.png" width="120" height="112">
                            </div>
                            <div class="clean_txt01">
                                    <div>简妮保湿润泽乳霜</div>
                                    <div>10G</div>
                            </div>
                            <div class="clean_txt01">
                                    <div>简妮保湿润泽乳霜</div>
                                    <div>30G</div>
                            </div>
                            <div class="clean_txt01">
                                    <div>简妮保湿润泽乳霜</div>
                                    <div>50G</div>
                            </div>
                            <div class="clean_txt01">
                                    <div>简妮保湿润泽乳霜</div>
                                    <div>100G</div>
                            </div>
                            <div class="clean_right05">
                                     <input class="clean_detail"  type="button" value="更多详情" id="cream05_detail" >
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                            </div>
                             <div class="clean_right05">
                                     <input class="clean_detail"  type="button" value="更多详情" id="cream06_detail" >
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                            </div>
                             <div class="clean_right05">
                                     <input class="clean_detail"  type="button" value="更多详情" id="cream07_detail" >
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                            </div>
                             <div class="clean_right05">
                                     <input class="clean_detail"  type="button" value="更多详情" id="cream08_detail" >
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                            </div>
                   </div>
           </div>
           <div style="clear:both"></div>
     </div>
</div>
</body>
</html>
