<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>products-cleansing</title>
<link href="Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="products.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a>首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a>产品资讯</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a>简妮清爽洁面啫喱</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;简妮清爽洁面啫喱</p>
           </div>
           <div class="clean_top">
                <img src="img/banner-product-0.png" width="720"  height="169">
           </div>
           <div>
                   <div class="clean_left">
                            <div class="clean_left01">Step.1</div>
                            <div class="clean_left02">清爽洁面啫喱</div>
                            <div class="clean_left03">集卸妆与洁面双效合一，洗后不紧绷不干燥</div>
                   </div>
                   <div>
                            <div class="clean_right01">
                                    <img src="img/product-1-10g.png" width="41" height="116">
                            </div>
                            <div class="clean_right02">
                                    <img src="img/product-1-20g.png" width="50" height="120">
                            </div>
                            <div class="clean_right03">
                                    <img src="img/product-1-75g.png" width="65" height="150">
                            </div>
                            <div class="clean_right04">
                                    <img src="img/product-1-200g.png" width="112" height="175">
                            </div>
                            <div class="clean_txt01">
                                    <div>简妮清爽洁面啫喱</div>
                                    <div>10g</div>
                            </div>
                            <div class="clean_txt01">
                                    <div>简妮清爽洁面啫喱</div>
                                    <div>20g</div>
                            </div>
                            <div class="clean_txt01">
                                    <div>简妮清爽洁面啫喱</div>
                                    <div>75g</div>
                            </div>
                            <div class="clean_txt01">
                                    <div>简妮清爽洁面啫喱</div>
                                    <div>200g</div>
                            </div>
                            <div class="clean_right05">
                                     <input class="clean_detail"  type="button" value="更多详情" id="clean01_detail" >
                                     <img class="clean_pic" src="triangle-1.jpg" width="12" height="18" />
                            </div>
                             <div class="clean_right05">
                                     <input class="clean_detail"  type="button" value="更多详情" id="clean02_detail" >
                                     <img class="clean_pic" src="triangle-1.jpg" width="12" height="18" />
                            </div>
                             <div class="clean_right05">
                                     <input class="clean_detail"  type="button" value="更多详情" id="clean03_detail" >
                                     <img class="clean_pic" src="triangle-1.jpg" width="12" height="18" />
                            </div>
                             <div class="clean_right05">
                                     <input class="clean_detail"  type="button" value="更多详情" id="clean04_detail" >
                                     <img class="clean_pic" src="triangle-1.jpg" width="12" height="18" />
                            </div>
                   </div>
           </div>
     </div>
</div>
</body>
</html>
