<!doctype html>
<html>
<body>

<div id="member-left" style="float:left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       产品咨讯
       </div>
    </div>
  </div>
  
  <center>
    <div class="basket2-missJu" >
      <div class="member-text2-tips-tech">
      <img src="/assets/img/right-angle-green-big-one.png" height="12px" > 简妮保湿润泽乳霜
      </div>
    </div>
 <center><div class="between-the-ads-tech">
   </div></center>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > <a href="/%E4%BA%A7%E5%93%81%E8%B5%84%E8%AE%AF/%E6%B4%81%E9%9D%A2%E5%95%AB%E5%96%B1">简妮清爽洁面啫喱</a>
      </div>
    </div>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"> <a href="/%E4%BA%A7%E5%93%81%E8%B5%84%E8%AE%AF/%E4%BA%AE%E8%82%A4%E5%95%AB%E5%96%B1">简妮去角质亮肤啫喱</a>
       </div>
    </div>
    <div class="basket2-missJu-tech-aboutJN-lastone" >
      <div class="member-text2-aboutJN-lastone">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > <a href="/%E4%BA%A7%E5%93%81%E8%B5%84%E8%AE%AF/%E6%8E%A8%E8%8D%90%E7%BB%84%E5%90%88">推荐组合</a>
      </div>
    </div>
  </center>

   
   
      <%= render :partial => "/refinery/pages/left_contactus.html.erb" %> 
     
        
        
</div>


<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a>首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a>产品资讯</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a>简妮保湿润泽乳霜</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;简妮保湿润泽乳霜</p>
           </div>
           <div class="clean_top">
                <img src="/assets/img/banner-product-0.png" width="720"  height="169">
           </div>
           <div>
                   <div class="cream_left">
                            <div class="clean_left01">Step.3</div>
                            <div class="leftcontent_left">
                                   <div class="cream_left01">保湿润泽乳霜</div>
                                   <div class="cream_left02">干性及中性肌肤</div>
                                   <div class="cream_left01">保湿润泽乳霜</div>
                                   <div class="cream_left02">油性肌肤</div>
                            </div>
                            <div class="cream_left03">由内而外自然调养令肌肤达到理想的润泽状态</div>
                   </div>
                   <div class="cream_right">
                   		<ul>
	                   		<li>
			                   		<div class="cream_right01">
			                   			<img src="/assets/img/circle-10g.png" >
									</div>
									<div class="clean_txt01">
			                              <div>简妮保湿润泽乳霜</div>
			                              <div>10g</div>
			                       	</div>
									<div class="clean_right05">
							  			  <a class="cream_detail" href="/%E4%BA%A7%E5%93%81%E8%B5%84%E8%AE%AF/%E6%B6%A6%E6%B3%BD%E4%B9%B3%E9%9C%9C/%E7%AE%80%E5%A6%AE%E4%BF%9D%E6%B9%BF%E6%B6%A6%E6%B3%BD%E4%B9%B3%E9%9C%9C-gh-10g">更多详情</a>
			                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
			                        </div>
		                     </li>		 
		                     	                                     
		                 </ul>
                   </div>
                   
      <!--             <table width="650"  >
  							<tr>
 								   <td><div style="padding:123px 0px 10px 45px;"><img src="/assets/img/circle-10g.png" >
</div>
										<div class="clean_txt01">
                                 				   <div>简妮保湿润泽乳霜 GH</div>
                                 				   <div>10g</div>
                       			        </div>
										<div class="clean_right05">
				    <a  class="clean_detail" href="/产品资讯/润泽乳霜/简妮保湿润泽乳霜-gh-10g">更多详情</a>
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                         			   </div>
                            		</td>
                            		
 								   <td><div style="padding:120px 0px 10px 34px;"><img src="/assets/img/circle-30g.png" >
</div>
										<div class="clean_txt01">
                                 				   <div>简妮保湿润泽乳霜 GH</div>
                                 				   <div>30g</div>
                       			        </div>
										<div class="clean_right05">
				    <a class="clean_detail" href="/产品资讯/润泽乳霜/简妮保湿润泽乳霜-gh-30g">更多详情</a>
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                         			   </div>
                         			   </td>
                         			   
  								   <td><div style="padding:25px 0px 10px 50px;"><img src="/assets/img/circle-50g.png" >
</div>
										<div class="clean_txt01">
                                 				   <div>简妮保湿润泽乳霜 GH</div>
                                 				   <div>50g</div>
                       			        </div>
										<div class="clean_right05">
				    <a class="clean_detail" href="/产品资讯/润泽乳霜/简妮保湿润泽乳霜-gh-50g">更多详情</a>
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                         			   </div>
                         			   </td>
                         			   
                         			   <td><div style="padding:87px 0px 10px 15px;"><img src="/assets/img/circle-100g.png" >
</div>
										<div class="clean_txt01">
                                 				   <div>简妮保湿润泽乳霜 GH</div>
                                 				   <div>100g</div>
                       			        </div>
										<div class="clean_right05">
				    <a class="clean_detail" href="/产品资讯/润泽乳霜/简妮保湿润泽乳霜-gh-100g">更多详情</a>
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                         			   </div>
                         			   </td>
 							</tr>
 							
 							
 							<tr>
 								   <td><div style="padding:136px 0px 10px 45px;"><img src="/assets/img/circle-10g-red.png">
</div>
										<div class="clean_txt01">
                                 				   <div>简妮保湿润泽乳霜 EX</div>
                                 				   <div>10g</div>
                       			        </div>
										<div class="clean_right05">
				    <a class="clean_detail" href="/产品资讯/润泽乳霜/简妮保湿润泽乳霜-ex-10g">更多详情</a>
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                         			   </div>
                            		</td>
                            		
 								   <td><div style="padding:133px 0px 10px 36px;"><img src="/assets/img/circle-30g-red.png" >
</div>
										<div class="clean_txt01">
                                 				   <div>简妮保湿润泽乳霜 EX</div>
                                 				   <div>30g</div>
                       			        </div>
										<div class="clean_right05">
				    <a class="clean_detail" href="/产品资讯/润泽乳霜/简妮保湿润泽乳霜-ex-30g">更多详情</a>
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                         			   </div>
                         			   </td>
                         			   
  								   <td><div style="padding:35px 0px 10px 50px;"><img src="/assets/img/circle-50g-red.png" >
</div>
										<div class="clean_txt01">
                                 				   <div>简妮保湿润泽乳霜 EX</div>
                                 				   <div>50g</div>
                       			        </div>
										<div class="clean_right05">
				    <a class="clean_detail" href="/产品资讯/润泽乳霜/简妮保湿润泽乳霜-ex-50g">更多详情</a>
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                         			   </div>
                         			   </td>
                         			   
                         			   <td><div style="padding:103px 0px 10px 20px;"><img src="/assets/img/circle-100g-red.png">
</div>
										<div class="clean_txt01">
                                 				   <div>简妮保湿润泽乳霜 EX</div>
                                 				   <div>100g</div>
                       			        </div>
										<div class="clean_right05">
				    <a class="clean_detail" href="/产品资讯/润泽乳霜/简妮保湿润泽乳霜-ex-100g">更多详情</a>
                                     <img class="clean_pic" src="/assets/img/triangle-1.jpg" width="12" height="18" />
                         			   </div>
                         			   </td>
 							</tr>
				   </table>        -->         
           </div>
           <div style="clear:both"></div>
     </div>
</div>
</body>
</html>
