<!doctype html>
<html>


<body>

<div class="middle-xp">


<div id="member-left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       会员专区
       </div>
    </div>
  </div>
  
  <center>
    
    <div class="basket2" >
      <div class="member-text2">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 
       会员制度
      </div>
    </div>
    
    <div class="basket2" >
      <div class="member-text2">
      <img src="/assets/img/down-angle-green.jpg" height="7px" > 
      会员中心
      </div>
    </div>
 
  </center>
 <div class="for-one-line-left">
 <ul>
   
 
     <li class="zone2"><img src="/assets/img/right-angle-empty.png"  class="img-margin">
    <span class="member-text3"> 个人信息</span>
    </li>
  
   <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  我的积分及订单历史</li>
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  兑换积分</li>
  
 
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png"  class="img-margin2">
  查看兑换历史</li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2">
  收货地址管理</li>
 
  
  </ul></div>
   
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
   <center><div class="between-the-ads-tech"></div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
      <div class="contactus-weibobor-1-1">   
      <%= render :partial => "/refinery/pages/left_contactus.html.erb" %> 
      </div> 
</div>

<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
			<li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
			<li class="resetpw_head_txt1"><a href="/会员专区">会员专区</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
			<li class="resetpw_head_txt1"><a href="/会员专区/会员中心">会员中心</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
			<li class="resetpw_head_txt1"><a href="#">个人信息</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;找回密码-2：填写新密码</p>
           </div>
           <div class="findpw_2_middle">
                <div class="resetpw_middle_form">
                       <form>
                               <ul>
                               
                                                              
                               
                                     <li class="resetpw_middle_txt1">新密码:</li>
                                     <li class="resetpw_middle_txt2"> <input type="password" id="oldpassword"></li>
                                     <li class="resetpw_middle_txt3">确认密码:&nbsp;</li>
                                     <li class="resetpw_middle_txt2"> <input type="password" id="newpassword">
                                     &nbsp;&nbsp;密码两次填写不相同，请重新确认！</li>    
                               </ul>
                       </form>
                </div>
           </div>
           <div class="resetpw_bottom">               
                <div class="findpw_bottom_confirm">
                      <input type="submit" value="修改确认" id	="savepassword" >
                </div>                              
          </div>
     </div>
</div>
</body>
</html>
