<!doctype html>
<html>


<body>

<div class="middle-xp">


<div id="member-left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       会员专区
       </div>
    </div>
  </div>
  
  <center>
    
    <div class="basket2" >
      <div class="member-text2">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 
       <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E5%88%B6%E5%BA%A6">会员制度</a>
      </div>
    </div>
    
    <div class="basket2" >
      <div class="member-text2">
      <img src="/assets/img/down-angle-green.jpg" height="7px" > 
      会员中心
      </div>
    </div>
 
  </center>
 <div class="for-one-line-left">
 <ul>
   <center>
 
     <li class="zone2"><img src="/assets/img/right-angle-empty.png"  class="img-margin">
    <span class="member-text3"> 个人信息</span>
    </li>
  </center>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%88%91%E7%9A%84%E7%A7%AF%E5%88%86">我的积分</a></li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E5%85%91%E6%8D%A2%E7%A7%AF%E5%88%86">兑换积分</a></li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png"  class="img-margin2">
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%9F%A5%E7%9C%8B%E5%85%91%E6%8D%A2%E5%8E%86%E5%8F%B2">查看兑换历史</a></li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2">
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%88%91%E7%9A%84%E8%AE%A2%E5%8D%95">我的订单</a></li>
 
  
  </ul>
   </div>
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
    <center><div class="between-the-ads-tech"></div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  <div class="contactus-weibobor-1-1">   
      <%= render :partial => "/refinery/pages/left_contactus.html.erb" %> 
      </div> 
</div>

<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
			<li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区">会员专区</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区/会员中心">会员中心</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="#">个人信息</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;修改手机</p>
           </div>
           <div class="tel_middle">
                <div class="tel_middle_form">
                       <form>
                               <ul>
                                     <li class="resetpw_middle_txt1">旧手机：<input class="tel_middle_1"  type="text" name="oldtel"></li>
                                     <li class="resetpw_middle_txt1">新手机：<input class="tel_middle_1"  type="text" name="newtel">
                                     <input class="tel_middle_2"  type="button" value="发送验证" name="identification" >
                                     <img class="tel_middle_3" src="img/triangle-1.jpg" width="12" height="16" />
                                     <input class="tel_middle_4"  type="text" name="identification" value="填写验证码">
                                     </li> 
                               </ul>
                       </form>
                </div>
           </div>
           <div class="resetpw_bottom">               
                <div class="resetpw_bottom_save">
                      <input type="submit" value="确认手机修改" name="savetel" >
                </div>
                <div class="resetpw_bottom_cancel">
                      <input type="reset" value="取消修改" name="canceltel" >
                </div>                               
          </div>
     </div>
</div>
</body>
</html>

