<!doctype html>
<html>

<!--<% content_for :javascripts do %>
	<script>
		<% if session[:login] %>
			$(document).ready ();
		<% else %>
			$(document).ready (login);
		<% end %>
	</script>
<% end %>  -->
<body>

<div class="middle-xp">


<div id="member-left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       会员专区
       </div>
    </div>
  </div>
  
  <center>
    
    <div class="basket2" >
      <div class="member-text2">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 
       <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E5%88%B6%E5%BA%A6">会员制度</a>
      </div>
    </div>
    
    <div class="basket2" >
      <div class="member-text2">
      <img src="/assets/img/down-angle-green.jpg" height="7px" > 
      会员中心
      </div>
    </div>
 
  </center>
 <div class="for-one-line-left">
 <ul>
   
 
     <li class="zone2"><img src="/assets/img/right-angle-empty.png"  class="img-margin">
    <span class="member-text3"> 个人信息</span>
    </li>
 
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
 <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%88%91%E7%9A%84%E7%A7%AF%E5%88%86">我的积分及订单历史</a></li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E5%85%91%E6%8D%A2%E7%A7%AF%E5%88%86">兑换积分</a></li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png"  class="img-margin2">
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%9F%A5%E7%9C%8B%E5%85%91%E6%8D%A2%E5%8E%86%E5%8F%B2">查看兑换历史</a></li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2">
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%94%B6%E8%B4%A7%E5%9C%B0%E5%9D%80%E7%AE%A1%E7%90%86">收货地址管理</a></li>
 
  
  </ul>
   </div>
   
      <%= render :partial => "/refinery/pages/left_contactus.html.erb" %> 
     
</div>

<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
			<li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区">会员专区</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/会员专区/会员中心">会员中心</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="#">个人信息</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;修改密码</p>
           </div>
           <div class="resetpw_middle">
                <div class="resetpw_middle_form">
                       <form>
                               <ul>
                                     <li class="resetpw_middle_txt1">旧密码:</li>
                                     <li class="resetpw_middle_txt2"> <input type="password" name="oldpassword">&nbsp;&nbsp;密码错误，请重新确认!</li>
                                     <li class="resetpw_middle_txt1">新密码:</li>
                                     <li> <input type="password" name="newpassword"></li>
                                     <li class="resetpw_middle_txt3">确认密码 :</li>
                                     <li class="resetpw_middle_txt2"> <input type="password" name=" confirmpassword">
                                     &nbsp;密码两次填写不相同，请重新确认!</li>
                                     
                               </ul>
                       </form>
                </div>
           </div>
           <div class="resetpw_bottom">               
                <div class="resetpw_bottom_save">
                      <input type="submit" value="确认保存密码" name="savepassword" >
                </div>
                <div class="resetpw_bottom_cancel">
                      <input type="reset" value="取消修改" name="cancelpassword" >
                </div>                               
          </div>
     </div>
</div>
</body>
</html>
