<!doctype html>
<html>
<head>
<style type="text/css">
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
</style>
<link href="/assets/layout.css" rel="stylesheet" type="text/css" media="screen" />

<title>重置手机-xp</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/assets/Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/Member-information-resettelephone.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>

<div class="middle-xp">


<div id="member-left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       会员专区
       </div>
    </div>
  </div>
  
  <center>
    
    <div class="basket2" >
      <div class="member-text2">
       <img src="/assets/img/right-angle-green.jpg" width="9.5px"  > 
       会员制度
      </div>
    </div>
    
    <div class="basket2" >
      <div class="member-text2">
      <img src="/assets/img/down-angle-green.jpg" height="9.5px" > 
      会员中心
      </div>
    </div>
 
  </center>
 
 <ul>
   <center>
 
     <li class="zone2"><img src="/assets/img/right-angle-empty.png"  class="img-margin">
    <span class="member-text3"> 个人信息</span>
    </li>
  </center>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  兑换积分</li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png"  class="img-margin2">
  查看兑换历史</li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2">
  我的订单</li>
 
  
  </ul>
   
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
   
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
      
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="/assets/img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="/assets/img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
    
    <div class="bor-6"></div>     
</div>

<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1">首页</li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1">会员专区</li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1">会员中心</li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1">个人信息</li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;修改手机</p>
           </div>
           <div class="tel_middle">
                <div class="tel_middle_form">
                       <form>
                               <ul>
                                     <li class="resetpw_middle_txt1">旧手机：<input class="tel_middle_1"  type="text" name="oldtel"></li>
                                     <li class="resetpw_middle_txt1">新手机：<input class="tel_middle_1"  type="text" name="newtel">
                                     <input class="tel_middle_2"  type="button" value="发送验证" name="identification" >
                                     <img class="tel_middle_3" src="img/triangle-1.jpg" width="12" height="16" />
                                     <input class="tel_middle_4"  type="text" name="identification" value="填写验证码">
                                     </li> 
                               </ul>
                       </form>
                </div>
           </div>
           <div class="resetpw_bottom">               
                <div class="resetpw_bottom_save">
                      <input type="submit" value="确认手机修改" name="savetel" >
                </div>
                <div class="resetpw_bottom_cancel">
                      <input type="reset" value="取消修改" name="canceltel" >
                </div>                               
          </div>
     </div>
</div>
</body>
</html>

