<!DOCTYPE html >
<head>
<style type="text/css">
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Member-information-找回密码-1</title>
<link href="../Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="../Member-information-findpassword-1.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
<div id="content_right">
<div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="contact-us-1">首页</li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="contact-us-1">联系我们</li>
                </ul>
           </div>
           <div class="resetpw_top">
           
                <p class="resetpw_top_txt-contactus">联系我们</p>
           </div>
           
           <ul>
             <li class="text-all-color-green-contact">
                 若您需要对我们的产品了解更多，或有关于产品购买的问题，请随时同我们联络。
             </li>
             
  </ul>
      <div class="contact-us-customer-1">
            <div class="contact-us-height">
              <div class="ul-customer-tell">
                  客服电话
                 </div>
                  <img src="../images/img/phone.png" class="tellphone-size">
              </div>
            <div>
                  <img src="../images/img/cesstte.png" class="cesstte-contact">
            <div class="number-800">
               800-000-0000
            </div>

            <div class="notice-contact">
            客服工作时间：周一至周五，除国定节假日外
            </div>

            </div>
       </div>   
       
       <div class="contact-us-customer-1">
            <div class="contact-us-height">
              <div class="ul-customer-tell">
                  在线客服
              </div>
              <img src="../images/img/person.png" class="person">
         </div>
            <div>
                  <img src="../images/img/IAMCALLING.png" class="cesstte-contact-us-us">
              <div class="notice-contact">
            客服工作时间：9:00-20:00 周一至周五，除国定节假日外
            </div>

         </div>
       </div>   
    <div class="contact-us-customer-1">
            <div class="contact-us-height">
              <div class="ul-customer-tell">
                  客服电话
              </div>
              <img src="../images/img/MicBlog-gray.png" class="tellphone-size">
      </div>
            <div>
              
               <a href="http:www.weibo.com" class="number-800-http-weibo">http://weibo.com/
</a>            

            <div class="notice-contact-weibo">
            关注简妮官方微博，和小菊老师一起开启美丽新纪元！
            </div>

      </div>
    </div>    
    
    <div class="contact-us-customer-wechat">
            <div class="contact-us-height">
              <div class="ul-customer-tell">
                  官方微信
                 </div>
                  <img src="../images/img/wechat-gray.png" class="tellphone-size-wechat">
              </div>
           

            <div class="notice-contact-wechat">
            微信扫一扫，俘获更多私家美容秘笈！
            </div>
            
            
            <div class="Wechat-two-dimension-code-position">
            微信二维码的位置
            </div>
            
            <div class="Whchat-secret">
            
            <ul>
            <li class="Whchat-secret-list">
            扫描二码即刻关注，二维码使用方法：
</li>
            <li class="Whchat-secret-list">1. 在手机上登录微信后选择“找朋友”=》二维码扫描，将摄像头对准二维码图片约2~3秒，即可识别并加载对方微信
              的基本资料，您可以向对方打招呼或加为好友。
              </li>
            <li class="Whchat-secret-list">2. 在手机上打开微信——>点击右上角魔棒——>扫一扫微信二维码就可以了，确认添加等待对方验证后就加为好友了。
            </li>
            
            
            </ul>
            
            
            
            
            </div>

       </div>
      
</div>


</div>
</body>
</html>
