<!doctype html>
<html>

<body>

<div id="member-left" style="float:left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
      服务政策
      </div>
    </div>
  </div>

 

   
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
   <center><div class="between-the-ads">
   </div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
 <div class="contactus-weibobor-1-1">   
      <%= render :partial => "/refinery/pages/left_contactus.html.erb" %> 
      </div> 
</div>
<div id="content_right-for-service-policy">
<div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="#">联系我们</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
           
                <p class="resetpw_top_txt-contactus">服务政策</p>
           </div>
           
            <div class="black-basket-service">
            <div class="contact-green-text">
           知识产权声明
           </div>
           <ul>
            
            <li class="black-words-service">
            <span class="just-for-black-service-words">除特别指明外，诚泛(上海)贸易有限公司(以下简称“诚泛”)独立拥有Gelnic简妮官方网站内所有内容（包括但不仅限于文字、图片、音频、视频资料以及页面设计、编排等）的知识产权。</span>
            </li>
            <li class="black-words-service">
            <span class="just-for-black-service-words">除非中华人民共和国法律另有规定，未经诚泛书面同意，对于诚泛拥有知识产权的任何内容，任何人不得以任何方式进行使用。 </span>
            </li>
            </ul>
            </div>

    
            <div class="black-basket-service">
            <div class="contact-green-text">
           商标权声明
           </div>
           <ul>
            
            <li class="black-words-service">
            <span class="just-for-black-service-words">“简妮”、“Gelnic”为诚泛的注册商标，他人或者他方未经许可不得修改、复制或者以其它方式进行使用。</span>
            </li>
            <li class="black-words-service">
            <span class="just-for-black-service-words">任何试图淡化或丑化上述商标的行为都是违法的，诚泛保留追究其法律责任的权利。</span>
            </li>
            </ul>
            </div>
            
            
             <div class="black-basket-service">
            <div class="contact-green-text">
           转载声明 
           </div>
           <ul>
            
            <li class="black-words-service">
            <span class="just-for-black-service-words">除非中华人民共和国法律另有规定，未经诚泛书面许可，任何人不得转载Gelnic简妮官方网站内的任何内容。</span>
            </li>
            <li class="black-words-service">
            <span class="just-for-black-service-words">Gelnic简妮官方网站可能会引用、摘录或转载来自第三方的内容，但该部分内容仅供访问者交流或参考，文中观点或信息与Gelnic
简妮、诚泛无关。</span>
            </li>
            </ul>
            </div>
            
            
             <div class="black-basket-service">
            <div class="contact-green-text">
           关于网络服务 
           </div>
           <ul>
            
            <li class="black-words-service">
            <span class="just-for-black-service-words">鉴于Gelnic简妮官方网站将可能会提供包括但不仅限于（论坛、BBS、评论、博客等）网络服务，Gelnic简妮官方网站会员或者访
客可以使用该网络服务发布相关的信息（包括但不仅限于文字、图片、音频等）。  </span>
            </li>
            <li class="black-words-service">
            <span class="just-for-black-service-words">Gelnic简妮会员或者访客在使用Gelnic简妮提供的网络服务所发布的所有信息（包括但不仅限于图片、视频、文字、链接等）均由
Gelnic简妮会员或者访客自行提供，与Gelnic简妮无关，Gelnic简妮会员或者访客应依法对其提供的信息承担全部责任。 </span>
            </li>
            </ul>
            </div>
            
            <div class="black-basket-service">
            <div class="contact-green-text">
           免责声明 
           </div>
           <ul>
            
            <li class="black-words-service">
            <span class="just-for-black-service-words">诚泛负责更新本网站内容，以提供给您最新最全面的信息。但是基于互联网数据传输技术的复杂性。诚泛不能保证网站信息的精
确性。 </span>
            </li>
            <li class="black-words-service">
            <span class="just-for-black-service-words">诚泛会定期维护网站，以便您能随时访问到网站。由于维护和更新或者其他技术原因导致您无法正常访问本网站并由此导致的后
果，Gelnic简妮不承担责任。</span>
            </li>
            <li class="black-words-service">
            <span class="just-for-black-service-words">对于因不可抗力或诚泛不能控制的原因造成的网络服务中断或其它缺陷，诚泛不承担任何责任，但将尽力减少因此而给您造成的
损失和影响。</span>
            </li>
            </ul>
            </div>
            
            
            <div class="black-basket-service">
            <div class="contact-green-text">
           链接政策 
           </div>
           <ul>
            
            <li class="black-words-service">
            <span class="just-for-black-service-words">Gelnic简妮官方网站上可能有指向第三方网站的链接，但是Gelnic简妮并不会对每一个链接指向的网站进行审核。所以Gelnic简妮
也不会对该网站的内容，以及该网站对您造成的影响负责。同时，对于该网站链接指向的不由诚泛实际控制的任何网页上的内容，
诚泛不承担任何责任。然而，除非诚泛已经明确声明与该第三方有合作关系，提供链接至此第三方网站或网页，并不视为Gelnic简
妮同意、推荐、认可、保证或推介任何第三方或在第三方网站上所提供的任何服务、产品，亦不可视为诚泛与该第三方及其网站
有任何形式的合作。 </span>
            </li>
            <li class="black-words-service">
            <span class="just-for-black-service-words">若您想在第三方的网站以任何形式建立链接至Gelnic简妮官方网站，必须先取得诚泛的书面同意。诚泛有权决定是否核准建立此链
接。依此建立的链接，并不构成诚泛与该第三方网站有任何形式的合作，亦不构成诚泛对该第三方网站的认同。如因该链接而产生
或导致的任何需由您或第三方承担或蒙受的损失或损害，诚泛不承担任何责任。 </span>
            </li>
            </ul>
            </div>
            
      
      <div class="black-basket-service-for-the-last-one">
            <div class="contact-green-text">
          修改权 
           </div>
           <ul>
            
            <li class="black-words-service">
            <span class="just-for-black-service-words">诚泛保留对本声明的修改权，尤其是当新法律或者规定出台时引起的变化，诚泛有权更改。</span>
            </li>
            </ul>
            </div>
            
      
</div>


</div>
</body>
</html>
