<!doctype html>
<html>
<head>
<style type="text/css">
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
</style>
<link href="/assets/layout.css" rel="stylesheet" type="text/css" media="screen" />

<meta charset="utf-8">
<title>查看兑换历史-xp</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/assets/Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/Member-information-findpassword-1.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>

<div class="middle-xp">
<div id="member-left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       会员专区
       </div>
    </div>
  </div>
  
  <center>
    
    <div class="basket2" >
      <div class="member-text2">
       <img src="/assets/img/right-angle-green.jpg" width="9.5px"  > 
       会员制度
      </div>
    </div>
    
    <div class="basket2" >
      <div class="member-text2">
      <img src="/assets/img/down-angle-green.jpg" height="9.5px" > 
      会员中心
      </div>
    </div>
 
  </center>
 <div class="put-on-left-block">
 <ul>   
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png"  class="img-margin2">
  个人信息</li>
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  兑换积分</li>
  <center>
 
     <li class="zone2"><img src="/assets/img/right-angle-empty.png"  class="img-margin">
    <span class="member-text3-history"> 查看兑换历史</span>
    </li>
  </center>
  
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2">
  我的订单</li>
  </ul>
   </div>
   
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
   
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
      
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="/assets/img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="/assets/img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
</div>

<div id="content_right">
<div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <a href="#"><li class="resetpw_head_txt1">首页</li></a>
                         <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                       <a href="#">  <li class="resetpw_head_txt1">会员专区</li></a>
                      <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <a href="#"> <li class="resetpw_head_txt1">会员中心</li></a>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                       <a href="#">  <li class="resetpw_head_txt1">查看兑换历史</li></a>
                </ul>
           </div>
           <div class="resetpw_top">
           
                <p class="resetpw_top_txt">查看兑换历史</p>
           </div>
           
           <ul>
             <li class="text-all-color-green">
                 本次兑换所需积分：
             </li>
             <li class="text-all-color-yellow">
                 800
             </li> 
          </ul>
           
       <div class="findpw_1_middle-history">
                <table   class="firstlogin_middle_1" border="0" cellpadding="0" cellspacing="0" >
                      <tr>
                              
                              <td   class="firstlogin_middle_3">兑换商品：</td>
                              <td   class="firstlogin_middle_10" >
                              <label id="province"></label>
                              <select id="province" name="province" class="firstlogin_middle_dropdown3">
                              	<option>全部商品</option>
                              	</select></td>
                               <td   class="firstlogin_middle_8-1">&nbsp;&nbsp;&nbsp;&nbsp; 兑换时间：</td>
                              <td  class="firstlogin_middle_10" >
                              <label id="district"></label>
                              <select id="district" name="district" class="firstlogin_middle_dropdown3">
                              	<option >全部时间</option>
                              	</select></td>
                              
                      </tr>
               </table>
                <div class="resetpw_top1-change-to-the-table">
              <table  border="0">
  <tr>
    <td width="127" class="resetpw_top_txt2-history">积分兑换时间</td>
    <td width="180" class="resetpw_top_txt2-history">兑换使用积分</td>
    <td width="126" class="resetpw_top_txt2-history">剩余积分</td>
    <td width="155" class="resetpw_top_txt2-history">兑换商品</td>
    <td width="118" class="resetpw_top_txt2-history">积分类型</td>
  </tr>
</table>

                  
                </div>
    
         <table width="720" >
                 <tr>
    <td width="127" class="table-text-history-black-color">2012/7/11</td>
    <td width="180" class="table-text-history-green-color">200</td>
    <td width="126" class="table-text-history-black-color">0</td>
    <td width="155" class="table-text-history-black-color">旅行装</td>
    <td width="118" class="table-text-history-black-color">购买</td>
  </tr>
                 </table>
               <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                     
               </table>
               <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                     
               </table>
          
     </div>
</div>


</div>

</body>
</html>
