<!DOCTYPE html>
<ul>
	<a href="/pages/8"><li>修改信息</li></a>
	<a href="/pages/14"><li>兑换积分</li></a>
	<a href="/pages/4"><li>兑换确认</li></a>
	<a href="/pages/9"><li>首次登陆</li></a>
	<a href="/pages/10"><li>邮件确认</li></a>
	<a href="/pages/12"><li>会员信息</li></a>
	<a href="/pages/7"><li>会员制度</li></a>
	<a href="/pages/15"><li>我的订单</li></a>
	<a href="/pages/16"><li>我的积分</li></a>
	<a href="/pages/11"><li>密码确认</li></a>
	<a href="/pages/6"><li>重置密码</li></a>
	<a href="/pages/5"><li>重置手机号</li></a>
	<a href="/pages/13"><li>兑换历史</li></a>
</ul>
