<!doctype html>
<html>
<body>

<div class="middle-xp">
<div id="member-left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       会员专区
       </div>
    </div>
  </div>
  
  <center>
    
    <div class="basket2" >
      <div class="member-text2">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 
       <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E5%88%B6%E5%BA%A6">会员制度</a>
      </div>
    </div>
    
    <div class="basket2" >
      <div class="member-text2">
      <img src="/assets/img/down-angle-green.jpg" height="7px" > 
      会员中心
      </div>
    </div>
 
  </center><div class="for-one-line-left">
 <div class="put-on-left-block">
 <ul>   
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E4%B8%AA%E4%BA%BA%E4%BF%A1%E6%81%AF">个人信息</a></li>
   <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%88%91%E7%9A%84%E7%A7%AF%E5%88%86">我的积分及订单历史</a></li>
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2" >
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E5%85%91%E6%8D%A2%E7%A7%AF%E5%88%86">兑换积分</a></li>
  
     <li class="zone2"><span class="member-text3"><img src="/assets/img/right-angle-empty.png"  class="img-margin">
     查看兑换历史</span>
    </li>
  
  
  
  <li class="member-text3" >
  <img src="/assets/img/right-angle-empty.png" class="img-margin2">
  <a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E4%B8%AD%E5%BF%83/%E6%94%B6%E8%B4%A7%E5%9C%B0%E5%9D%80%E7%AE%A1%E7%90%86">收货地址管理</a></li>
  </ul></div>
   </div>
   
     
      <%= render :partial => "/refinery/pages/left_contactus.html.erb" %> 
      
</div>

<div id="content_right">
<div class="resetpw">
           <div class="resetpw_head">
                <ul>
			<li class="resetpw_head_txt1"><a href="/">首页</a></li>
                         <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"> <a href="/会员专区">会员专区</a></li>
                      <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                         <li class="resetpw_head_txt1"><a href="/会员专区/会员中心">会员中心</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                         <li class="resetpw_head_txt1"><a href="#">查看兑换历史</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
           
                <p class="resetpw_top_txt">查看兑换历史</p>
           </div>
           
   <!--        <ul>
             <li class="text-all-color-green">
                 本次兑换所需积分：
             </li>
             <li class="text-all-color-yellow">
                 800
             </li> 
          </ul>
           
       <div class="findpw_1_middle-history">
                <table   class="firstlogin_middle_1" border="0" cellpadding="0" cellspacing="0" >
                      <tr>
                              
                              <td   class="firstlogin_middle_3">兑换商品：</td>
                              <td   class="firstlogin_middle_10" >
                              <label id="province"></label>
                              <select id="province" name="province" class="firstlogin_middle_dropdown3">
                              	<option>全部商品</option>
                              	</select></td>
                               <td   class="firstlogin_middle_8-1">&nbsp;&nbsp;&nbsp;&nbsp; 兑换时间：</td>
                              <td  class="firstlogin_middle_10" >
                              <label id="district"></label>
                              <select id="district" name="district" class="firstlogin_middle_dropdown3">
                              	<option >全部时间</option>
                              	</select></td>
                              
                      </tr>
               </table>
                <div class="resetpw_top1-change-to-the-table">
              <table  border="0">
  <tr>
    <td width="127" class="resetpw_top_txt2-history">积分兑换时间</td>
    <td width="180" class="resetpw_top_txt2-history">兑换使用积分</td>
    <td width="126" class="resetpw_top_txt2-history">剩余积分</td>
    <td width="155" class="resetpw_top_txt2-history">兑换商品</td>
    <td width="118" class="resetpw_top_txt2-history">积分类型</td>
  </tr>
</table>

                  
                </div>
    
         <table width="720" >
                 <tr>
    <td width="127" class="table-text-history-black-color">2012/7/11</td>
    <td width="180" class="table-text-history-green-color">200</td>
    <td width="126" class="table-text-history-black-color">0</td>
    <td width="155" class="table-text-history-black-color">旅行装</td>
    <td width="118" class="table-text-history-black-color">购买</td>
  </tr>
                 </table>
               <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                     
               </table>
               <table class="firstlogin_middle_1"  border="0" cellspacing="0" cellpadding="0">
                     
               </table>
          
     </div>  -->
     	<div><img src="/assets/img/coming_soon.gif"></div>
</div>


</div>

</body>
</html>
