<!doctype html>
<html>
<head>
<style type="text/css">
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
</style>
<link href="/assets/layout.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/about-gelnic.css" rel="stylesheet" type="text/css" media="screen" />
<meta charset="utf-8">
<title>member-left-</title>
</head>

<body>

<div id="member-left" style="float:left">
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       关于简妮
       </div>
    </div>
  </div>
  
  <center>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > <a href="/%E5%85%B3%E4%BA%8E%E7%AE%80%E5%A6%AE/%E7%AE%80%E5%A6%AE%E7%90%86%E5%BF%B5">简妮理念</a>
      </div>
    </div>
    <div class="basket2-missJu" >
      <div class="member-text2-tips-tech">
      <img src="/assets/img/right-angle-green-big-one.png" height="12px" > 品牌故事
      </div>
    </div>
     <center><div class="between-the-ads-tech">
   </div></center>
   <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 使命及愿景</div>
    </div>
    <div class="basket2-missJu-tech-aboutJN" >
      <div class="member-text2-aboutJN">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > <a href="/%E5%85%B3%E4%BA%8E%E7%AE%80%E5%A6%AE/%E7%AE%80%E5%A6%AE%E4%BA%8B%E8%AE%B0">简妮大事记</a>
      </div>
    </div>

    <div class="basket2-missJu-tech-aboutJN-lastone" >
      <div class="member-text2-aboutJN-lastone">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 安心•安全
      </div>
    </div>
  </center>

   
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
    <center><div class="between-the-ads">
   </div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
      <div class="contactus-weibobor-1">
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="/assets/img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="/assets/img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
    </div>
        
</div>

<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/%E5%85%B3%E4%BA%8E%E7%AE%80%E5%A6%AE">关于简妮</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="#">品牌故事</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;品牌故事</p>
           </div>
           <div class="story_middle_1">
              <div class="history_middle_1_top">
                    <img class="history_middle_1_pic" src="/assets/img/logo_05.jpg" width="221" height="104">
                    <div class="history_middle_1_txt01">Feel the Nature, Feel the Power of Skin——感·本源之力</div>
              </div>
              <div class="history_middle_1_txt02" >
                    简妮(gelnic)是创立于1986年的日本高级美容护肤品牌，自面世以来一直深受日本女士的喜爱。简妮gelnic秉持着"纯天然•无添加"的品牌理念，严格选择对肌肤不产生负担的高品质原料，注重"渗透力"与"保湿力"的完美平衡，真正做到"敏感肌肤也可以使用"，温和有效地帮助肌肤达到理想状态，令肌肤由内而外焕然新生。
              </div>
           </div>
           <div>
                    <div class="story_middle_2">
                           <div class="story_middle_2_left">
                                 品牌创始人
                           </div>
                           <div class="story_middle_2_right">
                                 因爱而生的美好品牌，历经27年传承，只为让她轻松维持美丽容颜。
                           </div>
                    </div>
                    <div class="story_middle_3">
                           <div class="story_middle_3_left">
                                 <img class="story_middle_3_pic01" src="/assets/img/about-JN-who-creat-JN.png" width="192" height="260">
                           </div>
                           <div class="story_middle_3_right01">
                                简妮，浓缩了一位丈夫对妻子的爱。
                           </div>
                           <div class="story_middle_3_right02">
                                上世纪80年代，日本国内掀起了一阵护肤美容浪潮；当时涌现出了大量美肤品牌，令人目不暇接，选择起来也非常苦恼。山崎敬三先生发现，自己的妻子每天都要用大量时间来美容护肤，同时仍然要操持繁重家务，也因此疲惫不堪；有没有只需要一个步骤就能完成所有肌肤护理的产品呢？山崎敬三先生咨询了很多皮肤科医生和专家，对肌肤的构造、机能原理以及水分进行了透彻分析；最终成功研发出了一种啫喱状保湿乳霜；山崎夫人亲自试用后，感到非常惊喜，便推广给自己的朋友，得到了一致好评。
                           </div>
                    </div>
                    <div class="story_middle_4">
                           <div class="story_middle_4_left">
                                <div class="story_middle_5">
                                     品牌创始人山崎敬三先生及夫人
                                </div>                           
                                <div class="story_middle_6">
                                     品牌诞生初期，简妮邀请了美发沙龙的洗发小姐们试用，她们常年被化学
                                </div>
                                <div class="story_middle_7">
                                     品侵蚀的双手迅速感受到这款乳霜的强大保湿修复能力；这个消息不胫而走，在美容沙龙中引爆了一阵抢购热潮，时至今日，它仍然是美容院及美发沙龙中最受推崇的单品之一。
                                </div>
                                <div class="story_middle_8">
                                     山崎敬三先生根据大量用户反馈，对产品成分进行了数次优化，在这种精益求精的认真态度下，极少投放广告的简妮gelnic品牌在日本护肤品界赢得了至高的口碑，至今27年，简妮由爱而生的初衷未改，品质依然。
                                </div>
                                <div class="story_middle_9">
                                     倾注自然护肤二十余载，简妮荣获国民级卓越贡献
                                </div>
                                <div class="story_middle_10">
                                     山崎敬三先生常年精心研究皮肤构造，探寻肌肤真正所需成分。因为对啫喱类产品的不断研究和对产业所做的贡献，山崎敬三先生荣获由日本文化振兴协会颁发的"社会文化贡献奖"。
                                </div>
                                <div class="story_middle_11">
                                     <img class="story_middle_4_pic01" src="/assets/img/aword-present.png" width="457" height="149"></div>
                                </div>
                           </div>
                           <div class="story_middle_4_right">
                                <img class="story_middle_4_pic02" src="/assets/img/manager-of-JN.png" width="130" height="180">
                                <div class="story_middle_12">
                                     <p>gelnic株式会社总经理</p>
                                     <p>山崎美和子女士</p>
                                </div>
                                <div class="story_middle_13">
                                     <img class="story_middle_4_pic02" src="/assets/img/the-present.png" width="112" height="230">
                                </div>
                           </div>
                    </div>
                    <div calss="story_middle_14">
                         <div class="story_middle_14_left">
                                <div class="story_middle_14_txt01">*</div>
								<div>社会文化贡献奖</div>
                         </div>
                         <div class="story_middle_14_right">
                                <p>由日本文化振兴协会发起的奖项，评选出各行业的优秀人才或对日本文化事业的振兴作出显著贡献的人士，经过评委会严格筛选，只在每年上半年和下半年各评选1位获奖者授予奖项，在日本民间被称为最具荣耀意义的奖项之一。</p>
                         </div>
                    </div>
                     <div calss="story_middle_14">
                         <div class="story_middle_14_left">
                                <div class="story_middle_14_txt01">*</div>
								<div>日本文化振兴协会</div>
                         </div>
                         <div class="story_middle_14_right">
                                <p>由原日本皇族、43任内阁总理大臣東久邇稔彦先生在1971年创立的国际文化交流团体。现由原皇族伏見博明先生任总裁，致力于各种日本文化振兴及国际文化交流活动。</p>
                         </div>
					 </div>
		 </div>
		 <div style="clear:both"></div>
                    
           </div>
     </div>
</div>

</body>
</html>
/div>
                    
           </div>
     </div>
</div>

</body>
</html>
