<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>问卷完成</title>
</head>
<link href="Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="survey.css" rel="stylesheet" type="text/css" media="screen" />

<body>
	<div id="member-left" style="float:left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       调查问卷
       </div>
    </div>
  </div>
  
  

   
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
    <center><div class="between-the-ads">
   </div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
      <div class="contactus-weibobor-1">
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="/assets/img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="/assets/img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
    
    </div>     
</div>
<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a>首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a>问卷调查</a></li>
                
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;肌肤状况小调查</p>
           </div>
           <div class="finish_middle">
                <div class="finish_txt1">
                    <p>您已完成"肌肤状况小调查"</p>
                    <p>获得100积分奖励！感谢您的配合！</p>
                </div>
                <div class="finish_txt2">
                    <p>注：积分到账可能延时，请谅解</p>
                </div>
                <div class="finish_txt3">
                    <a>注：积分到账可能延时，请谅解</a>
                </div>
           </div>
           
     </div>
</div>
</body>
</html>
