<!doctype html>
<html>
<head>
<style type="text/css">
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
</style>
<link href="/assets/layout.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/Member-information-resetpassword.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/tips.css" rel="stylesheet" type="text/css" media="screen" />
<meta charset="utf-8">
<title>member-left</title>
</head>

<body>

<div id="member-left" style="float:left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       美容小贴士
       </div>
    </div>
  </div>
  
  <center>
    <div class="basket2-missJu" >
      <div class="member-text2-tips">
      <img src="/assets/img/right-angle-green-big-one.png" height="17px" > 
      客户心声
      </div>
    </div>
    <div class="basket2" >
      <div class="member-text2">
       <img src="/assets/img/right-angle-green.jpg" width="9.5px"  > 
       美容技巧
      </div>
    </div>
    
    
 <div class="between-the-tech">
   </div>
  </center>

   
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
    <center><div class="between-the-ads">
   </div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
      <div class="contactus-weibobor-1">
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
        
  <ul>
       <li class="member-text5" >
       官方微信 
       <img src="/assets/img/wechat-gray.png" class="wechatweibo"  >
       </li>
       <li class="member-text5">
       官方微博
       <img src="/assets/img/MicBlog-gray.png" class="wechatweibo" >
       
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
    
    </div>     
</div>

<div id="content_right">
     <div class="resetpw-tech">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/美容小贴士">美容小贴士</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="#">美容技巧</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;美容技巧</p>
           </div>
           <div class="tips1_top">
                 <div class="tips1_middle_pic01">
                       <img src="/assets/img/tips-tips.png" width="720" height="181">
                 </div>                
           </div>
           <div class="tips1_middle">
                <div class="tips1_middle_01">
                       <div class="tips1_middle_pic01">
                             <img src="/assets/img/days-protect.png" width="68" height="73">
                       </div>
                       <span class="tips1_middle_txt01">日常护肤</span>
                       <span class="tips1_middle_txt02">需注意的事项</span>
                </div>
                <div class="tips1_middle_left01">
                       <div class="tips1_middle_left02">
                             <span class="tips1_middle_txt03">夏季护理注意事项：</span>
                       </div>
                       <div class="tips1_middle_left03">
                             <div class="tips1_middle_left04"></div>
                       </div>
                       <div class="tips1_middle_left05">
                             <span class="tips1_middle_txt04">油性和混合性皮肤要关注控油的工作，一周最好做两次深入清洁的周护理，</span>
                             <span class="tips1_middle_txt04">当然，千万别因为出油而过度清洁，这样做也会破坏肌肤PH值，给细菌乘虚</span>
                             <span class="tips1_middle_txt04">而入的机会。</span>
                       </div>
                     
		       <div class="tips1_middle_left05">
                             <span class="tips1_middle_txt04">干性皮肤要更为注重保湿，流汗并不代表皮肤处于湿润状态，汗水蒸发后，</span>
                             <span class="tips1_middle_txt04">表皮会更为干燥。</span>
                       </div>
                </div>
                <div class="tips1_middle_right01">
                        <img src="/assets/img/summer-pro-without-shadow.png" width="276" height="210">
                </div>
                <div class="tips1_middle_left06">
                        <img src="/assets/img/autumn-pro-only-without-shadow.png" width="276" height="210">
                </div>
                <div class="tips1_middle_right02">
                       <div class="tips1_middle_left02">
                             <span class="tips1_middle_txt03">秋季护理注意事项：</span>
                       </div>
                       <div class="tips1_middle_right03">
                             <span class="tips1_middle_txt04">美白防晒是一年四季的功课，千万不能"三天打渔，两天晒网"，夏季虽然过去，秋季</span>
                             <span class="tips1_middle_txt04">还要坚持，秋冬季是重要的美白时机，如能及时的将夏季遗留下的黑色素分解，就会</span>
                             <span class="tips1_middle_txt04">预防和缓解色斑的出现。</span>
                             <span class="tips1_middle_txt04">秋季也是特别适合"进补"的时节，在日常护理后，可以特别加入精华的护理，保护</span>
                             <span class="tips1_middle_txt04">好肌底，秋季干燥阴冷，油脂，汗液分泌减少，需注意加强保湿，让皮肤喝饱水。</span>
                       </div>
                </div>
                <div class="tips1_middle_left07">
                       <div class="tips1_middle_left02">
                             <span class="tips1_middle_txt03">卸妆注意事项：</span>
                       </div>
                       <div class="tips1_middle_left08">
                             <div class="tips1_middle_left04"></div>
                       </div>
                       <div class="tips1_middle_left10">
                             <span class="tips1_middle_txt04">卸妆顺序：先卸除眼部、唇部的彩妆，再卸除脸部全部妆容。</span>
                       </div>
                       <div class="tips1_middle_left08">
                             <div class="tips1_middle_left04"></div>
                       </div>
                       <div class="tips1_middle_left10">
                             <span class="tips1_middle_txt04">卸妆前：要保持手和脸部干燥，以免减弱油分融合化妆品的能力。</span>
                       </div>
                       <div class="tips1_middle_left09">
                             <div class="tips1_middle_left04"></div>
                       </div>
                       <div class="tips1_middle_left10">
                             <span class="tips1_middle_txt04">卸妆后：不要让卸妆产品在皮肤上停留太久，以温水冲洗，之后再用洗面乳清洗</span>
                             <span class="tips1_middle_txt04">一次，再用爽肤液对肌肤做最后的清洁。</span>
                       </div>
                </div>
                <div class="tips1_middle_right04">
                       <img src="/assets/img/take-off-the-dress.png" width="230" height="200">
                </div>
                <div class="tips1_middle_left11">
                       <div class="tips1_middle_left02">
                             <span class="tips1_middle_txt03">去角质注意事项：</span>
                       </div>
                       <div class="tips1_middle_left08">
                             <div class="tips1_middle_left04"></div>
                       </div>
                       <div class="tips1_middle_left10">
                             <span class="tips1_middle_txt04">不是每个人都需要去角质</span>
                       </div>
                       <div class="tips1_middle_left08">
                             <div class="tips1_middle_left04"></div>
                       </div>
                       <div class="tips1_middle_left10">
                             <span class="tips1_middle_txt04">不可过度去角质</span>
                       </div>
                </div>
                <div class="tips1_middle_left12">
                       <div class="tips1_middle_left02">
                             <span class="tips1_middle_txt03">清洁注意事项：</span>
                       </div>
                       <div class="tips1_middle_left08">
                             <div class="tips1_middle_left04"></div>
                       </div>
                       <div class="tips1_middle_left13">
                             <span class="tips1_middle_txt04">首先必须把手洗净，否则洗面乳都拿来洗手了，泡沫型的洗面乳也无法揉搓出丰富的泡沫。 </span>
                       </div>
                       <div class="tips1_middle_left08">
                             <div class="tips1_middle_left04"></div>
                       </div>
                       <div class="tips1_middle_left13">
                             <span class="tips1_middle_txt04">将洗面乳以螺旋状在面部轻轻按摩30″～1′,不可让清洁剂在脸部停留过久；油脂多的部位可重点多按摩一会儿,然后以流水冲洗干净。</span>
                       </div>
                       <div class="tips1_middle_left08">
                             <div class="tips1_middle_left04"></div>
                       </div>
                       <div class="tips1_middle_left13">
                             <span class="tips1_middle_txt04">不要用毛巾用力擦脸，而要用轻按方式将水拭干。 </span>
                       </div>
                </div>
                <div class="tips1_middle_left14">
                       <img src="/assets/img/notice-the-tips.png" width="250" height="230">
                </div>
                <div class="tips1_middle_right05">
                       <div class="tips1_middle_right07">
                             <div class="tips1_middle_left04"></div>
                       </div>
                       <div class="tips1_middle_right06">
                             <span class="tips1_middle_txt04">洗脸的合适水温应在34゜C左右，用手试有温热感，但不觉得烫。水温过冷对皮肤 </span>
                             <span class="tips1_middle_txt04"> 有收敛作用，但皮肤清洁会不彻底；水温过热有镇痛和扩张毛细血管的作用，但</span>
                             <span class="tips1_middle_txt04">经常使用会使皮肤脱脂，皮肤变得松弛、出现皱纹。较推荐使用温水和冷水交替</span>
                             <span class="tips1_middle_txt04">清洗法，温水清洗，最后用冷水冲洗，冷热交替可促进血液循环，增强皮肤呼吸。</span>
                       </div>
                       <div class="tips1_middle_left08">
                             <div class="tips1_middle_left04"></div>
                       </div>
                       <div class="tips1_middle_right06">
                             <span class="tips1_middle_txt04">不宜过度频繁洗脸，早晚各一次即可，油性皮肤夏季可酌情增加一次。</span>
                       </div>
                       <div>
                             <img class="tips1_middle_pic02" src="/assets/img/notice-the-tips-grass.png" width="426" height="56">
                       </div>
                </div>
           </div>
           <div class="tips1_bottom">
                <div class="tips1_bottom_01">
                       <div class="tips1_bottom_pic01">
                            <img src="/assets/img/steps-protect.png" width="68" height="73">
                       </div>
                       <span class="tips1_bottom_txt01">护肤步骤</span>
                       <span class="tips1_middle_txt02">正确护肤步骤</span>
                </div>
                <div class="tips1_bottom_left01">
                       <div class="tips1_middle_left02">
                             <span class="tips1_middle_txt03">清洁注意事项：</span>
                       </div>
                       <div class="tips1_middle_left08">
                             <div class="tips1_middle_left04"></div>
                       </div>
                       <div class="tips1_bottom_left02">
                             <span class="tips1_middle_txt04">每日步骤：清洁、爽肤、均衡滋润、保护</span>
                       </div>
                       <div class="tips1_middle_left08">
                             <div class="tips1_middle_left04"></div>
                       </div>
                       <div class="tips1_bottom_left02">
                             <span class="tips1_middle_txt04">周护理步骤：可在清洁完毕后，涂抹面膜达到调整肌肤纹理</span>
                       </div>
                       <div class="tips1_bottom_left02">
                             <span class="tips1_middle_txt04">产品使用顺序通用原则：由稀到厚，一般依次为：水-精华-露-乳-霜</span>
                       </div>
                </div>
                <div class="tips1_bottom_right01">
                       <img src="/assets/img/the-step-of-pro.png" width="285" height="250">
                </div>
                <div class="tips1_bottom_left03">
                       <img src="/assets/img/the-step-of-pro-face.png" width="250" height="216">
                </div>
                <div class="tips1_bottom_right02">
                       <div class="tips1_bottom_pic02">
                              <img src="/assets/img/the-step-of-pro-face-right-leaves.png" width="200" height="50">
                       </div>
                       <div class="tips1_bottom_right03">
                             <a class="tips_bottom_txt" >更多美肤养成秘技</a>
                       </div>
                       <div class="tips1_bottom_pic03"><img src="/assets/img/right-angle-green.jpg" width="5" height="10"></div>
                </div>
           </div>
     </div>
</div>

</body>
</html>
