<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>member-left</title>
</head>

<body>

<div id="member-left" style="float:left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       美容小贴士
       </div>
    </div>
  </div>
  
  <center>
    <div class="basket2-missJu" >
      <div class="member-text2-tips">
      <img src="/assets/img/right-angle-green-big-one.png" height="12px" > 
      美容技巧
      </div>
    </div>
    <div class="basket2" style="
    border-bottom-width: 0px;
    border-top:dashed;
	border-top-width: 1px;
    margin-top: 5px;
	border-top-color:#d6f0c0;

">
      <div class="member-text2">
       <img src="/assets/img/right-angle-green.jpg" width="7px"  > 
       用户心声
      </div>
    </div>
    
    
 <div class="between-the-tech">
   </div>
  </center>

   
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
    <center><div class="between-the-ads">
   </div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
      <div class="contactus-weibobor-1-1">   
      <%= render :partial => "/refinery/pages/left_contactus.html.erb" %> 
      </div> 
</div>

<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="/美容小贴士">美容小贴士</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="#">美容技巧</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;美容技巧</p>
           </div>
           <%=raw @page.content_for(:tiptech) %>
           <div style="clear:both"></div>
     </div>
</div>

</body>
</html>
