
<div id="member-left" style="float:left" >
  
  <div class="basket1">
    <div class="zone">
       <div class="member-text">
       网站公告
      </div>
    </div>
  </div>
  
  <center>
  </center>
 

   
   <div class="bor-4">
      <img src="/assets/img/advt1.jpg" class="width-bar">
   </div>
   <center><div class="between-the-ads">
   </div></center>
   <div class="bor-5">
       <img src="/assets/img/advt2.jpg" class="width-bar">
   </div>
  
  
  <div class="contactus-weibobor-1">      
      <div class="zone3" >
         <div class="member-text4" >
         微博微信
         </div>
      </div>
      
  <ul>
       <li class="member-text5" >
       <div class="alter-the-weibopositon">官方微信</div> <div>
       <img src="/assets/img/wechat-gray.png" class="wechatweibo1"  ></div>
       </li>
       <li class="member-text5">
       <div class="alter-the-weibopositon">官方微博</div>
       <div>
       <img src="/assets/img/MicBlog-gray.png" height="40" class="wechatweibo" >
       </div>
       </li>
        
       <li class="http">
           <a href="http://www.weibo.com"  class="http1">
       http://weibo.com/
           </a> 
       </li>
       
  </ul>
   </div>
</div>


<div id="content_right">
     <div class="resetpw">
           <div class="resetpw_head">
                <ul>
                        <li class="resetpw_head_txt1"><a href="/">首页</a></li>
                        <li class="resetpw_head_txt2">&nbsp;&nbsp;>&nbsp;&nbsp;</li>
                        <li class="resetpw_head_txt1"><a href="#">网站公告</a></li>
                </ul>
           </div>
           <div class="resetpw_top">
                <p class="resetpw_top_txt">&nbsp;网站公告</p>
           </div>

