<nav id="recent_news_items">
  <ul>
    <% @items.each do |item| %>
      <li>
        <p><%= link_to item.title, refinery.news_item_path(item) %></p>
        <p><%= link_to l(item.publish_date), refinery.news_item_path(item) %></p>
      </li>
    <% end %>
  </ul>
</nav>
