<nav id="recent_news_items">
  <ul>
    <% @items.each do |item| %>
      <li>
        <%= link_to refinery.news_item_path(item) do %>
          <p><%= l(item.publish_date, :format => "%Y/%m/%d") %></p>
          <p><%= item.title %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
