<!doctype html>
<html>
<head>
<link href="/assets/layout.css"  rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/css/index-part.css"  rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/css/footer.css" rel="stylesheet" type="text/css" media="screen" />
<meta charset="utf-8">
<title> </title>
</head>

<body>
<div id="footer">


  <img src="/assets/img/logo-8.png" class="img-logo">

   <div class="footer-text1">
   
         网站地图 | 服务政策 | 免责声明 & 隐私保护 
   
      </div>
      <div class="footer-text2">© 2013 Century Concord (Shanghai) Trading Co., Ltd. All rights reserved</div>
      
</div>
</body>
</html>
