<!doctype html>
<html>
<head>
<link href="/assets/layout.css"  rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/css/index-part.css"  rel="stylesheet" type="text/css" media="screen" />
<link href="/assets/css/footer.css" rel="stylesheet" type="text/css" media="screen" />
<meta charset="utf-8">
<title> </title>
</head>

<body>

<div id="footer">

  <img src="/assets/img/logo-8.png" class="img-logo">

   <div class="footer-text1">
   
	   <a href="#"> 网站地图</a> |<a href="/home/%E6%9C%8D%E5%8A%A1%E6%94%BF%E7%AD%96"> 服务政策</a> | <a href="../home/%E5%85%8D%E8%B4%A3%E5%A3%B0%E6%98%8E">免责声明 & 隐私保护</a> 
   
      </div>
      <div class="footer-text2">© 2013 Century Concord (Shanghai) Trading Co., Ltd. All rights reserved</div>
      
</div>
</body>
</html>
