 <meta charset='utf-8' />
<!DOCTYPE html>
<% content_for :javascripts do %>
<script type="text/javascript">
function openpopup (login_reg_psw, canhide) {
	location.href = "#";

	var popup = $('#popup_dialog');
	var newdiv = $('#popup_shadow');

	newdiv.css ("display", "block");
	$('body').css ("overflow", "hidden");

	if (canhide)
		newdiv.click (function() {
			popup.css ("display", "none");
			newdiv.css ("display", "none");
			$('body').css ("overflow", "auto");
		});

	var request_url = {
		0:	"/assets/index-login.inc.html",
	//	1:	"/assets/register.inc.html",
	//	2:	"/assets/changepsw.inc.html"
	}

	$.ajax ({
		url:		request_url[login_reg_psw],
		type:		"GET",
		dateType:	"html"
	}).done (function (resp) {
		popup.html (resp);
		popup.css ("display", "block");

		if (canhide) {
			$('#popup_close').click (function() {
				popup.css ("display", "none");
				newdiv.css ("display", "none");
				$('body').css ("overflow", "auto");
			});
			$('body').keydown (function() {
				if (event.keyCode == 27) {
					popup.css ("display", "none");
					newdiv.css ("display", "none");
					$('body').css ("overflow", "auto");
					$('body').unbind ('keydown');
				}
			});
		} else
			$('#popup_close').click (function() {
				location.href = "/";
			});

		

		
	});
}

</script>
<% end %>

<div class="header_top">
     <div class="header_top_left">
         <ul>
			   <li class="atthelast1">Gelnic针对敏感肌肤研究</li>
               <li class="atthelast1">&nbsp;|&nbsp;</li>
               <li class="atthelast1">简洁护理肌肤</li>
         </ul>
     </div>
     <div class="header_top_right">
         <div class="login_info">
             <ul>
    <!--          		
           	<% if session[:login] %>   
                   <li class="login_info_txt1">X女士&nbsp;&nbsp;您好！</li>
                   <li class="login_info_txt2"><img src="/assets/img/arrow_03.jpg" width="19" height="28" /></li>
                   <li class="login_info_txt3"><a href="">退出登录</a></li>
  <!--         <% end %>       <% else %>-->
  				   <li class="login_info_txt2" style="margin-left: 88px;"><img src="/assets/img/arrow_03.jpg" width="19" height="28" /></li>
                   <li class="login_info_txt3"><a onclick="openpopup(0, true)">会员登录</a></li>
                   <li class="login_info_txt2"><img src="/assets/img/arrow_03.jpg" width="19" height="28" /></li>
                   <li class="login_info_txt3"><a onclick="login()">会员注册</a></li>
                  
             </ul>
        <div id="popup_dialog" class="popup_dialog"></div>
	    		 <div id="popup_shadow" class="popup_shadow"></div> 
         </div>
     </div>
</div>
<div class="header_bottom">
     <div class="header_bottom_left">
          <div class="logo">
       			  <a href="/pages/1"><img src="/assets/img/logo_05.jpg" width="197" height="93" /></a>
		  </div>
		  <div class="teacher">
		  		  <a href="/%E5%B0%8F%E8%8F%8A%E8%80%81%E5%B8%88%E8%AF%BE%E5%A0%82"><img src="/assets/img/MissJuclass.png" width="142" height="85" /></a>
		  </div>
     </div>
     <div class="header_bottom_right">
          <%= render(:partial => "/refinery/menu", :locals => {
               :dom_id => 'menu',
               :css => 'menu'
          }) %>
     </div>
</div>

</html>
