<!DOCTYPE html>
<link href="/assets/layout.css" rel="stylesheet" type="text/css" media="screen" />

<div class="header_top">
     <div class="header_top_left">
         <ul>
               <li>Gelnic针对敏感肌肤研究</li>
               <li>&nbsp;|&nbsp;</li>
               <li>简洁护理肌肤</li>
         </ul>
     </div>
     <div class="header_top_right">
         <div class="login_info">
             <ul>
                   <li class="login_info_txt1">x 女士&nbsp;&nbsp;您好！</font></li>
                   <li class="login_info_txt2"><img src="/assets/img/arrow_03.jpg" width="19" height="28" /></li>
                   <li class="login_info_txt3">退出登录</font></li>
             </ul>
         </div>
     </div>
</div>
<div class="header_bottom">
<div class="header_bottom_left">
     <div class="logo">
          <img src="/assets/img/logo_05.jpg" width="197" height="93" />
     </div>
</div>
<div class="header_bottom_right">
     <div class="nav">
           <ul>
                    <li class="bor_1">关于简尼</li>
                    <li class="bor_2">产品资讯</li>
<a href="pages/5">                    <li class="bor_2">会员专区</li></a>
                    <li class="bor_2">如何购买</li>
                     <li class="bor_2">美容小贴士</li>
                     <li class="bor_2">老师课堂</li>
                      <li class="bor_3">联系我们</li>
           </ul>
     </div>
</div>
</html>
