 <meta charset='utf-8' />
<!DOCTYPE html>
<% content_for :javascripts do %>
<script type="text/javascript">


</script>
<% end %>

<div class="header_top">
     <div class="header_top_left">
         <ul>
			   <li class="atthelast1">Gelnic针对敏感肌肤研究</li>
               <li class="atthelast1">&nbsp;|&nbsp;</li>
               <li class="atthelast1">简洁护理肌肤</li>
         </ul>
     </div>
     <div class="header_top_right">
         <div class="login_info">
             <ul>
            		
           <% if session[:login] %> 
                   <li class="login_info_txt1"><label><%= session[:nickname] ? session[:nickname] : session[:username] %></label><label><% if session[:gender] == 69 %>先生<% elsif session[:gender] == 70 %>小姐<% end %></label>&nbsp;&nbsp;您好！ </li>
                   <li class="login_info_txt2"><img src="/assets/img/arrow_03.jpg" width="19" height="28" /></li>
                   <li class="login_info_txt3"><a href="/membership/logout">退出登录</a></li>
  	                 <% else %>
  				   <li class="login_info_txt2" style="margin-left: 88px;"><img src="/assets/img/arrow_03.jpg" width="19" height="28" /></li>
                   <li class="login_info_txt3"><a onclick="login()" >会员登录</a></li>
                   <li class="login_info_txt2"><img src="/assets/img/arrow_03.jpg" width="19" height="28" /></li>
                   <li class="login_info_txt3"><a onclick="register()" >会员注册</a></li>
                 <% end %>  
             </ul>
       			 <div id="popup_dialog" class="popup_dialog"><div></div></div>
	    		 <div id="popup_shadow" class="popup_shadow"></div> 
         </div>
     </div>
</div>
<div class="header_bottom">
     <div class="header_bottom_left">
          <div class="logo">
       			  <a href="/pages/1"><img src="/assets/img/logo_05.jpg" width="197" height="93" /></a>
		  </div>
		  <div class="teacher">
		  		  <a href="/%E5%B0%8F%E8%8F%8A%E8%80%81%E5%B8%88%E8%AF%BE%E5%A0%82"><img src="/assets/img/MissJuclass.png" width="142" height="85" /></a>
		  </div>
     </div>
     <div class="header_bottom_right">
          <%= render(:partial => "/refinery/menu", :locals => {
               :dom_id => 'menu',
               :css => 'menu'
          }) %>
     </div>
</div>

</html>
