@charset "utf-8";
/* CSS Document */
.concept_middle_1{
	width:720px;
	height:382px;
}
.concept_middle_1_pic{
	padding-top:20px;
}
.concept_middle_2{
	height:194px;
	float:left;
}
.concept_midle_2_left{
	width:432px;
	float:left;
}
.concept_midle_2_right{
	float:right;
	width:280px;
}
.concept_middle_2_left_top{
	height:33px;
	padding-top:52px;
	color:#6eb92b;
	font-size:16px;
}
.concept_middle_2_left_middle{
	height:55px;
	line-height:18px;
	color:#666666;
	font-size:12px;
}
.concept_middle_2_left_bottem{
	line-height:18px;
	color:#666666;
	font-size:12px;
	width:432px;
}

.concept_middle_2_right01{
	padding-top:54px;
	float:left;
	text-align:right;
	width:204px;
}
.concept_middle_2_right02{ 
   background-color:#f0ffe3;
   float:left;  
   width: 92px; 
   height: 92px;  
   -webkit-border-radius:72px; 
   -moz-border-radius: 72px; 
   border-radius: 72px; 	
}
.concept_middle_2_txt03{
	color:#6eb92b;
    font-size:12px;
	text-align:center;
	padding-top:22px;
}
.concept_middle_2_txt04{
	font-size:12px;   
	color:#999999;	
}
.concept_middle_2_txt04 p{
	line-height:24px;
}
.concept_middle_2_right03{
	float:right;
	padding-top:56px;
}
.concept_middle_3_txt01{	
	padding-top:262px;
	font-size:18px;
	color:#6eb92b;
}
.concept_middle_3_txt02{	
	margin-top:17px;
	font-size:12px;
	color:#666666;
}
.concept_middle_3_pic{
	margin-top:28px;
	margin-left:3px;
	margin-right:54px;
}
.concept_middle_3_bottom{
	margin-top:16px;
	width:144px;
	height:68px;
}
.concept_middle_3_txt03{
	width:120px;
	font-size:12px;  
	color:#cccccc;
	float:left;
}

.history_middle_1{
	height:294px;
	width:720px;
	border-bottom-style:dashed;
	border-color:#7a7a7a;
	border-width:1px;
}
.history_middle_1_top{
	height:193px;
}
.history_middle_1_pic{
	margin-left:235px;
	margin-top:30px;
}
.history_middle_1_txt01{
	margin-top:10px;
	margin-left:150px;
	font-size:14px;
	color:#6eb92b;
}
.history_middle_1_txt02{
	font-size:12px;  
	color:#666666;
	text-indent:24px;
	line-height:24px;
	letter-spacing:1px;
	padding-left:18px;
	width:684px;
}
.history_middle_2_txt01{
	font-size:14px;
	color:#6eb92b;
	line-height:18px;
	padding-top:39px;
	padding-bottom:10px;
	text-indent:10px;
}
.history_middle_2_txt02{
	font-size:12px;  
	color:#666666;
	line-height:36px;
	padding-left:3px;
}
.safety_middle_1{
	height:264px;
	width:720px;
	border-bottom-style:dashed;
	border-color:#7a7a7a;
	border-width:1px;
}
.safety_middle_2_pic{
	padding-top:48px;
	padding-left:31px;
}
.story_middle_1{
	height:320px;
	width:720px;
	border-bottom-style:dashed;
	border-color:#7a7a7a;
	border-width:1px;
}
.story_middle_2{
	height:120px;	
}
.story_middle_2_left{
    float:left;
	height:56px;
	width:202px;
	font-size:18px;
	color:#6eb92b;
	padding-top:64px;
	padding-left:68px;
	letter-spacing:3.6px;
}
.story_middle_2_right{
	width:420px;
	float:left;
	margin-top:50px;
	height:70px;
	font-size:14px;
	color:#6eb92b;
	line-height:24px;
	letter-spacing:2px;
}

.story_middle_3{
	height:260px;	
}
.story_middle_3_left{
	float:left;
	width:270px;
}
.story_middle_3_pic01{
	padding-left:24px;
}
.story_middle_3_right01{
	float:right;
	width:450px;
	height:48px;
	font-size:12px;  
	color:#666666;
	letter-spacing:1px;   
	line-height:24px;
}
.story_middle_3_right02{
	float:left;
	width:410px;
	height:212px;
	font-size:12px;  
	color:#666666;
	letter-spacing:1px;   
	line-height:24px;	
}
.story_middle_4{
	float:left;
}
.story_middle_4_left{
	float:left;
	width:478px;
}
.story_middle_5{
	float:left;
	height:44px;
	width:232px;
	font-size:12px;
	color:#999999;
	padding-left:38px;
	padding-top:9px;
}
.story_middle_6{
	height:53px;
	float:right;
	width:208px;
	font-size:12px;  
	color:#666666;
	letter-spacing:1px;   
	line-height:24px;
}
.story_middle_7{
	float:left;
	height:96px;
	width:460px;
	padding-left:18px;
	font-size:12px;  
	color:#666666;
	letter-spacing:1px;   
	line-height:24px;
}
.story_middle_8{
	float:left;
	height:146px;
	width:460px;
	padding-left:18px;
	font-size:12px;  
	color:#666666;
	letter-spacing:1px;   
	line-height:24px;
}
.story_middle_9{
	float:left;
	height:51px;
	width:460px;
	padding-left:18px;
	font-size:14px;
	color:#6eb92b;
	line-height:24px;
	letter-spacing:2px;
}
.story_middle_10{
	padding-left:18px;
	float:left;
	height:80px;
	width:460px;
	font-size:12px;  
	color:#666666;
	letter-spacing:1px;   
	line-height:24px;
}
.story_middle_11{
	padding-left:17px;
	float:left;
	height:180px;
	width:460px;
}
.story_middle_4_right{
	float:right;
	width:242px;
}
.story_middle_4_pic02{
	float:left;
	padding-left:65px;
}
.story_middle_12{
	float:left;
	height:154px;
	width:222px;
	padding-top:12px;
	font-size:12px;
	color:#999999;
	padding-left:20px;
	text-align:center;
}
.story_middle_4_txt{
	font-size:12px;
	color:#999999;
	padding-left:20px;
	text-align:center;
}
.story_middle_13{
	float:left;
	height:260px;
}
.story_middle_14{
	height:64px;
	float:left;
	height:64px;
}
.story_middle_14_left{
	float:left;
	font-size:12px;
	color:#aaaaaa;
	line-height:18px;
	margin-left:16px;
}
.story_middle_14_txt01{
	letter-spacing:10px;
	float:left;
}
.story_middle_14_right{
	float:left;
	width:686px;
	height:64px;
	font-size:12px;
	color:#aaaaaa;
	line-height:18px;
	margin-left:30px;
}

