@charset "utf-8";
/* CSS Document */
body{
	font-family:Arial,'YouYuan','SimSun';
	text-align:left;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	margin:0 auto;
}
#page_container{
	width:970px;
	min-height:920px;
	margin:0 auto;
	border-left:solid;
	border-right:solid;
	border-color:#eef9e5;
	border-width:1px;
}
.header_top{	
	background-color:#f0fee4;	
	width:970px;
	height:28px;
	border-bottom:solid;
	border-color:#d6f0c0;
	border-width:1px;
}
.header_top_left{
	font-size:10px;
	width:250px;
	height:28px;
	color:#8fcb5a;
	float:left;
}
.header_top_left ul{
	padding-left:8px;
	list-style:none;
	float:left;	
	margin-top:7px;
}
.header_top_left ul li{	
	float:left;
	font-size:12px;
}
.header_top_right{
	float:left;
	height:28px;
	width:280px;
	margin-left:440px
}
.login_info{
	float:left;
    height: 28px;
	margin-top:0px;	
}
.login_info ul{
	font-size:12px;
	color:#FFF;
	text-decoration:none;
	list-style:none;
}
.login_info ul li{
	float:left;			
}
.login_info_txt1{
	padding-top:5px;
	padding-left:14px;
	width:88px;
	height:23px;
	background-color:#bbe09d;
	border-right:dashed;
	border-color:#FFF;
	border-width:1px;
	margin-top:-12px;
	margin-left:60px;
	font-size:12px;
}
.login_info_txt2{
	margin-top:-12px;
}
.login_info_txt3{
	margin-top:-12px;
	padding-top:5px;
	width:57px;
	height:23px;
	background-color:#bbe09d;
	font-size:12px;
}
.header_bottom{
	height:94px;
	border-bottom:solid;
	border-color:#d6f0c0;
	border-width:1px;
}
.header_bottom_left{
	width:228px;
	height:94px;
	float:left;
}
.logo{
	margin-left:18px;
}

.teacher{
	position:absolute;
	z-index:99;
	margin-left:750px;
	margin-top:-82px;
	
}

.header_bottom_right{
	width:740px;
	float:left;
	/*border-right-style:solid;*/
}

#menu{
	/*(border-right-style:solid;*/
	/*border-right-width:1px;*/
	margin-left:33px;
	margin-top:36px;
}

#menu ul,
#menu a{
	text-align:center;
	font-size:15px;
	color:#6eb92b;
	list-style:none;
	font-size:14px !important;
}

nav ul .last {
	border-right-style:solid;
}


#menu ul li{
	float:left;
	/*border-style:solid none solid none*/
	border-top-style:solid;
	border-bottom-style:solid;
	border-color:#6eb92b;
	border-width:1px;
	/*width:92px;*/
	height:26px;
	padding-top:10px;
	padding-left:16px;
	padding-right:16px;
}

#menu ul li:first-child{
	border-top-style:solid;
	border-left-style:solid;
	border-bottom-style:solid;	
	border-color:#6eb92b;
	border-width:1px;
  /*  width:92px;*/
	height:26px;
	padding-top:10px;
}

#menu li+li {
	border-left-style:dashed;
	
}


#menu ul li:last-child{
	border-style:solid  solid solid dashed;
	border-color:#6eb92b;
	border-width:1px;
	/*  width:92px;*/
	height:26px;
	padding-top:10px;
} 




#menu ul ul{
	
	display:none;
	z-index:10;
	position:absolute;
}

#menu ul li:hover ul{
       display:block;
       margin-top:11px;
       margin-left:-57px;
      
}

#menu ul li:hover ul li {
	float:none;
	border-top-style:none;
	border-right-style:solid;	
	border-left-style:solid;
	background-color:#ffffff ;
}

#menu ul li:hover ul li+li {
	border-bottom-style:dashed;
}

/*nav ul li:hover ul .last {
	border-bottom-style:solid;
}
*/
#menu ul li:hover ul .last {
	border-bottom-style:solid;
}

#menu ul li:hover ul li:first-child {
	float:none;
	background-color:#ffffff;
    border-top-style:none;	
	border-right-style:solid;
	border-left-style:solid;
	border-bottom-style:dashed;
	
}


#menu ul li:hover ul li:last-child {
	    float:none;
		background-color:#ffffff;
		border-top-style:none;
		border-left-style:solid;
		border-bottom-style:solid;
	}

#menu ul li:hover ul li ul{
	display:none;
	position:absolute;
	z-index:10;
}
#menu ul li:hover ul li:hover ul{
	display:block;
	margin-left:72px;
	margin-top:-27px;
	padding:0px;
//	float:left;
    background-color:#ffffff;
}

#menu ul li:hover ul li:hover ul li{
	
//	float:left;
//margin-top:28px;
	width:100px;
	border-top-style:none;
	border-right-style:solid;
//	border-bottom-style:dashed;
    background-color:#ffffff;	
	border-left-style:solid;
	
        
}

#menu ul li:hover ul li:hover ul .last {
	border-bottom-style:solid;
}

#menu ul li:hover ul li:hover ul li:first-child{
	//float:left;
	//display:block;
	background-color:#ffffff;
	border-top-style:solid;
	border-bottom-style:dashed;
}


#menu ul li:hover ul li:hover ul li:last-child{
    //display:block;
	border-top-style:none;
	border-bottom-style:solid;
	background-color:#ffffff;
}

.nav{
	margin-left:48px;
	margin-top:36px;
}
.nav ul{
	text-align:center;
	font-size:15px;
	color:#6eb92b;
	list-style:none;
}
.nav ul li{
	float:left;
}
.bor_1{
	border-style:solid dashed solid solid;	
	border-color:#6eb92b;
	border-width:1px;
    width:92px;
	height:28px;
	padding-top:8px;
	font-size:14px;
	font-family:Arial,'YouYuan','SimSun';
}
.bor_2{
	border-style:solid dashed solid none;
	border-color:#6eb92b;
	border-width:1px;
	width:92px;
	height:28px;
	padding-top:8px;
	font-size:14px;
	font-family:Arial,'YouYuan','SimSun';
}
.bor_3{
	border-style:solid  solid solid none;
	border-color:#6eb92b;
	border-width:1px;
	width:92px;
	height:28px;
	padding-top:8px;
	font-size:14px;
	font-family:Arial,'YouYuan','SimSun';
}
/*#menu{
        margin-left:48px;
        margin-top:36px;
}
*/
#member-left{
	float:left;
	min-height:920px;
	width:231px;
	//border-right-style:solid;
	//border-style:solid;
	//border-top-style:none;
	//border-left-style:none;
	border-color:#d6f0c0;
	border-width:1px;
}

.basket1{
	width:231px;
	height:85.5px;
	border-bottom:solid;	
	border-bottom-color:#d6f0c0;
	border-bottom-width:1px;
}

.basket2{
	width:212px;
	border-bottom:dashed;
	height:70px;
	border-color:#d6f0c0;
	border-bottom-width:1px;
	
}

.basket2-missJu{
	width:212px;
	border-bottom:dashed;
	height:70px;
	border-bottom-color:#d6f0c0;
	border-bottom-width:1px;	
}

.basket2-missJu-tech{
	width:231px;
	border-bottom:solid;
	height:75px;
	border-bottom-color:#d6f0c0;
	border-bottom-width:1px;
}
	.basket2-missJu-tech-1{
	width:220px;
	border-bottom:solid;
	height:75px;
	border-bottom-color:#d6f0c0;
	border-bottom-width:1px;
}
	.basket2-missJu-tech-aboutJN{
	width:213px;
	border-bottom:dashed;
	height:75px;
	border-bottom-color:#d6f0c0;
	border-bottom-width:1px;
	
}

.basket2-missJu-tech-aboutJN-lastone{
	width:231px;
	border-bottom:solid;
	height:75px;
	border-bottom-color:#d6f0c0;
	border-bottom-width:1px;
		height:80px;
}


.zone{
	background-color:#f0fee4;
	width:220px;
	height:80px;
	text-align:center;
	margin-left:5.5px;
	margin-top:5.5px;
}

.member-text{
	font-family:Arial,'YouYuan','SimSun';
	font-weight:bold;
	color:#6eb92b;
	font-size:16px;
	padding-top:35px;	
}

.img-width{
	width:4px;
}

.img-margin{
	width:10px;
	margin-top:8px;
	margin-left:4px;
}

.img-margin2{
	margin-top:10px; 
	margin-left:-5px;
	width:10px;
}
	
.member-text2{
	padding-top:26px;
	font-family:Arial,'YouYuan','SimSun';
	font-weight:bold;
	color:#6eb92b;
	font-size:14px;
	margin-right:100px;
}

.member-text2 a {
	color:#6eb92b;
}

.member-text2-mid{
	padding-top:26px;
	font-family:Arial,'YouYuan','SimSun';
	font-weight:bold;
	color:#6eb92b;
	font-size:15px;
	background-color:#f0fee4;
	height:32px;
	width:220px;
	margin-top:5px;
	text-align:left;
	margin-right:55px;
}

.member-text2-mid-position{
	margin-left:17px;
}

.member-text2-aboutJN{
	padding-top:26px;
	font-family:Arial,'YouYuan','SimSun';
	font-weight:bold;
	color:#6eb92b;
	font-size:14px;
	margin-right:100px;
	text-align:left;
	margin-left:18px;
	width:200px;
}

.member-text2-aboutJN a {
	color:#6eb92b;

}

.member-text2-aboutJN-lastone{
	padding-top:26px;
	font-family:Arial,'YouYuan','SimSun';
	font-weight:bold;
	color:#6eb92b;
	font-size:15px;
	margin-right:100px;
	text-align:left;
	margin-left:27px;
	width:150px;

}
.member-text2-aboutJN-lastone a {
	color:#6eb92b;
}




.member-text2-tips{
	padding-top:26px;
	font-family:Arial,'YouYuan','SimSun';
	font-weight:bold;
	color:#6eb92b;
	font-size:15px;
	background-color:#f0fee4;
	margin-top:12px;
	height:45px;
	text-align:left;
	padding-left:16px;

}

.member-text2-tips-tech{
	padding-top:26px;
	font-family:Arial,'YouYuan','SimSun';
	font-weight:bold;
	color:#6eb92b;
	font-size:14px;
	background-color:#f0fee4;
	margin-top:12px;
	height:45px;
	text-align:left;
	padding-left:16px;

}


.member-text3{
	padding-top:26px;
	font-family:Arial,'YouYuan','SimSun';
	font-weight:bold;
	color:#6eb92b;
	font-size:12px;
	margin-right:100px;
	width:212px;
list-style-type:none; 
margin-top:-12px;
}

.member-text3 a {
	color:#6eb92b;
}

.member-text3-1-1{
	padding-top:26px;
	font-family:Arial,'YouYuan','SimSun';
	font-weight:bold;
	color:#6eb92b;
	font-size:12px;
	width:212px;
	list-style-type:none; 
	margin-left:-74px;
	margin-top:-12px;
}


.member-text3-history{
	padding-top:26px;
	font-family:Arial,'YouYuan','SimSun';
	color:#6eb92b;
	font-size:15px;
	margin-right:74px;
	width:212px;
list-style-type:none; 
margin-top:-12px;
}

.member-text4{
	font-family:Arial,'YouYuan','SimSun';
	font-weight:bold;
	color:#6eb92b;
	font-size:15px;
	text-align:center;
	text-align:center; 
	padding-top:11px;
	}
	
.member-text5{
	font-family:Arial,'YouYuan','SimSun';
	font-weight:bold;
	text-align:left;
	font-size:13px;
	list-style-type:none;
	 color:#666666; 
	 margin-left:-30px; 
	 height:51px;
	margin-top:-3px;
}

.empty1{
	margin-top:14px;
}

.zone2{
	background-color:#f0fee4;
	height:31px;
	width:220px;
	list-style-type:none;
	margin-left:-36px;
	 margin-top:14px;
}



.zone3{
	background-color:#f0fee4;
	height:40px;
	width:202px;
	margin-top:12px;
	list-style-type:none; 
	text-align:center; 
	margin-left:12px;
}
	

.bor-4{

	border-top:none;

	border-top-color:#d6f0c0;
	
	border-top-width:1px;
	height:112px;
	text-align:center;
	padding-top:22px;
	
}

.bor-5{
	border-bottom:solid;
	border-bottom-color:#d6f0c0;
	border-bottom-width:1px;
	height:112px;
	text-align:center;
	padding-top:22px;
}

.bor-6{border-top:solid;
	border-top-color:#d6f0c0;
	border-top-width:1px;
	text-align:center;
	padding-top:22px;
}

.wechat{
	width:28px;
	height:21px;
	padding-top:6px;
}
	
.wobo{
	padding-top:8px;
	width:23px;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
}
.wobo-1{
	padding-top:8px;
	width:25px;
	font-size:18px;
	margin-top:-5px;
	font-family:Arial, Helvetica, sans-serif;
}
.wobo-2{
	padding-top:8px;
	width:25px;
	font-size:18px;
	margin-top:-3px;
	margin-left:3px;
	font-family:Arial, Helvetica, sans-serif;
}
.wobo-3{
	padding-top:8px;
	width:25px;
	font-size:18px;
	margin-top:-3px;
	margin-left:5px;
	font-family:Arial, Helvetica, sans-serif;
}
.http-li{
	list-style-type:none;
	color: #666666; 
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	margin-left:3px;
	font-weight:bold;
}

.cancel-under-line{
	text-decoration:none;
	text-decoration:underline;
}

.cesstte{
	height:60px;
	width:260px;
	margin-top:-4px;
	margin-left:8px;
	color:#666666;
	font-family:Arial,'YouYuan','SimSun';
	font-weight:bold;
	line-height:25px; 
}

.cesstte1{
	height:60px;
	width:270px;
	margin-left:7px;
	font-size:11px;
	color:#666666;
	font-family:Arial,'YouYuan','SimSun';
	font-weight:bold;
	line-height:25px; 
}


.person-1{
	width:23px;
	margin-left:3px;
}

.I-am-calling{
	margin-left:-3px;
	margin-top:-4px;
	padding-top:4px;
	width:26px;
	float:left;
}

.notice{
	padding-top:2px;
	margin-left:2px;
	width:41px;
	float:left;
	height:22px;	
}

.new-info{
	padding-top:2px;
	width:46px;
	float:left;
	height:22px;	
}

.width-bar{
	width:221px;
}

.wechatweibo
{
	width:24px;
	height:18px;
	margin-top:2px;
	margin-left:3px;

	
}
.wechatweibo1
{
	width:24px;
	height:22px;
	margin-top:2px;
	margin-left:3px;

	
}

.http{
	list-style-type:none; 
	margin-top:-20px;
	 margin-left:-30px;
	  font-weight:bold;
	 
	  }
.http1{
	color: #666666;
	 font-family: Arial,'YouYuan','SimSun';
	 margin-bottom:23px;
}



/*鍦ㄦ渶鍚庝慨鏀圭殑css*/

.atthelast1{
	font-size:10px;
	font-family: Arial,'YouYuan','SimSun';
}

.atthelast2{
	font-size:12px;
	font-family: Arial,'YouYuan','SimSun';
}
/*联系我们的新加的css*/

.contactus-weibobor-1{
	  margin-bottom:23px;
	  border-bottom-style:solid;
	  border-bottom-color:#d6f0c0;
	  border-bottom-width:1px;
}

.contactus-weibobor-1-1{
	  margin-bottom:23px;
	  border-bottom-style:solid;
	  border-bottom-color:#d6f0c0;
	  border-bottom-width:1px;
}

.between-the-ads{
	border-bottom-style:dashed;
	border-bottom-color:#d6f0c0;
	border-bottom-width:1px;
	width:213px;
}

.between-the-tech{
	border-bottom-style:solid;
	border-bottom-color:#d6f0c0;
	border-bottom-width:1px;
	width:231px;
	height:13px;
}

.between-the-ads-tech{
	border-bottom-style:dashed;
	border-bottom-color:#d6f0c0;
	border-bottom-width:1px;
	width:213px;
	height:13px;
}

.alter-the-weibopositon{
	float:left;
	margin-top:5px;
}

/*修改history的左边部分*/
.put-on-left-block{
  border-bottom-style:dashed;
  border-bottom-width:1px;
  border-bottom-color:#d6f0c0;
}

.put-on-left-block-1{
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-bottom-color:#d6f0c0;
}

.member-text3-history{
  padding-top:26px;
  font-family:Arial,'YouYuan','SimSun';
  color:#6eb92b;
  font-size:15px;
  margin-right:74px;
  width:212px;
list-style-type:none; 
margin-top:-12px;}

/*写在最后的修改处*/

.for-one-line-left{
	border-bottom-style:solid;
	border-bottom-color:#d6f0c0;
	border-bottom-width:1px;
	width:229px;
}
/*on 09 05 to change the how to contect us*/
.bottom-basket-border-gray{
	border-bottom-style:dotted;
	border-bottom-color:#cccccc;
	border-bottom-width:2px;
	width:970px;
	height:90px;
}