@charset "utf-8";
/* CSS Document */
body{
	font-family:"Microsoft YaHei"!important;
	font-family:"Microsoft YaHei";
	text-align:left;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	margin:0 auto;
}
#page_container{
	width:970px;
	height:920px;
	margin:0 auto;
	border-left:solid;
	border-right:solid;
	border-color:#e7f6d9;
	border-width:1px;
}
.header_top{	
	background-color:#f0fee4;	
	width::970px;
	height:28px;
	border-bottom:solid;
	border-color:#d6f0c0;
	border-width:1px;
}
.header_top_left{
	font-size:10px;
	width:250px;
	height:28px;
	color:#8fcb5a;
	float:left;
}
.header_top_left ul{
	padding-left:8px;
	list-style:none;
	float:left;	
	margin-top:7px;
}
.header_top_left ul li{	
	float:left;
}
.header_top_right{
	float:left;
	height:28px;
	width:280px;
	margin-left:440px
}
.login_info{
	float:left;
    height: 28px;
	margin-top:0px;	
}
.login_info ul{
	font-size:12px;
	color:#FFF;
	text-decoration:none;
	list-style:none;
}
.login_info ul li{
	float:left;			
}
.login_info_txt1{
	padding-top:5px;
	padding-left:14px;
	width:88px;
	height:23px;
	background-color:#bbe09d;
	border-right:dashed;
	border-color:#FFF;
	border-width:1px;
	margin-top:-12px;
	margin-left:60px;
}
.login_info_txt2{
	margin-top:-12px;
}
.login_info_txt3{
	margin-top:-12px;
	padding-top:5px;
	width:57px;
	height:23px;
	background-color:#bbe09d;
}
.header_bottom{
	height:94px;
	border-bottom:solid;
	border-color:#d6f0c0;
	border-width:1px;
}
.header_bottom_left{
	width:228px;
	height:94px;
	float:left;
}
.logo{
	margin-left:35px;
}
.header_bottom_right{
	width:740px;
	float:left;
}
#menu{
	margin-left:48px;
	margin-top:36px;
}
#menu ul{
	text-align:center;
	font-size:15px;
	color:#6eb92b;
	list-style:none;
}
#menu ul li{
	float:left;
}
.bor_1{
	border-style:solid dashed solid solid;	
	border-color:#6eb92b;
	border-width:1px;
    width:92px;
	height:28px;
	padding-top:8px;
}
.bor_2{
	border-style:solid dashed solid none;
	border-color:#6eb92b;
	border-width:1px;
	width:92px;
	height:28px;
	padding-top:8px;
}
.bor_3{
	border-style:solid  solid solid none;
	border-color:#6eb92b;
	border-width:1px;
	width:92px;
	height:28px;
	padding-top:8px;
}

#member-left{
	float:left;
	height:920px;
	width:231px;
	border-style:solid;
	border-color:#6eb92b;
	border-width:1px;
}

.basket1{
	width:231px;
	height:92px;
	border-bottom:solid;
	border-bottom-color:#6eb92b;
	border-bottom-width:1px;
}

.basket2{
	width:212px;
	border-bottom:dashed;
	height:68px;
	border-bottom-color:#6eb92b;
	border-bottom-width:1px;
	
}
	

.zone{
	background-color:#f0fee4;
	width:220px;
	height:80px;
	text-align:center;
	margin-left:5.5px;
	margin-top:8px;
}

.member-text{
	font-family:"微软雅黑";
	font-weight:bold;
	color:#6eb92b;
	font-size:15px;
	padding-top:35px;	
}

.img-width{
	width:4px;
}

.img-margin{
	width:12px;
	margin-top:8px;
	 margin-left:15px;
}

.img-margin2{
	margin-top:8px; 
margin-left:-5px;
width:12px;
}
	
.member-text2{
	padding-top:26px;
	font-family:"微软雅黑";
	font-weight:bold;
	color:#6eb92b;
	font-size:15px;
	margin-right:100px;
	
}

.member-text3{
	padding-top:26px;
	font-family:"微软雅黑";
	font-weight:bold;
	color:#6eb92b;
	font-size:15px;
	margin-right:100px;
	width:212px;
list-style-type:none; 
margin-top:-12px;
}

.member-text4{
	font-family:"微软雅黑";
	font-weight:bold;
	color:#6eb92b;
	font-size:15px;
	text-align:center;
	text-align:center; 
	padding-top:11px;
	}
	
.member-text5{
	font-family:"微软雅黑";
	font-weight:bold;
	text-align:left;
	font-size:13px;
	list-style-type:none;
	 color:#000; 
	 margin-left:-30px; 
	 height:51px;
}

.empty1{
	margin-top:14px;
}

.zone2{
	background-color:#f0fee4;
	height:31px;
	width:220px;
	list-style-type:none;
	margin-left:-36px;
	 margin-top:14px;
}

.zone3{
	background-color:#f0fee4;
	height:40px;
	width:202px;
	margin-top:12px;
	list-style-type:none; 
	text-align:center; 
	margin-left:12px;
}
	

.bor-4{
	border-bottom:dashed;
	border-top:solid;
	border-bottom-color:#6eb92b;
	border-top-color:#6eb92b;
	border-bottom-width:1px;
	border-top-width:1px;
	height:112px;
	text-align:center;
	padding-top:22px;
	
}

.bor-5{
	border-bottom:solid;
	border-bottom-color:#6eb92b;
	border-bottom-width:1px;
	height:112px;
	text-align:center;
	padding-top:22px;
}

.bor-6{border-top:solid;
	border-top-color:#6eb92b;
	border-top-width:1px;
	text-align:center;
	padding-top:22px;
}

.wechat{
	width:28px;
	height:21px;
	padding-top:6px;
}
	
.wobo{
	padding-top:8px;
	width:23px;
}

.http-li{
	list-style-type:none;
	color: #000; 
	font-family: "Times New Roman", Times, serif;
	font-size:15px;
	font-weight:bold;
	margin-left:3px;
}

.cancel-under-line{
	text-decoration:none;
	text-decoration:underline;
}

.cesstte{
	height:60px;
	width:220px;
	margin-left:7px;
	font-size:18px;
	color:#000;
	font-family:"微软雅黑";
	font-weight:bold;
	line-height:25px; 
}

.person{
	width:23px;
}

.I-am-calling{
	padding-top:9px;
	width:80px;
}

.notice{
	padding-top:2px;
	width:41px;
	float:left;	
}

.width-bar{
	width:221px;
}

.wechatweibo
{
	width:23px;
}

.http{
	list-style-type:none; 
	margin-top:-20px;
	 margin-left:-30px;
	  font-weight:bold;
	  }
.http1{
	color: #000;
	 font-family: 'Microsoft YaHei';
}
