@charset "utf-8";
/* CSS Document */


.complete_middle_top{
	height:45px;
	width:720px;
	font-size:13px;
	margin-top:0px;
}

.middle_top_left{
	float:left;
	color:#9dd073;
	float:left;
	width:200px;
	margin-top:17px;
}
.middle_top_right{
	margin-left:510px;	
}
.right_editinfo input{
	float:left;
	margin-right:15px;
	margin-top:17px;
    background-color:#6eb92b;
	width:100px;
	height:24px;
	border-width:0px;
	color:#FFF;
	border-radius: 8px;	
}
.right_modify input{
	float:left;
	margin-right:15px;
	margin-top:17px;
    background-color:#6eb92b;
	width:76px;
	height:24px;
	border-width:0px;
	color:#FFF;
	border-radius: 8px;
}
.complete_middle{
	height:275px;
	width:720px;
	font-size:13px;
	color:#666666;
	border-bottom-style:dashed;
	border-color:#7a7a7a;
	border-width:1px;
}
.complete_middle_1{
	padding-top:20px;
}
.complete_middle_2{
	color:#6eb92b;
    	width:7px;
}
.complete_middle_3{
	width:80px;
	font-size:13px;
	color:#666666;
}
.complete_middle_4{
	width:270px;
	color:#cccccc;
}
.complete_bottom_picture{
	margin-top:36px;
}
