@charset "utf-8";
/* CSS Document */

#content_right{
	width:740px;
	min-height:1005px;
	margin-left:229px;
	border-left-style:solid;
	border-color:#def0c0;
	border-width:1px;
	/*margin-top:120px;*/
}
.resetpw{
	margin-left:20px;
	font-family:Arial,'YouYuan','SimSun'!important;
        font-family:Arial,'YouYuan','SimSun';
}

.resetpw-tech{
	margin-left:20px;
	min-height:2100px;
	font-family:Arial,'YouYuan','SimSun'!important;
	font-family:Arial,'YouYuan','SimSun';
}

.resetpw-class{
	margin-left:20px;
	min-height:2600px;
	font-family:Arial,'YouYuan','SimSun'!important;
	font-family:Arial,'YouYuan','SimSun';
}

.resetpw_head{
	text-align:left;	
	height:42px;
	font-size:12px;
	padding-top:5px;	
}
.resetpw_head ul{
	list-style:none;
	padding-left:0px;
}
.resetpw_head ul li{
	float:left;
}
.resetpw_head_txt1{
	color:#9dd073;
        font-family:Arial,'YouYuan','SimSun';
}
.resetpw_head_txt1 a {
        color:#9dd073;
        font-family:Arial,'YouYuan','SimSun';
}

.resetpw_head_txt2{
	color:#000;
}
.resetpw_top{	
	height:25px;
	width:720px;
	background-color:#6eb92b;
}
.resetpw_top_txt{
	margin-top:0px;
	padding-top:3px;
	font-size:14px;
	color:#FFF;
        font-family:Arial,'YouYuan','SimSun';
}
.resetpw_middle{
	height:160px;
	width:720px;
	border-bottom-style:dashed;
	border-color:#7a7a7a;
	border-width:1px;
}
.resetpw_middle_form{
	padding-top:3px;
}
.resetpw_middle_form ul{
	list-style:none;
}
.resetpw_middle_form ul li{
	text-indent:-30px;
	text-align:left;	
	font-size:13px;
	line-height:33px;	
}
.resetpw_middle_form input{
	
	border:#bbe09d 1px solid;
	width:250px;
	height:18px;
}
.resetpw_middle_txt1{
	color:#a3a3a3;
	float:left;
	letter-spacing:6px;
	margin-right:38px;
}
.resetpw_middle_txt2{
    color:#d6a522;
}
.resetpw_middle_txt3{
	float:left;
	margin-right:45px;
	color:#a3a3a3;
}
.resetpw_bottom_save input{	
	float:left;
    background-color:#6eb92b;
	margin-top:42px;
	margin-left:18px;
	margin-bottom:20px;
	width:112px;
	height:27px;
	border-width:0px;
	color:#FFF;
	border-radius: 8px;
}
.resetpw_bottom_cancel input{
	background-color:#999999;
	margin-top:42px;
	margin-left:30px;
	margin-bottom:20px;
	width:112px;
	height:27px;
	border-width:0px;
	color:#FFF;
	border-radius: 8px;
}


/*一下是立达的*/
.text-all-color-green{
	color:#9dd073;
	font-weight:bold;
	font-size:15px;
	float:left;
	list-style-type:none;
	margin-left:-40px;
}
.text-all-color-yellow{
	color:#ffcc00;
	font-weight:bold;
	font-size:15px;
	list-style-type:none;
	float:left;

}

.text-all-color-gray{
	color:#999999;
	font-weight:bold;
	font-size:15px;
	list-style-type:none;
}

.text-all-color-yellow-1{
	color:#ffcc00;
	font-weight:bold;
	font-size:15px;
	list-style-type:none;

}

.text-all-color-green-1{
	color:#9dd073;
	font-weight:bold;
	font-size:13px;
	float:none;
	list-style-type:none;
}

.text-all-color-green-2{
	color:#9dd073;
	font-weight:bold;
	font-size:13px;
	float:none;	
	margin-left:38px;
    list-style-type:none;
	margin-top:8px;
}

.text-all-color-green-3{
	color:#9dd073;
	font-weight:bold;
	font-size:13px;
	float:none;
	list-style-type:none;
	margin-top:33px;
	margin-left:-33px;
}


.text-all-color-black{
	list-style-type:none;
	color: #000;
	font-size:13px;
	margin-left:38px;
	margin-top:5px;
	} 
	
.table-text-black1{
	color: #000;
	width:70px;
	font-size:15px;
text-align:left;
padding-top:12px;
	}
	
.table-text-black2{
	color: #000;
	width:290px;
	font-size:15px;
text-align:left;
padding-top:12px;
	} 	
	
	.table-text-black2-1{
	color: #000;
	width:220px;
	font-size:15px;
text-align:left;
padding-top:12px;
	} 	 	

.img-1{
	width:26px;
	height:100px;
	margin-left:18px;
	float:left;
	}
	
.table{
	width:660px;
	height:35px;
	border:0px;
	margin-left:-35px;
	padding-top:-500px;
	}

.none{
	list-style-type:none;
}

.resetpw_top1{	
	height:25px;
	width:720px;
	background-color:#f0fee4;
	margin-top:45px;
	margin-left:-40px;
        font-family:Arial,'YouYuan','SimSun';
}

.resetpw_top1-intable{	
	height:25px;
	width:720px;
	background-color:#f0fee4;
	margin-top:45px;
	
        font-family:Arial,'YouYuan','SimSun';
}

.resetpw_top_txt1{
margin-top:4px;
margin-left:15px;
	font-size:15px;
	color:#6eb92b;
	list-style-type:none;
	float:left;
        font-family:Arial,'YouYuan','SimSun';
}

.resetpw_top_txt2{
margin-top:4px;
margin-left:70px;
	font-size:15px;
	color:#6eb92b;
	list-style-type:none;
	float:left;
}

.resetpw_top_txt2-1{
margin-top:4px;
margin-left:50px;
	font-size:15px;
	color:#6eb92b;
	list-style-type:none;
	float:left;
}

.resetpw_top_txt2-2{
margin-top:4px;
margin-left:115px;
	font-size:15px;
	color:#6eb92b;
	list-style-type:none;
	float:left;
}


.resetpw_top_txt3{
margin-top:4px;
margin-left:90px;
	font-size:15px;
	color:#6eb92b;
	list-style-type:none;
float:left;
}


.table1{
	width:660px;
	height:35px;
	border:0px;
	margin-left:0px;
	padding-top:500px;
	}
	
	.table3{
	width:760px;
	height:35px;
	border:0px;
	margin-left:10px;
	padding-top:-500px;
	border-bottom:dashed;
	border-bottom-color:#f0fee4;
	border-bottom-width:1px;
	}

.table3-text-history{
	width:760px;
	height:35px;
	border:0px;
	margin-left:10px;
	padding-top:-500px;
	border-bottom:dashed;
	border-bottom-color:#f0fee4;
	border-bottom-width:1px;
	}
.table-text-history-black-color{
	text-align:center;
	color:#000;
        font-family:Arial,'YouYuan','SimSun';
	font-size:12px;
	
}

.table-text-history-green-color{
	text-align:center;
	color:#6eb92b;
        font-family:Arial,'YouYuan','SimSun';
	font-size:12px;
}
	

		.table3-history{
	width:760px;
	height:35px;
	border:0px;
	margin-left:-10px;
	padding-top:-500px;
	border-bottom:dashed;
	border-bottom-color:#f0fee4;
	border-bottom-width:1px;
	}

	.table-text-green3{
	color:#6eb92b;
	width:60px;
	font-size:15px;
text-align:left;
padding-top:12px;
text-align:center;
	} 	
	.table-text-black3{
	color: #000;
	width:100px;
	font-size:15px;
text-align:left;
padding-top:12px;
text-align:center;
	} 	
	.table-text-black3-2{
	color: #000;
	width:60px;
	font-size:15px;
text-align:left;
padding-top:12px;
text-align:left;
padding-left:13px;
	} 
	
	.table-text-black3-1{
	color: #000;
	width:90px;
	font-size:15px;
text-align:left;
padding-top:12px;
text-align:center;

	} 	
	.table-text-green3-1{
	color:#6eb92b;
	width:130px;
	font-size:15px;
text-align:left;
padding-top:12px;
text-align:center;
	} 	 	
	
	
.background-color-white-green{
	background-color:#f0fee4;
	height:33px;
	margin-top:40px;
}
.background-color-white-green-1-1{
	background-color:#f0ffe3;
	height:33px;
	margin-top:40px;
}


.list-text1{
	font-size:15px;
	color:#6eb92b;
	padding-top:8px;
	float:left;
}

.list-text2{
	font-size:15px;
	color:#6eb92b;
	padding-top:8px;
	float:left;
	margin-left:190px;
}
.list-text3{
	font-size:15px;
	color:#6eb92b;
	padding-top:8px;
	float:left;
	margin-left:100px;
}

.list-text4{
	font-size:15px;
	color:#6eb92b;
	padding-top:8px;
	float:left;
	margin-left:110px;
}


.table4{
	width:720px;
	height:110px;
	border-width:0px;
}

.table4-line1{
	width:130px;
	text-align:center;
}


.table4-line1-img{
	height:100px;	
}

.table4-line2{
	width:134px;
	text-align:center;
}
.text-all-color-black-table4{
	list-style-type:none;
	color: #000;
	font-size:11px;
	margin-top:5px;
	margin-left:-38px;
	text-align:left;
	} 
	
.table4-line3{
	width:127px;
	text-align:center;
	color:#6eb92b;
}

.table4-line4{
	width:204px;
	text-align:center;
	color:#6eb92b;
}

.table4-line5{
	width:141px;
	text-align:center;
	color:#6eb92b;
}

.resetpw_bottom_table4 input{	
    background-color:#6eb92b;

	margin-left:18px;
	width:100px;
	height:27px;

	color:#FFF;
	border-radius: 8px;
}

.resetpw_bottom_table4-1 input{	
    background-color:#6eb92b;
border-width: 0px;
	margin-left:18px;
	width:100px;
	height:27px;

	color:#FFF;
	border-radius: 8px;
}

/*一下是我的积分的css*/
.table4-wode{
	width:720px;
	height:40px;
	
	border-bottom:dashed;
	border-bottom-width:1px;
	border-bottom-color:#f0fee4;
}
.background-color-white-green-wode{
	background-color:#f0fee4;
	height:30px;
	list-style-type:none;
	margin-top:40px;
}

.option-text{
	text-align:center;
}

.table4-line1-wode{
	width:100px;
	text-align:center;
	font-size:13px;
}

.table4-line2-wode{
	width:100px;
	text-align:center;
	font-size:13px;
}

.table4-line3-wode{
	width:100px;
	text-align:center;
	color:#6eb92b;
	font-size:13px;
}

.table4-line4-wode{
	width:120px;
	text-align:center;
	color:#6eb92b;
	font-size:13px;
}

.table4-line5-wode{
	width:141px;
	text-align:center;
	color:#000;
	font-size:13px;
	margin-left:-100px;
}


.list-text1-wode{
	font-size:13px;
	color:#6eb92b;
	padding-top:8px;
	float:left;
	margin-left:-18px;
}

.list-text2-wode{
	font-size:13px;
	color:#6eb92b;
	padding-top:8px;
	float:left;
	margin-left:55px;
}
.list-text3-wode{
	font-size:13px;
	color:#6eb92b;
	padding-top:8px;
	float:left;
	margin-left:60px;
}

.list-text4-wode{
	font-size:13px;
	color:#6eb92b;
	padding-top:8px;
	float:left;
	margin-left:95px;
}

.list-text5-wode{
	font-size:13px;
	color:#6eb92b;
	padding-top:8px;
	float:left;
	margin-left:110px;
}


/*!!!!!!!!!!!!!我的订单!!!!!!!!!!!!!!!*/

.resetpw_top_txt2-mystore{
margin-top:4px;
margin-left:260px;
	font-size:13px;
	color:#6eb92b;
	list-style-type:none;
	float:left;
}

.resetpw_top_txt2-1-mystore{
margin-top:4px;
margin-left:55px;
	font-size:13px;
	color:#6eb92b;
	list-style-type:none;
	float:left;
}

.resetpw_top_txt2-2-mystore{
margin-top:4px;
margin-left:55px;
	font-size:13px;
	color:#6eb92b;
	list-style-type:none;
	float:left;
}

.resetpw_top_txt2-2-mystore-1{
margin-top:4px;
margin-left:45px;
	font-size:13px;
	color:#6eb92b;
	list-style-type:none;
	float:left;
}


.resetpw_top_txt3-mystore{
margin-top:4px;
margin-left:45px;
	font-size:13px;
	color:#6eb92b;
	list-style-type:none;
float:left;
}


.resetpw_top1-mystore{	
	height:25px;
	width:720px;
	background-color:#bbdf9d;
	margin-top:0px;
	margin-left:0px;
}
.resetpw_top_txt-mystore{
	margin-top:0px;
	padding-top:3px;
	font-size:13px;
	color:#FFF;
	margin-left:-30px;
	list-style-type:none;
	float:left;
}

.resetpw_top_txt-mystore-1{
	margin-top:0px;
	padding-top:3px;
	font-size:13px;
	color:#FFF;
	margin-left:150px;
	list-style-type:none;

}

.table3-mystore{
	width:740px;
	height:35px;
	border:0px;
	margin-left:-10px;
	padding-top:30px;
	border-bottom:dashed;
	border-bottom-color:#dbf0bf;/*虚线的正经颜色*/
	border-bottom-width:1px;
	}

.table-text-green3-store{
	color:#6eb92b;
	width:100px;
	height:80px;
	font-size:15px;

padding-top:12px;
text-align:center;
	} 	

.mystore{
	width:100px;
}
.mystore-text{
	list-style-type:none;
	text-align:left;
	margin-left:-50px;
	font-size:12px;
}

.table-text-black3-2-store{
	color: #000;
	width:43px;
	font-size:15px;
text-align:left;
padding-top:4px;
text-align: center;
	} 
	
	.table-text-green3-store{
	color:#6eb92b;
	width:48px;
	font-size:15px;
text-align:left;
padding-top:4px;
text-align:center;
	} 	
	
.table-text-black3-1-store{
	color: #6eb92b;
	width:60px;
	font-size:15px;
text-align:left;
padding-top:12px;
text-align:center;

	} 	


/*gelnic second pages 联系我们*/

.text-all-color-green-contact{
	color:#6eb92b;
	font-size:12px;
	
	list-style-type:none;
	margin-left:-30px;
	margin-top:25px;
}
.contact-us-1{
	color:#6eb92b;
        font-family:Arial,'YouYuan','SimSun';
}
.resetpw_top_txt-contactus{
	margin-top:0px;
	padding-top:5px;
	font-size:14px;
	color:#FFF;
        font-family:Arial,'YouYuan','SimSun';
	margin-left:7px;
}

.contact-us-customer-1{
	width:720px;
	height:90px;
	border-bottom-style:dashed;
	border-bottom-width:1px;
	border-bottom-color:#cccccc;
}

.contact-us-height{
	margin-top:34px;
}

.ul-customer-tell{
        font-family:Arial,'YouYuan','SimSun';
	font-size:12px;
	margin-left:12px;
	list-style-type:none;
	float:left;
	width:50px;
	margin-top:4px;
}

.tellphone-size{
	width:22px;
	padding-top:2px;
	margin-left:3px;
	}

.number-800{
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;
	float:left;
	margin-left:6px;
	margin-top:3px;
}

.cesstte-contact{
	width:22px;
	float:left;
	margin-left:14px;
	margin-top:6px;
}
.notice-contact{
        font-family:Arial,'YouYuan','SimSun';
	font-size:11px;
	color:#999999;
	margin-top:8px;
	margin-left:10px;
	//width:380px;
	float:left;
}
.person{
	width:20px;
	height:19px;
	margin-top:-3px;
	margin-left:6px;
}
.cesstte-contact-us-us{
	width:83px;
	float:left;
	margin-left:10px;
	margin-top:6px;
	
}

.notice-contact-weibo{
        font-family:Arial,'YouYuan','SimSun';
	font-size:11px;
	color:#999999;
	margin-top:9px;
	margin-left:12px;
	width:380px;
}
.number-800-http-weibo{
	color:#666666;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	margin-left:12px;
	margin-top:3px;
}

.tellphone-size-wechat{
	width:22px;
	padding-top:1px;
	margin-left:3px;
	}
	
.notice-contact-wechat{
        font-family:Arial,'YouYuan','SimSun';
	font-size:11px;
	color:#999999;
	margin-top:8px;
	margin-left:12px;
	width:380px;
}

.Wechat-two-dimension-code-position{
	width:90px;
	height:90px;
	float:left;
	margin-left:12px;
	margin-top:16px;
}
.contact-us-customer-wechat{
	width:720px;
	height:250px;
}

.Whchat-secret{
	width:630px;
	height:70px;
	margin-top:20px;
	margin-left:80px;
}

.Whchat-secret-list{
	list-style-type:none;
        font-family:Arial,'YouYuan','SimSun';
	font-size:11px;
	color:#999999;
	margin-top:4px;
	line-height:14px;
}

/*一下是lida在service policy的页面上写的class！！！！*/


#content_right-for-service-policy{
	width:740px;
	height:1406px;
	margin-left:230px;
	/*margin-top:120px;*/
}
.contact-green-text{
        font-family:Arial,'YouYuan','SimSun';
	font-size:12px;
	color:#6eb92b;
	margin-left:9px;
	margin-top:26px;
}

.black-words-service{
	color:#bbdf9d;
	font-size:11px;
        font-family:Arial,'YouYuan','SimSun';
	margin-left:-14px;
	line-height:200%;
	text-align:left
}

.black-words-service-none-point{
	color:#bbdf9d;
	font-size:11px;
        font-family:Arial,'YouYuan','SimSun';
	margin-left:-14px;
	line-height:200%;
	text-align:left;
	list-style-type:none;
}

.black-words-service-for-disclaimer{
	color:#666666;
	font-size:11px;
        font-family:Arial,'YouYuan','SimSun';
	margin-left:-34px;
	line-height:200%;
	text-align:left;
	list-style-type:none;
	width:700px;
}

.just-for-black-service-words{
	color:#666666;
	}

.black-basket-service{
	margin-left:3px;
	margin-top:23px;
	width:720px;
	border-bottom-color:#cccccc;
	border-bottom-style:dashed;
	border-bottom-width:1px;
}
.black-basket-service-for-the-last-one{
	margin-left:3px;
	margin-top:23px;
	margin-bottom:40px;
	height:125px;
	width:720px;
	border-bottom-color:#cccccc;
	border-bottom-style:dashed;
	border-bottom-width:1px;
}
	.black-basket-service-for-the-last-one-for-disclaimer{
	margin-left:3px;
	margin-top:23px;
	margin-bottom:40px;
	height:80px;
	width:720px;
	border-bottom-color:#cccccc;
	border-bottom-style:dashed;
	border-bottom-width:1px;
}


/*以下是立达给客户心声写的class*/

.basket-for-customer-voice{
	width:720px;
	height:186px;
	margin-left:-2px;
}
.basket-for-customer-picture{
	width:190px;
	height:190px;
	float:left;
	margin-right:33px;
	margin-top:19px;
}
.picture-left-words{
	width:695px;
	height:190px;
	text-align:left;
	margin-left:33px;
}
.list-for-customer-letters-on-top{
	list-style-type:none;
	line-height:150%;
        font-family:Arial,'YouYuan','SimSun';
	font-size:12px;
	color:#666666;
	margin-left:22px;
	margin-top:10px;
}

.list-for-customer-letters{
	list-style-type:none;
	line-height:150%;
        font-family:Arial,'YouYuan','SimSun';
	font-size:12px;
	color:#666666;
	margin-left:22px;
	margin-top:5px;
}

.list-for-customer-letters-no-top{
	list-style-type:none;
	line-height:150%;
        font-family:Arial,'YouYuan','SimSun';
	font-size:12px;
	color:#666666;
	margin-left:22px;
}

.list-for-customer-letters-green{
	list-style-type:none;
	line-height:150%;
        font-family:Arial,'YouYuan','SimSun';
	font-size:12px;
	color:#6eb92b;
	margin-left:22px;
	margin-top:35px;
}

.myorder-in-table-text{
	padding-left:35px;
	padding-top:5px;
	color:#6eb92b;
        font-family:Arial,'YouYuan','SimSun';
	font-size:12px;
}

.myorder-in-table-text-middle{
	text-align:center;
	color:#6eb92b;
	padding-top:5px;
        font-family:Arial,'YouYuan','SimSun';
	font-size:12px;
}

.for-order-number-word{
	padding-left:10px;
	padding-top:5px;
        font-family:Arial,'YouYuan','SimSun';
	font-size:12px;
	color:#fff;
	text-align:left;
}
.resetpw_top1-mystore-myorder{	
	height:25px;
	width:720px;
	background-color:#bbdf9d;
	margin-top:10px;
	margin-left:0px;
}
	
.mystore-for-order{
	width:100px;
	margin-left:20px;
	padding-top:30px;
}
.mystore-text-for-order{
	list-style-type:none;
	text-align:left;
	font-size:12px;
	margin-top:30px;
	margin-left:-40px;
	color:#000000;
        font-family:Arial,'YouYuan','SimSun';
}
.mystore-text-for-order-1{
	list-style-type:none;
	text-align:left;
	font-size:12px;
	margin-top:5px;
	margin-left:-40px;
	color:#000000;
        font-family:Arial,'YouYuan','SimSun';
}

.for-order-middle-number{
	text-align:center;
	font-size:12px;
        font-family:Arial,'YouYuan','SimSun';
}

.just-for-border{
	border-bottom-color:#d6f0bf;
	border-bottom-style:dashed;
	border-bottom-width:1px;
}

.resetpw_top1-change-to-the-table{	
	height:25px;
	background-color:#f0fee4;
	margin-top:45px;
        font-family:Arial,'YouYuan','SimSun';
}

.resetpw_top_txt2-history{
margin-top:4px;
	font-size:12px;
	color:#6eb92b;
	list-style-type:none;
	float:left;
	text-align:center;
}

/*lida add*/
.point-exchange-about-I-do-not-want-to-say{
	text-align:center;
}
.point-exchange-about-I-do-not-want-to-say-green-word{
	color:#6eb92b;
        font-family:Arial,'YouYuan','SimSun';
	font-size:12px;
	text-align:center;
}
.point-exchange-about-I-do-not-want-to-say-green-word-top{
	color:#6eb92b;
        font-family:Arial,'YouYuan','SimSun';
	font-size:12px;
	text-align:center;
	padding-top:8px;
}
