@charset "utf-8";
/* CSS Document */
.findpw_1_middle{
	height:118px;
	width:720px;
	border-bottom-style:dashed;
	border-color:#7a7a7a;
	border-width:1px;
}
.findpw_bottom_next input{	
	float:left;
    background-color:#6eb92b;
	margin-top:42px;
	margin-left:18px;
	width:70px;
	height:27px;
	border-width:0px;
	color:#FFF;
	border-radius: 8px;
}


.findpw_2_middle{
	height:118px;
	width:720px;
	border-bottom-style:dashed;
	border-color:#7a7a7a;
	border-width:1px;
}
.findpw_bottom_confirm input{	
	float:left;
    background-color:#6eb92b;
	margin-top:42px;
	margin-left:18px;
	width:80px;
	height:27px;
	border-width:0px;
	color:#FFF;
	border-radius: 8px;
}

.findpw_bottom_confirm-gray input{	
	float:left;
    background-color:#999;
	margin-top:42px;
	margin-left:18px;
	width:80px;
	height:27px;
	border-width:0px;
	color:#FFF;
	border-radius: 8px;
}