@charset "utf-8";
/* CSS Document */
/*products-cleansing*/
.clean_top{
	//float:left;
	height:169px;
	width:720px;
	padding-top:23px;
}
.clean_left{
	height:291px;
	width:70px;
	float:left;
	margin-top:20px;
}
.clean_left01{
	width:70px;
	height:32px;
	background-color:#bbdf9d;
	font-size:14px;
	color:#ffffff;
	text-align:center;
	line-height:32px;
}
.clean_left02{
	float:left;
	width:25px;
	height:179px;
	background-color:#f0ffe3;
	font-size:12px;
	color:#6eb92b;
	letter-spacing:17px;
	padding-left:10px;
	padding-top:80px;
}
.clean_left03{
	float:right;
	width:24px;
	height:255px;
	font-size:12px;
	color:#bbdf9d;
	letter-spacing:17px;
	padding-left:10px;
	border-style:none solid solid none;
	border-width:1px;
	line-height:14px;
	padding-top:4px;
	border-color:#f0ffe3;
}
.clean_right{
	width:720px;
}

.clean_right ul li{
	float:left;
	list-style: none;
	width:214px;	
}

.clean_txt01 ul li{
	list-style: none;
	width:130px;
}

.clean_right01{
	height:190px;
	width:214px;
	text-align:center;
	display: table-cell;
	vertical-align: middle;
	padding-top:25px;
}
.clean_right02{
	float:left;
	padding-top:106px;
	padding-bottom:10px;
	padding-left:116px;
}
.clean_right03{
//	float:left;
	padding-top:76px;
	padding-bottom:10px;
	padding-left:48px;
}
.clean_right04{
//	float:left;
	padding-top:51px;
	padding-bottom:10px;
	padding-left:25px;
}
.clean_txt01{
//	float:left;
//	width:158px;
	height:60px;
	font-size:12px;
	color:#999999;
	text-align:center;
}
.clean_right05{
//	float:left;
//	width:158px;	

}
.clean_detail{
	margin-top:8px;
	float:left;
	margin-left:59px;
    text-align:left;
    padding-left:15px;
	font-size:12px;
	background-color:#6eb92b;
	width:70px;
	height:18px;
	border-width:0px;
	color:#ffffff;
	border-radius:8px;
}
.clean_pic{
	margin-top:8px;
	margin-left:-16px;
}
/*products-group*/
.group_left{
	height:620px;
	width:70px;
	float:left;
	margin-top:20px;
}
.group_left02{
	float:left;
	width:25px;
	height:352px;
	background-color:#f0ffe3;
	font-size:12px;
	color:#6eb92b;
	letter-spacing:17px;
	padding-left:10px;
	padding-top:268px;
}
.group_left03{
	float:right;
	width:24px;
	height:434px;
	font-size:12px;
	color:#bbdf9d;
	letter-spacing:17px;
	padding-left:10px;
	border-style:none solid solid none;
	border-width:1px;
	padding-top:186px;
	border-color:#f0ffe3;
}
.group_right01{
	float:left;
	padding-top:25px;
	padding-bottom:10px;
	padding-left:15px;
}
.group_right02{
	float:left;
	padding-top:25px;
	padding-bottom:10px;
	padding-left:40px;
}
.group_right03{
	float:left;
	padding-top:25px;
	padding-bottom:10px;
	padding-left:35px;
}
.group_txt01{
	float:left;
	width:216px;
	font-size:12px;
	color:#999999;
	text-align:center;
}
.group_right04{
	float:left;
	width:216px;
}
.group_detail{
	margin-top:8px;
	float:left;
	margin-left:70px;
    text-align:left;
	background-color:#6eb92b;
	width:75px;
	height:18px;
	border-width:0px;
	color:#ffffff;
	border-radius:8px;
}
/*products-homecream*/
.cream_right{
	width:720px;
}

.cream_right ul li{
	float:left;
	list-style: none;
	width:160px;	
}

.cream_left{
	height:580px;
	width:70px;
	float:left;
	margin-top:20px;
}
.leftcontent_left{
	width:35px;
	height:548px;
	float:left;
	background-color:#f0ffe3;
}
.cream_left01{
	float:left;
	width:25px;
	font-size:12px;
	color:#6eb92b;
	letter-spacing:17px;
	padding-left:10px;
	padding-top:20px;
}
.cream_left02{
	float:left;
	width:16px;
	background-color:#bbdf9d;
	font-size:12px;
	color:#ffffff;
	letter-spacing:17px;
	margin-left:6px;
	padding-left:4px;
	margin-top:8px;
	margin-bottom:70px;
	border-radius:8px;
	border-width:0px;	
}
.cream_left03{
	float:right;
	width:24px;
	height:434px;
	font-size:12px;
	color:#bbdf9d;
	letter-spacing:17px;
	padding-left:10px;
	border-style:none solid solid none;
	border-width:1px;
	padding-top:112px;
	border-color:#f0ffe3;
}
.cream_right01{
	height:160px;
	width:160px;
	text-align:center;
	display: table-cell;
	vertical-align: middle;
	padding-top:25px;
}
.cream_right02{
	float:left;
	padding-top:125px;
	padding-bottom:10px;
	padding-left:75px;
}
.cream_right03{
	float:left;
	padding-top:65px;
	padding-bottom:10px;
	padding-left:60px;
}
.cream_right04{
	float:left;
	padding-top:113px;
	padding-bottom:10px;
	padding-left:40px;
}
.cream_right05{
	float:left;
	padding-top:125px;
	padding-bottom:10px;
	padding-left:30px;
}
.cream_right06{
	float:left;
	padding-top:125px;
	padding-bottom:10px;
	padding-left:70px;
}
.cream_right07{
	float:left;
	padding-top:65px;
	padding-bottom:10px;
	padding-left:55px;
}
.cream_right08{
	float:left;
	padding-top:113px;
	padding-bottom:10px;
	padding-left:35px;
}

.cream_detail{
	margin-top:8px;
	float:left;
	margin-left:39px;
    text-align:left;
    padding-left:15px;
	font-size:12px;
	background-color:#6eb92b;
	width:70px;
	height:18px;
	border-width:0px;
	color:#ffffff;
	border-radius:8px;
}

/*products-peeling*/
.peeling_left02{
	float:left;
	width:25px;
	height:194px;
	background-color:#f0ffe3;
	font-size:12px;
	color:#6eb92b;
	letter-spacing:17px;
	padding-left:10px;
	padding-top:65px;
}
.peeling_left03{
	float:right;
	width:24px;
	height:203px;
	font-size:12px;
	color:#bbdf9d;
	letter-spacing:17px;
	padding-left:10px;
	border-style:none solid solid none;
	border-width:1px;
	line-height:14px;
	padding-top:56px;
	border-color:#f0ffe3;
}
.peeling_right01{
	float:left;
	padding-top:105px;
	padding-bottom:10px;
	padding-left:24px;
}
.peeling_right02{
	float:left;
	padding-top:105px;
	padding-bottom:10px;
	padding-left:50px;
}
.peeling_right03{
	float:left;
	padding-top:13px;
	padding-bottom:10px;
	padding-left:50px;
}
.peeling_right04{
	float:left;
	padding-top:13px;
	padding-bottom:10px;
	padding-left:50px;
}
/*products-ind-slogan*/
.slogan_content{
	width:720px;
	float:left;
}
.slogan_left{
	height:240px;
	width:120px;
	float:left;
	margin-top:20px;
	border-top-left-radius:20px;
	background-color:#f0ffe3;	
}
.slogan_left01{
	font-size:24px;
	color:#bbdf9d;
	text-align:center;
	line-height:35px;
}
.slogan_left02{
	font-size:14px;
	color:#6eb92b;
	text-align:center;
}
.slogan_pic01{
	float:left;
	width:156px;
	height:240px;
	margin-top:20px;
	padding-left:30px;
}
.slogan_txt01{
	float:left;
	font-size:14px;
	color:#6eb92b;
	margin-top:50px;
}
.slogan_txt02{
	float:left;
	width:385px;
	margin-top:27px;
	font-size:12px;
	color:#999999;
}
.slogan_right{
	float:right;
	width:414px;
	height:260px;
}
.slogan_right01{
	width:100px;
	float:left;
}
.slogan_right02{
	float:left;
	width:414px;
}
.slogan_detail{
	margin-top:18px;
	float:left;
    text-align:left;
	background-color:#6eb92b;
	width:75px;
	height:18px;
	border-width:0px;
	color:#ffffff;
	border-radius:8px;
	font-size:12px;
	padding-left:10px;
}
.slogan_detail_book{
	margin-top:18px;
	float:left;
    text-align:left;
	background-color:#999999;
	height:18px;
	border-width:0px;
	color:#ffffff;
	border-radius:8px;
}

.slogan_pic{
	margin-top:18px;
	margin-left:-16px;
}
.slogan_left03{
	height:474px;
	width:120px;
	float:left;
	margin-top:20px;
	border-top-left-radius:20px;
	background-color:#f0ffe3;
}
.slogan_pic02{
	padding-top:48px;
	float:left;
	width:156px;
	height:192px;
	margin-top:20px;
	padding-left:30px;
}
