@charset "utf-8";
/* CSS Document */

#page_container1{
	width:970px;
	height:735px;
	margin:0 auto;
	//border-left:solid;
	//border-right:solid;
	border-color:#e7f6d9;
	margin-bottom:28px;
	border-width:1px;
}

.kv{
	width:970px;
	height:350px;
}

.media-movie{
	width:400px;
	height:226px;
	margin-top:20px;
	float:left;
}

.basket-ad1{
	width:253px;
	height:226px;
	margin-left:25px;
	margin-top:20px;
	float:left;
}

.basket-ad2{
	width:253px;
	height:100px;

}
.basket-ad3{
	width:253px;
	height:100px;
	margin-top:10px;
}

.img1{
	width:248px;
	text-align:center;
}
.img2{
	margin-top:10px;
	width:248px;}

.news-blank{
	width:270px;
	height:225px;
	margin-left:20px;
	float:left;
	margin-top:20px;
}

.new-head{
	height:23px;
	width:273px;
	background-color:#f0ffe3;
	border-bottom:solid;
	border-bottom-color:#bbdf9d;
	border-bottom-width:1px;
	}
	
.index-text1{
	font-family:Arial,'YouYuan','SimSun';
	font-weight:bold;
	color:#7fc244;
	font-size:14px;
	width:85px;
	padding-top:4px;
	text-align:center;
	float:left;	
}
.index-text2{
	font-family:Arial,'YouYuan','SimSun';
	font-weight:bold;
background-color:#bbdf9d;
	color:#FFF;
	font-size:14px;
	width:85px;
	height:21px;
	text-align:center;
	float:left;
	padding-top:3px;
	}
.back-color{	
	background-color:#3C3;
	width:85px;
	height:26px;
}
.last-blank{
	margin-top:20px;
	height:26px;
	margin-top:270px;
	font-family:Arial,'YouYuan','SimSun';
	font-weight:bold;
	color:#666666;
	font-size:15px;
	background-color:#F0F0F0;
}

.last-text-head{
	padding-top:3px;
	margin-left:4px;
	font-size:14px;
	letter-spacing: 3px;
	}
.last-wechat{
	width:250px;
	height:78px;
	float:left;
}

.last-weibo{
	margin-top:13px;
	width:301px;
	height:65px;
	float:left;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#e7ebf0;
	}
.little-words-under-weibo{
	font-family:Arial,'YouYuan','SimSun';
	margin-left:8px;
	margin-top:3px;
	color:#999999;
	font-size:11px;
	list-style-type:none;
}
	
	
.last-tell{
	margin-top:13px;
	margin-left:65px;
	width:285px;
	height:65px;
	float:left;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#e7ebf0;
}

.last-online{
	margin-left:65px;
	margin-top:13px;
	width:220px;
	height:78px;
	float:left;
}
.deep-gray-twen{
	font-size:12px;
	font-family:Arial,'YouYuan','SimSun';;
	color:#666666;
	list-style-type:none;
	float:none;
	margin-top:-14px;
	color:#000;
	margin-left:-15px;
}
.position-ul-next{
	margin-left:-40px;
	margin-top:-4px;
}
.last-text-tail{
	font-size:12px;
	color:#666666;
	font-family:Arial,'YouYuan','SimSun';
	font-weight:bold;
	margin-left:6px;
	padding-top:6px;
	float:left;
}
.last-text-tail-small-ulul{
	margin-top:-9px;
	margin-left:-40px;
	}
.last-text-tail-small{
	font-size:11px;
	color:#a7a7a7;
	font-family:Arial,'YouYuan','SimSun';
	font-weight:bold;
	margin-top:-4px;
	list-style-type:none;
	margin-left:-0px;
}
.last-text-tail-small-last{
	font-size:11px;
	color:#a7a7a7;
	font-family:Arial,'YouYuan','SimSun';
	font-weight:bold;
	margin-top:-7px;
	list-style-type:none;
	margin-left:-60px;
}
.last-text-tail-small-last-ululul{
	margin-top:-20px;
	margin-left:-42px;
}


.news-text1{
	width:270px;
	height:65px;
	font-family:Arial,'YouYuan','SimSun';
	font-weight:bold;
	font-size:11px;
	color:#666666;
	list-style-type:none;
    padding-top:13px;
	float:left;

	line-height:13px;
	border-bottom:dashed;
	border-bottom-color:#F0F0F0;
	border-bottom-width:1px;
}

.news-text2{
	width:270px;
	height:65px;
	font-family: Arial,'YouYuan','SimSun';
	font-size:11px;
	font-weight:bold;
	color:#666666;
	list-style-type:none;
    padding-top:13px;
	float:left;

	line-height:13px;
	border-bottom:dashed;
	border-bottom-color:#F0F0F0;
	border-bottom-width:1px;
}
.new-banner{
	float:left;
	width:33px;
	margin-left:13px;
}

.mar1{
	margin-left:15px;
	margin-top:-10px;
	list-style-type:none;
}
	
.mar2{
	margin-left:15px;
	list-style-type:none;
}
	
	.bacground-green{
		background-color:#bbdf9d;
		width:85px;
	height:26px;

	}

.bacground-white-green{
	background-color:#f0ffe3;
	width:85px;
	height:19px;
}
	
	.position{
		height:20px;
		}
		
.index-text2-color{
	background-color:#3C3;
}

.text-color{
	color:#6eb92b;
	}
		
.text-white{
	color:#FFF;
}
